$purple: #421953;
$orange: #fd7659;
$white: #fff;
$purple2: #7d3d97;

.rlondon {
	font-family: "Georgia", "Arial", sans-serif !important; 
	margin-bottom: 100px;
}

.rlondon_top {
	margin-top: 40px;
	padding: 40px;
	background: url(/images/bg.jpg) no-repeat 100% /cover;
	text-align: center;
	h2 {
		font-family: "Georgia", "Arial", sans-serif !important; 
		color: $orange !important;
		font-size: 2em !important;
	}
	p {
		color: $white !important;
		font-family: "Georgia", "Arial", sans-serif !important; 
	}
}

.rlondon_clock {
	margin-top: 40px;
	img {
		width: auto;
		max-width: 100%;
		margin-bottom: 20px;
	}
	p {
		font-family: "Georgia", "Arial", sans-serif !important; 	
	}
	a {
		font-weight: 700 !important;
		font-family: "Georgia", "Arial", sans-serif !important;
		img {
			display: block;
			margin-bottom: 10px;
		}
	}
	h2 {
		font-size: 1.75em !important;
		font-weight: 700 !important;
		color: $orange !important;
		font-family: "Georgia", "Arial", sans-serif !important; 
	}
}

.rlondon_principles {
	display: flex;
	flex-wrap: wrap;
	div {
		flex: auto;
		margin-bottom: 10px;
		border: 1px solid rgba(0,0,0,.2);
		h3 {
			padding: 5px 10px;
			background-color: $purple;
			margin: 0 !important;
			color: $white !important;
			font-size: 1.2em !important;
			font-family: "Georgia", "Arial", sans-serif !important;
		}
		p {
			padding: 20px;
		}
	}
}

.rlondon_assets {
	margin-top: 40px;
	&_header {
		background: $purple2 url(/images/purple2.jpg) no-repeat 100%/auto 100%;;
		padding: 30px 100px 20px 40px;
		h2 {
			color: $white !important;
			font-family: "Georgia", "Arial", sans-serif !important;
			font-size: 2.5em !important;
		}
	}
	&_item {
		background: $purple;
		display: -webkit-flex;
		display: flex;
		padding: 20px;
		margin-top: 10px;
		h3 {
			color: $white !important;
			font-family: "Georgia", "Arial", sans-serif !important;
			font-size: 1.75em !important;
			margin:0 0 20px 0 !important;
		}
		p {
			color: $white !important;
			font-family: "Georgia", "Arial", sans-serif !important;
		}
		div {
			&:first-child {
				width: 25%;
				max-width: 100px;
				margin-right: 25px;
			}
			&:last-child {
				width: 70%;
			}
		}
		img {
			width: 100%;
		}
	}
}

.rlondon_btn {
	font-family: "Georgia", "Arial", sans-serif !important;
	text-decoration: none !important;
	color: $white !important;
	background: $orange !important;
	padding: 5px 20px;
	border-radius: 10px;
	font-size: 1.2em !important;
	display: inline-block;
	&.-sm {
		margin: 0 0 20px 0!important;

	}
}
span.rlondon_btn {
	margin: 0;
	display: inline-block;
}

.rlondon_disclaimer  {
	padding-top: 10px;
	border-top: 1px solid rgba(0,0,0,.1);
	margin: 20px 0;
	p {
		font-family: "Georgia", "Arial", sans-serif !important;
		font-size: .8em !important;
	}
}
