$dark-green: #00464a;
$green: rgb(0,71,82);
$white: #f7f6f3;

.maincontent h1 {
	color: $green !important;
}
#banner {
	display: none !important;
}
#bespoke-page {
	padding-top: 0 !important;
}

html,
body {
	padding: 0;
	margin: 0;
}

.mg_si {
	width: 100%;
	max-width: 1560px;
	margin: 0 auto;
	padding: 0;
	font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
	* {
		box-sizing: border-box;
	}

	@media(max-width: 1660px) {
		max-width: 1170px;
	}

	@media(max-width: 992px) {
		max-width: 780px;
	}
	img {
		max-width: 100%;
	}
}

.mg_si__header {
	width: 100%;
	height: 50vw;
	max-height: 500px;
	min-height: 350px;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	._bg {
		position: absolute;
		width: 100vw;
		top: 0;
		left: 50%;
		transform: translate(-50%);
		height: 100%;
		background-size: cover;
		background-position: top center;
	}

	._content {
		display: flex;
		padding: 4rem;
		position: relative;
		justify-content: space-between;
		align-items: flex-end;
		._title {
			font-size: 60px;
			line-height: 65px;
			max-width: 450px;
			color: $white;
			font-weight: 600;

			@media (max-width: 768px) {
				font-size: 35px;
				line-height: 40px;
			}
		}
	}

	._logo {
		position: absolute;
		top: 2rem;
		right: 2rem;
		@media (max-width: 480px) {
			top: 1rem;
			right: 1rem;
		}
		img {
			width: 175px;
			@media (max-width: 480px) {
				width: 100px;
			}
		}		
	}
}

.mg_si__main {
	display: flex;
	align-items: flex-start;
	@media(max-width: 992px) { 
		flex-direction: column;
	}
}

a.mg__button {
	width: auto;
	margin: 10px 0;
	color: white !important;
	text-decoration: none !important;
	display: inline-block !important;
	padding: 10px 20px;
	background: $dark-green;
}

.mg_si__content {
	flex: 1 0 0;
	margin: 0 40px 40px 0;

	._intro {
		padding: 6rem 4rem 2rem;
		h2 {
			font-size: 32px !important;
			margin-bottom: 40px !important;
			position: relative;
			&:after {
				content: "";
				width: 150px;
				height: 4px;
				border-radius: 5px;
				position: relative;
				display: block;
				margin-top: 10px;
				background-color: #4caf50;
			}
		}
		p {
			margin-bottom: 20px;
			font-size: 16px !important;
			line-height: 28px !important;
		}
	}
}

.mg_si__contact {
	width: 350px;
	@media (max-width: 1199px) {
		width: 265px;
	}
	@media(max-width: 992px) { 
		width: 100%;
	}
}


.mg-si_videos {
	div {
		a {
			width: auto;
			margin: 10px 0;
			color: white !important;
			text-decoration: none !important;
			display: inline-block !important;
			padding: 10px 20px;
			background: $dark-green;
		}
	}
}



// Carousel
._ms-carousel {
	display: block;
	width: 100%; 
	height: 460px;
	background: rgba(black,.15);
	position: relative;
	@media(max-width: 1199px) {
		height:640px;
	}
	ul {
		display: block;
		width: 100%;
		height: 100%;
		position: relative;
		li {
			position: absolute; 
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			opacity: 0;
			transition: all .35s ease-in-out;
			&.is-active {
				z-index: 1;
				opacity: 1;
				a img {
					transform: rotateY(5deg);
					@media(max-width: 701px) {
						transform: none;
					}
				}
			}
		}
	}
	._navs {
		& > div {
			position: absolute;
			width: 32px;
			height: 32px;
			background: $green;
			top: 50%;
			color: white;
			text-align:center;
			line-height: 32px;
			transform: translate(0, -50%);
			z-index: 2;
			cursor: pointer;
			box-shadow: 0 0 10px rgba(black, .2);
			@media(max-width: 701px) { 
				top:25%;
			}
		}
		#prev {
			left: 10px;
		}
		#next {
			right: 10px;
		}
	}
}

.mg-si_videos {
	list-style: none;
	margin:0;
	padding: 0;
	width: 100%;
	margin: 50px 0;
	&_title {
		font-size: 1.35em;
		font-weight: 700;
	}
	li {
		display: flex;
		padding: 0;
		align-items: center;
		width: 85%;
		@media(max-width: 701px) {
			display: block;
		}
		> a {
			display: block;
			width: 50%;
			margin-right: 50px;
			perspective: 100px;
			img {
				width: 100%;
				display: block;
				transform: rotateY(0deg);
				box-shadow: 0 0 40px rgba(black, .3);
				transition: all .35s ease-in-out;
				@media(max-width: 701px) {
					transform: none;
				}
			}
			@media(max-width: 701px) {
				width: 100%;
				margin: 0 0 15px 0;
			}
		}
		& > div {
			width: 50%;
			a {
				// width: 100%;
				text-align: center;
			}
			@media(max-width: 701px) {
				width: 100%;
			}
		}
	}
	
}

.mg__funds {
	._item {
		display: flex;
		align-items: center;
		img {
			width: 45px;
			margin-right: 20px;
		}
	}
}

.mg__brochures {
	display: flex;
	flex-wrap: wrap;
	margin-left: -1rem;

	._item {
		width: calc(50% - 2rem);
		max-width: 300px;
		margin: 1rem;
		display: flex;
		flex-direction: column;
		text-decoration: none !important;
		color: black;

		@media (max-width: 620px) {
			width: 100%;
			max-width: 320px;
		}
		._img {
			box-shadow: 0 5px 40px rgba(black, .1);
		}
		._content {
			padding: 20px 0;
			flex: 1 0 auto;
			display: flex;
			flex-direction: column;
			// align-items: center;

			._title {
				font-size: 18px !important;
				font-weight: bold !important;
				line-height: 24px !important;
			}

			._subtitle {
				color: rgba(black, .35);
				font-size: .75em;
				margin-top: 10px;
			}
		}
	}
}

.mg_si__contact {
	background: $green;
	margin-top: 4rem;
	color: $white;
	padding: 3rem 2rem;
	margin-right: 2rem;
	@media (max-width: 992px) {
		margin-top: 2rem;
		margin-bottom: 2rem;
	}

	._content {
		display: flex;
		._img {
			width: 100px;
			margin-right: 20px;
		}
		h3 {
			margin-top: 0 !important;
			color: $white !important;
		}

		a {
			display: block;
			color: $white !important;
			font-size: 18px;
			margin-top: 10px;
		}

		p {
			font-size: 1rem;
			&.-sm {
				font-size: .75em;
			}
		}
	}

	a.mg__button {
		margin-top: 2rem;
		display: block;
		width: 100%;
		background: $white;
		color: $green !important;
		text-decoration: none !important;
		text-align: center;
		border-radius: 5px;
	}
}