$white: #fff;
$black: #000;

$green: #337a80;
$purple: #692163;


html {
	scroll-behavior: smooth;
}

.maincontent h1 {
	display: none !important;
}

#seneca {
	width: 100%;
	max-width: 1170px;
	margin: 0 auto;
	font-family: 'Helvetica', 'Arial', sans-serif;

	* {
		box-sizing: border-box;
	}

	@media(max-width: 992px) {
		max-width: 780px;
	}
	img {
		max-width: 100%;
	}

	p {
		&.-note {
			font-size: .85em !important;
			opacity: .5;
		}
	}
}

.seneca__content {
	display: flex;
	margin-bottom: 40px;
	padding-bottom: 40px;
	border-bottom: 2px solid $purple;

	&-links {
		display: flex;
		justify-content: space-between;
		width: calc(100% + 20px);
		text-align: center;
		@media(max-width: 500px) {
			flex-wrap: wrap;
		}
		a {
			margin: 20px 20px 0px 0;
			border-radius: 5px;
			display: inline-block;
			background: $green;
			color: $white !important;
			text-decoration: none !important;
			font-size: 1.25em;
			font-weight: normal;
			padding: 10px 35px;
			transition: all .2s ease-in-out;
			&:hover {
				background: $purple;
			}
			@media(max-width: 992px) {
				width: 100%;
				margin: 10px 20px 0px 0;
			} 
		}
	}
}

.seneca__left {
	margin-right: 80px;
	width: 100%;
	@media(max-width: 992px) {
		margin-right: 0px;
	}

	picture  {
		display: block;
		margin-bottom: 40px;
	}
}

.seneca__right {
	width: 450px;
	
	@media(max-width: 992px) {
		display: none;
	}
}

.seneca__banner {
	
	background: url('/images/seneca-background.jpg');
	background-size: cover;
	background-position: center;
	overflow: hidden;
	position: relative;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	flex-direction: column;

	&.-row {
		@media(min-width: 520px) {
			flex-direction: row;
			background-position: right bottom;
		}
	}

	&.-column {
		height: 100%;	
	}

	&-content {
		background: $green;
		position: relative;
		padding: 0 20px 20px;
		& > * {
			position: relative;
			z-index: 1;
		}

		&:before,
		&:after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: $green;
			transform: skewY(20deg);
			transform-origin: top right;
			z-index: 0;
		}
		&:before {
			background: $purple;
			transform: skewY(20deg) translateY(-8px);
		}

		img {
			display: block;

			width: 75%;
			margin: -20px auto 0; 
		}

		p {
			text-align: center;
			font-weight: bold !important;
			padding: 0 !important;
			font-size: 20px !important;
			margin: 40px 0 !important;
			color: $white !important;
		}

		._bottom {
			display: flex;
			justify-content: space-between;
			a {
				display: inline-block;
				font-size: .85em !important;
				color: $white;
				text-decoration:  none !important;
			}
		}

		a {
			span {
				display: none;
			}
		}
	}

	&.-row {
		
		@media(min-width: 520px) {
			
			.seneca__banner-content {

				padding: 20px 0;

				img {
					margin: 0 auto;
				}

				p {
					width: 75%;
					margin: 40px auto 20px !important;
				}
				
				&:before,
				&:after {
					transform: skew(-20deg, 0);
					transform-origin: top left;
				}
				&:before { 
					transform: skew(-20deg, 0) translate(-8px, 0);
				}

				._bottom {
					max-width: 75%;
					margin: 0 auto;
				}
			}

		}

		@media(max-width: 519px) {

			display: block;
			
			.seneca__banner-content {
				margin-top: 350px;
				max-width: 100%;
			}

		}

	}
}


.seneca__books {
	text-align: center;
	&__title {
		color: $purple;
		font-size: 24px;
	}
	&__list {
		margin: 40px 0;
		display: flex;
		justify-content: space-between;
		width: calc(100% + 20px);

		@media (max-width: 575px) {
			flex-wrap: wrap;
		}

		._item {
			margin-right: 20px;
			margin-bottom: 40px;

			@media (max-width: 575px) {
				width: 100%;
				margin-bottom: 40px;
			}
			a.seneca-brochure-img-link {
				display: block;
				margin: 0 auto 20px;
				width: 100%;
				max-width: 250px !important;
				@media (max-width: 575px) {
					max-width: 150px !important;
				}
			}
			img {
				display: block;
				margin: 0 auto 20px;
				width: 100%;
				max-width: 250px !important;
				transition: all .2s ease-in-out;

				&:hover {
					transform: scale(1.025);
				}
				@media (max-width: 575px) {
					max-width: 150px !important;
				}
			}
			a.seneca-brochure-text-link {
				color: $purple;
				padding: 10px 35px;
				display: inline-block;
				border: 2px solid $purple;
				background: $white;
				width: 100%;
				border-radius: 8px;
				font-size: 1.25em !important;
				text-decoration: none !important;
				transition: all .2s ease-in-out;

				&:hover {
					background: $purple;
					color: $white;
				}

				@media (max-width: 575px) {
					width: 225px;
				}
			}
		}
	}
}

.seneca__bottom {
	padding-bottom: 30px;
	margin-bottom: 40px;
	border-bottom: 2px solid $purple;
}

.seneca__disclaimer {
	margin-bottom: 100px;
	p {
		color: rgba($black, .5);
		font-size: .9em !important;
	}
}

.seneca-logo-link  {
	display: inline-block;
	width: 100%;
}


