@import url('https://fonts.googleapis.com/css?family=Playfair+Display:700|Source+Sans+Pro:400,700&display=swap');

$white: #fff;
$black: #333;
$blue: #007bc4;
$grey: #343c3d;
$orange: #ec4d33;
$green: #718f12;
$greenLight: #b4cb05;

$title: 'Playfair Display', serif;
$text: 'Source Sans Pro', sans-serif;
$titleSize: 24px;

$boxShadow: 0 10px 40px rgba($black, 0.1);
$boxShadowHover: 0 10px 50px rgba($black, 0.2);

%gradient {
	background: linear-gradient(135deg, rgba($grey, .75),transparent);
}

%gradientTwo {
	background: linear-gradient(rgba($grey, .25),transparent);
}

%gradientThree {
	background: linear-gradient(rgba($grey, .75),transparent);
}

.maincontent h1 {
	display: none;
}

html,
body {
	overflow-x: hidden;
	width: 100%;
	margin: 0;
	padding: 0;
}

.axa {
	width: 100%;
	max-width: 1170px;
	font-family: $text;
	margin: 0px auto 0;
	color: $black;
	font-size: 16px;
	line-height: 1.5em !important;

	* {
		box-sizing: border-box;
	}

	@media(max-width: 1199px) {
		max-width: 970px;
	}
	@media(max-width: 991px) {
		max-width: 750px;
	}
}


.axa {
	._header {
		._logo {
			img {
				width: 200px;
			}
		}
	}
	._top__banner {
		width: 100%;
		position: relative;
		padding-top: 20vw;
		height: auto;
		min-height: 175px;
		
		&:before {
			content: "";
			position: absolute;
			width: 100vw;
			height: 100%;
			top: 50%;
			left: 50%; 
			transform: translate(-50%, -50%);
			background: url('/images/axa__top-banner.jpg');
			background-size: cover;
		}
	}
}

.axa {
	._section-1 {
		display: flex;
		@media(max-width: 660px) {
			flex-wrap: wrap;
		}
		& > div {
			width: 50%;
			@media(max-width: 660px) {
				width: 100%;
			}
		}

		._col-2 {
			margin-left: 60px;
			@media(max-width: 660px) {
				margin-left: 0;
			}
		}
	}

	&__about {
		margin: 60px 60px 60px 0;
		@media(max-width: 991px) {
			margin: 60px 0;
		}
		._title {
			font-family: $title;
			font-size: $titleSize;
			color: $blue;
			margin-bottom: 30px;
		}
	}

	._content {
		display: flex;
		@media (max-width: 991px) {
			flex-direction: column;
		}
		@media (max-width: 660px) {
			flex-direction: row;
		}
		@media (max-width: 480px) {
			flex-direction: column;
		}
	}

	&__contact {
		position: relative;
		padding: 30px 0;
		display: flex;
		&:before {
			content: "";
			position: absolute;
			top: 0;
			left: 50%;
			width: 200vw;
			height: 100%;
			background: rgba($blue, 0.75);
			transform: translate(-50%);
			z-index: -1;
		}
		._title {
			font-family: $title;
			font-size: 20px;
			color: $white;
			margin-right: 40px;
		}
		._contacts {
			margin-right: 40px;
			& > div {
				display: flex;
				align-items: center;
				&:first-child {
					margin-bottom: 10px;
				}
				img {
					width: 22px;
					height: 22px;
					margin-right: 10px;
				}
				a {
					color: $white;
					white-space: nowrap;
					font-size: 18px;
					text-decoration: none !important;
				}
			}
		}
	}

	._social {
		@media (max-width: 991px) {
			margin-top: 20px;
		}
		@media (max-width: 660px) {
			margin-top: 0px;
		}
		@media (max-width: 480px) {
			margin-top: 20px;
		}
		&-title {
			color: rgba($white, .5);
			margin-bottom: 5px;
			@media (max-width: 991px) {
				display: none;
			}
			@media (max-width: 660px) {
				display: block;
			}
		}
		img {
			width: 32px;
			height: 32px;
			margin-right: 8px;
		}
	}

	&__items {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		height: 100%;
		margin-top: -60px;
		position: relative;
		@media(max-width: 660px) {
			margin-top: 40px;
			display: block;
		}
		._item {
			flex: 1 0 auto;
			background: $white;
			margin-bottom: 20px;
			box-shadow: $boxShadow;
			position: relative;
			max-height: 175px;
			padding: 20px 40px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: flex-start;
			@media(max-width: 660px) {
				padding: 40px;
			}

			&:after {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				@extend %gradient;
			}
			&:last-child {
				margin-bottom: 0;
			}

			._img {
				transition: opacity .2s ease-in-out;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				overflow: hidden;
				img {
					position: absolute;
					top: 0;
					max-width: none;
					object-fit: cover;
					transition: filter .2s ease-in-out;
				}
			}

			._title {
				font-family: $title;
				position: relative;
				color: $white;
				z-index: 1;
				font-size: 20px;
				margin-bottom: 10px;
			}
			a {
				position: relative;
				z-index: 1;
			}

			&:hover {
				._img {
					opacity: .85;
					img {
						filter: blur(1px);
					}
				}
			}
		}
	}
}

.axa__button {
	display: inline-block;
	color: $white;
	text-transform: uppercase;
	text-decoration: none !important;
	font-size: 14px !important;
	background-color: #f07662;
	border-bottom: 2px solid $orange;
	padding: 5px 20px;
	position: relative;
	overflow: hidden;
	box-shadow: $boxShadowHover;
	span {
		position: relative;
		z-index: 1;
	}
	&:after {
		content: "";
		position: absolute;
		width: 120%;
		height: 100%;
		background: $orange;
		top: 0;
		left: 50%;
		transform: skew(-25deg) translate(-50%) scale(0, 1);
		opacity: 0;
		transition: transform .2s ease-in-out, 
					opacity .2s ease-in-out;
	}

	&:hover {
		color: $white !important;
		&:after {
			transform: skew(-25deg) translate(-50%) scale(1, 1);
			opacity: 1;
		}
	}
}

.axa {
	._section-2 {
		padding: 60px 0;
		position: relative;
		&:after {
			content: "";
			position: absolute;
			top: 0;
			left: 50%; 
			transform: translate(-50%);
			width: 100vw;
			height: 150%;
			@extend %gradientTwo;
		}
		._title {
			font-family: $title;
			font-size: 20px;
		}

		._items {
			display: flex;
			justify-content: space-between;
			margin-top: 30px;
			@media (max-width: 575px) {
				flex-wrap: wrap;
			}
			._item {
				box-shadow: $boxShadow;
				width: 24%;
				padding-top: 24%;
				position: relative;

				@media (max-width: 575px) {
					width: calc(50% - 5px);
					padding-top: 35%;
					margin-bottom: 10px;
				}

				&:after {
					content: "";
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					@extend %gradientThree;
				}
				
				._title {
					font-size: 20px;
					color: $white;
					position: absolute;
					text-align: center;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					z-index: 1;
				}

				._img {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					overflow: hidden;

					img {
						transition: transform .25s ease-in-out, filter .25s ease-in-out;
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
						width: 100%;
					}
				}

				a {
					position: absolute;
					display: block;
					width: 100%;
					height: 100%;
					top: 0;
					left: 0;
					z-index: 1;
					span {
						display: none;
					}
				}

				&:hover {
					._img {
						img {
							transform: translate(-50%, -50%) scale(1.05);
							filter: blur(1px);
						}
					}
				}
			}
		}
	}
}

.axa {
	._section-3 {
		margin-bottom: 40px;
		background: url('/images/axa__banner-8.jpg');
		background-size: cover;
		background-position: 50% 100%;
		display: flex;
		justify-content: flex-end;
		padding: 60px;
		box-shadow: $boxShadow;
		position: relative;
		overflow: hidden;
		@media(max-width: 490px) {
			padding: 40px 20px;
			margin: 0 -20px;
			width: calc(100% + 40px);
		}

		&:before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 12vw;
			height: 25vw;
			background: $greenLight;
			transform-origin: 0 0;
			transform: skew(-30deg);
		}

		&:after {
			content: "";
			position: absolute;
			top: 35%;
			left: 25%;
			width: 12vw;
			height: 25vw;
			background: rgba($blue, .1);
			transform-origin: 0 0;
			transform: skew(-30deg) translate(0, -50%);
		}
	}
}

.axa__academy {
	width: 50%;
	@media(max-width: 768px) {
		width: 75%;
	}
	@media(max-width: 490px) {
		width: 100%;
	}
	._titles {
		text-align: center;
		._title {
			color: $green;
			font-family: $title;
			font-size: 64px;
			line-height: 0.9em;
			margin-bottom: 5px;
			@media(max-width: 490px) {
				font-size: 40px;
			}
		}
		._subtitle {
			color: $green;
			font-size: 24px;
			@media(max-width: 490px) {
				font-size: 18px;
			}
		}
	}

	._content {
		background: $white;
		margin-top: 60px;
		padding: 40px;
		position: relative;
		box-shadow: $boxShadow;
		z-index: 1;

		@media(max-width: 490px) {
			margin-top: 30px;
		}

		p {
			font-family: $text !important;
			margin: 0 0 20px 0;
			padding: 0;
			font-size: 16px !important;
			@media(max-width: 490px) {
				font-size: 14px !important;
			}
		}

		.axa__button {
			position: absolute;
			bottom: -2px;
			right: -2px;
		}
	}
}

.axa {
	._section-4 {
		margin: 60px 0;
		display: flex;
		@media (max-width: 540px) {
			flex-wrap: wrap;
		}

		._col-1 {
			flex: 1 0 0;
			margin-right: 60px;
			._title {
				font-family: $title;
				font-size: 20px;
				color: $blue;
				margin-bottom: 20px;
			}
			@media (max-width: 991px) {
				width: 48%;
				margin-right: 20px;
			}
			@media (max-width: 540px) {
				width: 100%;
				margin-right: 0px;
				margin-bottom: 20px;
			}
		}

		._col-2 {
			width: 380px;
			border-radius: 5px;
			border: 1px solid rgba($black, .1);
			box-shadow: $boxShadow;
			padding: 10px 20px 0 20px;

			@media (max-width: 991px) {
				width: 48%;
			}
			@media (max-width: 540px) {
				width: 100%;
				height: 320px;
			}
		}
	}
}

.axa__twitter {
	height: 100%;
}

.axa__news {
	._news {
		box-shadow: $boxShadow;
		padding: 20px;
		margin-bottom: 20px;
		position: relative;
		border: 1px solid rgba($black, .1);
		box-shadow: $boxShadow;
		border-radius: 5px;
		transition: all .1s ease-in-out;
		._news-title {
			font-family: $title;
			font-size: 18px;
			color: $black;
			transition: all .1s ease-in-out;
		}
		._date {
			font-size: 12px;
			opacity: .5;
			span {
				text-transform: uppercase;
				opacity: .5;
			}
		}
		._link {
			margin-top: 5px;
			color: $blue;
			display: flex;
			align-items: center;
			text-transform: uppercase;
			font-size: 13px !important;
			img {
				margin-left: 5px;
				width: 12px;
				transition: all .1s ease-in-out;
			}
		}
		a {
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			span {
				display: none;
			}
		}

		&:hover {
			box-shadow: $boxShadowHover;
			._link {
				img {
					transform: translate(3px);
				}
			}
		}
	}
}