link(rel="stylesheet", href="css/contact.css")

#si-hermes
	
	._contact
		._top
			div Get in touch
		._bottom
			._person
				._name Hannah Rosley
				._position Manager - UK & Ireland Wholesale
			
			a(href="mailto:Hannah.Rosley@hermes-investment.com" title="Contact Hermes Investment Management")
				img(src="/images/si-hermes-email.png", alt="Email")