link(rel="stylesheet", href="css/index.css")

#si-hermes 
	
	._header
		//- ._top
			a(href="https://www.hermes-investment.com" title="Hermes Investment Management" target="_blank" rel="nofollow")
				img(src="/images/si-hermes-logo.png", alt="Hermes Investment Management")
		//- ._featured
			div Hermes is a leading responsible investor and continues to be at the vanguard of #[strong ESG investing] after more than three decades of leading the way in ESG integration and engagement.


		p Hermes is a leading responsible investor and continues to be at the vanguard of #[strong ESG investing] after more than three decades of leading the way in ESG integration and engagement.
		
		p Aiming to help people retire better by providing world-class investment and stewardship services, we seek holistic returns: outcomes for clients that go far beyond the financial and consider the impacts our decisions have on society, the environment and the wider world.
		
		p To truly understand ESG investing, it is important to explore the evolution of this investment approach and its diverse applications.


	//- ._row
		._col
			p Aiming to help people retire better by providing world-class investment and stewardship services, we seek #[a(href="https://www.hermes-investment.com/ukw/about-us/responsibility/delivering-holistic-returns/" title="holistic returns: outcomes for clients" target="_blank") holistic returns: outcomes for clients] that go far beyond the financial and consider the impacts our decisions have on society, the environment and the wider world.
			p To truly understand ESG investing, it is important to explore the evolution of this investment approach and its diverse applications.
		
		._col
			
			._asset
				._img
					img(src="/images/si-hermes-under-management.png", alt="")
				._content
					._title Assets under management
					._value more than
						span £30bn

			._asset
				._img
					img(src="/images/si-hermes-under-advice.png", alt="")
				._content
					._title Assets under advice
					._value more than
						span £330bn


	h2 Explore sustainable investing at Hermes
	
	._video
		a(href="https://play.buto.tv/PfdHw" title="sustainable investing at Hermes" rel="nofollow" target="_blank")
			img(src="/images/si-hermes-video.jpg", alt="sustainable investing at Hermes")
		._about
			._title An asset manager with a difference
			p At Hermes, our primary purpose is to help our clients retire better by providing-world class active investment management and stewardship services. Alongside this is a commitment to delivering holistic returns - outcomes that consider the impact our decisions have on society, the environment and the wider world. We aim to help people invest better and retire better, while at the same time creating a better society for all.


	._pdfs

		._pdf
			._img
				img(src="/images/si-hermes-pdf-1.jpg", alt="ESG Investing: It still makes you fell good, it still makes you money")
				._icon
					img(src="/images/si-hermes-pdf.png", alt="PDF")
			p ESG investing provides more than a feel-good factor: it can also be good for portfolio performance.
			a(href="https://www.hermes-investment.com/wp-content/uploads/2018/10/hermes-esg-investing.pdf" title="ESG Investing: It still makes you fell good, it still makes you money" target="_blank" rel="nofollow") 
				span ESG Investing: It still makes you fell good, it still makes you money



		._pdf
			._img
				img(src="/images/si-hermes-pdf-2.jpg", alt="Equitorial")
				._icon
					img(src="/images/si-hermes-pdf.png", alt="PDF")
			p The need for valuable ESG data sources continues to grow, fuelling the evolution of our bespoke analytical tool, the ESG Dashboard.
			a(href="https://www.hermes-investment.com/wp-content/uploads/2018/11/hermes-equitorial-newsletter-q4-17.pdf" title="Equitorial" target="_blank" rel="nofollow")
				span Equitorial

		._pdf
			._img
				img(src="/images/si-hermes-pdf-3.jpg", alt="Guide to ESG Investing")
				._icon
					img(src="/images/si-hermes-pdf.png", alt="PDF")
			p What is environmental, social and governance (ESG) investing?
			a(href="https://www.hermes-investment.com/wp-content/uploads/2018/11/guide-to-esg-investing-final.pdf" title="Guide to ESG Investing" target="_blank" rel="nofollow")
				span Guide to ESG Investing

	._podcast
		._content
			._img
				img(src="/images/si-hermes-podcast.png", alt="Poscast Hermes Investment Management")
			._titles
				._subtitle Hermes podcast
				._title Why there's no going back on ESG
		a(href="https://www.hermes-investment.com/ukw/podcast/stewardship/amplified-why-there-is-no-going-back-on-esg/" title="Why there's no going back on ESG" target="_blank" rel="nofollow")
			img(src="/images/si-hermes-arrow-1.png", alt="Link")


	._infographics

		._item
			._img
				img(src="/images/si-hermes-infographic-1.jpg", alt="Bringing clarity to ESG investing")
			._title 
				img(src="/images/si-hermes-chart-1.png", alt="Chart")
				div Bringing clarity to ESG investing
			a(href="https://www.hermes-investment.com/ukw/insight/equities/bringing-clarity-to-esg-investing/" title="Bringing clarity to ESG investing" target="_blank" rel="nofollow")
				span Bringing clarity to ESG investing

		._item.-turquoise
			._img
				img(src="/images/si-hermes-infographic-2.png", alt="Delivering holistic returns")
			._title 
				img(src="/images/si-hermes-chart-2.png", alt="Chart")
				div Infographic: Delivering holistic returns
			a(href="https://www.hermes-investment.com/ukw/about-us/responsibility/delivering-holistic-returns/" title="Delivering holistic returns" target="_blank" rel="nofollow")
				span Delivering holistic returns


	._pdfs
		
		._pdf
			._img
				img(src="/images/si-hermes-pdf-4.jpg", alt="Integrating ESG risk")
				._icon
					img(src="/images/si-hermes-pdf.png", alt="PDF")
			p Integrating environmental, social and governance risk analysis into our investments.
			a(href="https://www.hermes-investment.com/wp-content/uploads/2018/11/hermes-esg-matters.pdf" title="Integrating ESG risk" target="_blank" rel="nofollow")
				span Integrating ESG risk

		._pdf
			._img
				img(src="/images/si-hermes-pdf-5.jpg", alt="The Why question")
				._icon
					img(src="/images/si-hermes-pdf.png", alt="PDF")
			p In this paper, Hermes CEO Saker Nusseibeh argues that the current  ‘professional’ understanding of investment theory seems to frame the financial world almost as entirely separate from the real world that ordinary investors and beneficiaries live and work in.
			a(href="https://www.hermes-investment.com/ukw/insight/outcomes/the-why-question/" title="The Why question" target="_blank" rel="nofollow")
				span The Why question

		._pdf
			._img
				img(src="/images/si-hermes-pdf-6.jpg", alt="Pricing ESG risk in credit markets")
				._icon
					img(src="/images/si-hermes-pdf.png", alt="PDF")
			p In order to analyse ESG risks with greater precision, we have developed a pricing model to capture the influence of these factors on credit instruments.
			a(href="https://www.hermes-investment.com/wp-content/uploads/2018/11/hermes-credit-esg-paper-april-2017.pdf" title="Pricing ESG risk in credit markets" target="_blank" rel="nofollow")
				span Pricing ESG risk in credit markets

	h2 Hermes featured funds

	p All Hermes funds integrate ESG, here we feature three:

	._funds

		._fund
			._title Hermes Global Equity ESG
			._content 
				p Aims to achieve long-term capital appreciation by investing in worldwide equity securities with favourable ESG characteristics.
				a(href="https://www.hermes-investment.com/ukw/fund-page/?ksIsin=IE00BKRCPX61" title="Hermes Global Equity ESG" target="_blank" rel="nofollow") Read more

		._fund
			._title Hermes SDG Engagement Equity 
			._content 
				p Aims to generate strong investment returns while creating positive impacts on society through engagements focused on the United Nations Sustainable Development Goals (SDGs).
				a(href="https://www.hermes-investment.com/ukw/products/fund-page/hermes-sdg-engagement-equity-fund-class-f-usd-accumulating-ie00bd3fn034/" title="Hermes SDG Engagement Equity " target="_blank" rel="nofollow") Read more

		._fund
			._title Hermes Impact Opportunities Equity
			._content 
				p Invests globally in a diversified portfolio of companies of any size, that have the potential to provide innovative solutions to societal needs delivering positive social and environmental impact.
				a(href="https://www.hermes-investment.com/ukw/capabilities/impact-opportunities-equity/" title="Hermes Impact Opportunities Equity " target="_blank" rel="nofollow") Read more

	._disclaimer The value of investments and income from them may go down as well as up, and you may not get back the original amount invested.




script.
	var items = document.querySelectorAll('._fund');

	toggleBox(items[0]);

	for(var i = 0; i < items.length; i++) {
	    items[i].addEventListener('click', function(e){
	      toggleBox(this);
	    });
	}

	function toggleBox(el, action){
	  
	  var isActive = el.dataset.active;
	  
	  for(var i = 0; i < items.length; i++){
	    items[i].dataset.active = 'false';
	    items[i].classList.remove('is-active');
	  }
	  
	  if(isActive === undefined) {
	    el.classList.add('is-active');
	    el.dataset.active = 'true';   
	  } else if (isActive === 'true'){
	    el.classList.remove('is-active');
	    el.dataset.active = 'false';
	  } else {
	    el.classList.add('is-active');
	    el.dataset.active = 'true';
	  }
	  
	  var activeInfo = document.querySelector('#info');
	  var activeIsOn = false;
	  
	  if(activeInfo !== null) {
	    if(action === 'resize') {
	      activeInfo.remove(); 
	    } else {
	      slideToggle(activeInfo, 'up');
	      activeIsOn = true;
	    }
	  }
	     
	  var index = Array.from(items).indexOf(el);
	  var content = el.querySelector('._content');
	  var markup = '<div id="info"><div>' + content.innerHTML + "</div></div>";
	  var top = el.getBoundingClientRect().top;

	  
	  if(el.dataset.active === 'true') {
	    
	    var newIndex = items.length - 1;
	    
	    for(var i = index + 1; i < items.length; i++){
	      
	      var lastInRowTop = items[i].getBoundingClientRect().top;
	      
	      if(lastInRowTop !== top){
	        
	        newIndex = i;
	        insertElement(items[newIndex], markup, 'beforebegin');
	       
	       
	        if(action === 'resize') {
	          var info =  document.querySelector('#info');
	          info.style.height = info.scrollHeight + 'px';
	        } else {
	          setTimeout(function(){
	            slideToggle(document.querySelector('#info'), 'down');
	          }, activeIsOn === true ? 250 : 0);  
	        }
	        return;
	      }
	    }
	    
	    insertElement(items[newIndex], markup, 'afterend');
	    if(action === 'resize') {
	      var info =  document.querySelector('#info');
	      info.style.height = info.scrollHeight + 'px';
	    } else {
	      setTimeout(function(){
	        slideToggle(document.querySelector('#info'), 'down');
	      }, activeIsOn === true ? 250 : 0);
	    }
	  }
	}

	function insertElement(el, html, position) {
	  return el.insertAdjacentHTML(position, html);
	}

	function slideToggle(el, dir){
	 
	  el.style.transition = "all .2s ease-in-out";
	  var slideup = function(){
	    el.remove();
	    el.style.transition = "none";
	  }
	  var slidedown = function(){
	    el.style.height = "auto";
	    el.style.transition = "none";
	  }
	  
	  if(dir === 'up') {
	    var height = el.getBoundingClientRect().height;
	    el.style.height = height + 'px';
	    setTimeout(function(){
	      el.style.height = 0;
	      el.addEventListener('transitionend', slideup, false);
	    }, 1);
	  } else if (dir === 'down'){
	      el.style.height = 0;
	     setTimeout(function(){
	       el.style.height = el.scrollHeight + "px";
	       el.addEventListener('transitionend', slidedown, false);
	     }, 0);
	  }
	}

	window.addEventListener('resize', function(e){
	  var activeElement = document.querySelector('.item[data-active="true"]');
	  if(activeElement !== null) {
	    activeElement.dataset.active = 'false';
	    toggleBox(activeElement, 'resize');
	  }
	});