link(rel="stylesheet", href="css/index.css")

#bmo
    //- a(href="https://www.bmogam.com/gb-en/intermediary/" target="_blank" title="BMO Global Asset Management").bmo-logo 
        img(src="/images/bmo-logo-long.jpg", alt="")
    //- ._header
        ._left
            ._overlay
                ._circle-1
                    ._title BMO Universal MAP is #[span Redefining value]
                    a(href="https://www.bmogam.com/gb-en/intermediary/" target="_blank" title="BMO Global Asset Management")._link Discover value
                        span Discover
                    ._circle-2
                        ._title-2 0.29#[span %]
                        ._subtitle-2 OCF capped
        ._right
            ._tagline For professional investors only #[span Capital at risk]
            ._logo
                a(href="https://www.bmogam.com/gb-en/intermediary/" target="_blank" title="BMO Global Asset Management")._img
                    img(src="/images/bmo-logo.png", alt="")
                ._title BMO Global Assets Management

    a(href="https://www.bmogam.com/gb-en/intermediary/capabilities/multi-asset/our-portfolio/?utm_source=adviser%20home&utm_medium=partnership&utm_campaign=universal%20uk%20intermediary%202021&utm_content=adviser%20home%20bus%20dev%20page" target="_blank")._header-banner
        img(src="/images/bmo-header-banner.jpg", alt="")

    
    ._section.-right
        ._img.-one
        ._content
            ._title Responsible about investment
            ._desc
                div At BMO we invest with a purpose – to boldly grow the good. Our focus is simple: to help our clients meet their investment goals, while also building a more sustainable and secure future for us all.
                div It’s an ethos we’re proud of and one that’s engrained in our heritage as a pioneer in responsible investing. Our first responsible fund launched over 35 years ago and our teams have been actively engaging with companies to drive improvements in relation to their environmental, social and governance (ESG) practices for over two decades.
                div We understand that each of our clients has individual circumstances, together with specific needs and requirements. Our job is to consider these and deliver their desired outcomes. Doing this well, in a fast moving and interconnected world, requires both a global perspective and an appreciation of local circumstances.
                div These are strengths you can find at BMO Global Asset Management.
            a(href="https://www.bmogam.com/gb-en/intermediary/our-story/?utm_source=adviser%20home&utm_medium=partnership&utm_campaign=responsible%20uk%20intermediary%202021&utm_content=adviser%20home%20bus%20dev%20page" target="_blank" title="BMO Global Asset Management")._cta Learn more about BMO

    ._section.-left
        ._img.-two
        ._content
            ._title Why BMO for low-cost multi-asset
            ._desc
                div BMO Universal MAP redefines value through active multi-asset solutions and business support at a passive price point. Fund OCFs at 0.29%-0.39%.
            a(href="https://www.bmogam.com/gb-en/intermediary/capabilities/multi-asset/active/?utm_source=adviser%20home&utm_medium=partnership&utm_campaign=universal%20uk%20intermediary%202021&utm_content=adviser%20home%20bus%20dev%20page" target="_blank" title="BMO Global Asset Management")._cta Learn more
    
    ._section.-right
        ._img.-three
        ._content
            ._title Adviser Edge
            ._desc
                div Access professional support from BMO focusing on financial planning, investment and practice management. Earn structured CPD to enhance your client outcomes.
            a(href="https://www.bmogam.com/gb-en/intermediary/adviser-edge/?utm_source=adviser%20home&utm_medium=partnership&utm_campaign=adviseredge%20uk%20intermediary%202021&utm_content=adviser%20home%20bus%20dev%20page" target="_blank" title="BMO Global Asset Management")._cta Learn more
    

    ._section.-left
        ._img.-five
        ._content
            ._title ESG is a mindset, not an asset class
            ._desc
                div Pioneering responsible investing and research in ESG for 35+years. That’s responsible investing.
            a(href="https://www.bmogam.com/gb-en/intermediary/capabilities/responsible-investing/thats-responsible-investing/esg-is-a-mindset/?utm_source=adviser%20home&utm_medium=banner&utm_campaign=responsible%20uk%20intermediary%202021&utm_content=campaign%20adviser%20home%20banner%20esg%20mindset" target="_blank" title="BMO Global Asset Management")._cta Discover more


    .bmo-grid
        ._item
            ._content.-one
                ._title News & Insights
                ._desc Our collected views
            a(href="https://www.bmogam.com/gb-en/intermediary/news-and-insights/?utm_source=adviser%20home&utm_medium=partnership&utm_campaign=&utm_content=adviser%20home%20bus%20dev%20page" target="_blank" title="")._cta Find out more

        ._item
            ._content.-two
                ._title Our capabilities
                ._desc Across a range of asset types we have investment teams operating around the world
            a(href="https://www.bmogam.com/gb-en/intermediary/capabilities/?utm_source=adviser%20home&utm_medium=partnership&utm_campaign=&utm_content=adviser%20home%20bus%20dev%20page" target="_blank" title="")._cta Find out more

        ._item
            ._content.-three
                ._title Contact us
                ._desc For more information about our investment products, please get in touch
            a(href="https://www.bmogam.com/gb-en/intermediary/contact-us/?utm_source=adviser%20home&utm_medium=partnership&utm_campaign=&utm_content=adviser%20home%20bus%20dev%20page" target="_blank" title="")._cta Find out more


    .bmo-subscribe
        ._content
            ._text
                ._title Subscribe
                ._subtitle To receive our thinking
            a(href="http://www2.bmogam.com/preferences?epc_hash=Ru5tPwWM9NzajmEeh3X82-ntKPaaX4mOVB_DXoczuew&utm_source=adviser%2Bhome&utm_medium=partnership&utm_content=adviser%2Bhome%2Bbus%2Bdev%2Bpage" target="_blank")._link #[span Subscribe now]

    ._footer
        ._logo
            img(src="/images/bmo-logo-bottom.png", alt="")
        ._social
            ._title Follow us on:
            a(href="https://www.linkedin.com/company/bmoglobalassetmanagement/" target="_blank")._item
                img(src="/images/bmo-social-linkedin.png", alt="")
                img(src="/images/bmo-social-linkedin-white.png", alt="")
            a(href="https://twitter.com/BMOGAM_UK" target="_blank")._item
                img(src="/images/bmo-social-twitter.png", alt="")
                img(src="/images/bmo-social-twitter-white.png", alt="")
            a(href="https://www.bmogam.com/gb-en/intermediary/webinars/" target="_blank")._item
                img(src="/images/bmo-social-brighttalk.png", alt="")
                img(src="/images/bmo-social-brighttalk-white.png", alt="")
    ._disclaimer For professional investors only. Financial promotions are issued for marketing and information purposes in the United Kingdom by BMO Asset Management Limited, which is authorised and regulated by the Financial Conduct Authority.