link(rel="stylesheet", href="css/styles.css")

.rlondon
	.rlondon_head
		img(src="/images/logo-home.png", alt="Royal London Asset Management logo")
	.rlondon_top
		h2 Royal London Asset Management
		p Royal London Asset Management (RLAM) is one of the UK's leading investment companies, managing over &pound;101 billion of assets for clients including company pension schemes, charities and local authorities as well as private client stockbrokers, wealth managers and discretionary fund managers. RLAM's investment teams have built up a very strong reputation, regularly winning industry awards for their investment performance and quality of service.

	.rlondon_clock
		img(src="/images/clock.jpg", alt="Roayl London Clock Asset Management")
		p The Investment Clock shows how different asset classes and sectors have performed at different stages in the economic cycle.
		p Visit #[a(href="http://www.investmentclock.co.uk/" target="_blank") the RLAM Investment Clock microsite] to access their latest blogs on strategy, market views, reports, webinars and videos focussed on RLAM multi asset funds.

		img(src="/images/clock-2.png", alt="")

	.rlondon_assets
		.rlondon_assets_header
			h2 The Role of Multi Assets
		.rlondon_assets_item
			div
				img(src="/images/royal-london_magazine.jpg", alt="Roayl London")
			div
				h3 Leading Edge
				p Here's our Leading Edge ezine
				a(href="https://issuu.com/royallondonassetmanagement/docs/2575_20leading_20edge_20nov_20broch?e=16942721/55101912" class="rlondon_btn" target="_blank") Read
		.rlondon_assets_item
			div
				img(src="/images/royal-london_video.jpg", alt="Roayl London Videos")
			div
				h3 Videos and Webinars
				p Register for our upcoming webinars, listen to our content on demand and watch our latest videos. Simply resigster your details then log in to view.
				a(href="http://www.rlam.co.uk/Home/Intermediaries/RLAM-Web-Conferences/" class="rlondon_btn" target="_blank") More

