link(rel="stylesheet", href="css/index-2019-05-24.css")

.rlondon
	._header
		._logo
			a(href="https://www.rlam.co.uk/Home/Intermediaries/" title="Royal London Asset Management" target="_blank")
				img(src="/images/rlondon-logo-full.png", alt="Royal London Asset Management Logo")
		._bg
			a(href="https://www.rlam.co.uk/Home/Intermediaries/" target="_blank")
				span Royal London

	._content.-border
		._col-1
			p Established in 1988, Royal London Asset Management (RLAM) is one of the UK’s leading investment companies, managing over £123.4 billion of assets (31.03.2019) and investing across all major asset classes.  
			p We have a long track record of working closely with financial advisers to service their needs, as well as those of their customers. Our investment teams have built up a very strong reputation, regularly winning industry awards for their investment performance and quality of service. 
			p Further evidence of our commitment to client service has been shown by us receiving a ‘5 Star’ rating for service in the Financial Advisor Service Awards in November 2017 and 2018. In both years we were ranked 1st in the Investment category. RLAM is a wholly owned and central part of the Royal London Group.
			a(href="https://www.rlam.co.uk/Home/Intermediaries/" title="Find out more about Royal London Asset Management" target="_blank") Find out more
		._col-2
			ul
				li
					a(href="https://www.rlam.co.uk/Home/Intermediaries/Supplementary-links/Contact-us/" title="Contact Royal London Asset Management" target="_blank") Contact us
				li
					a(href="https://www.rlam.co.uk/Home/Intermediaries/" title="Website Royal London Asset Management" target="_blank") Visit our website
				li
					a(href="https://twitter.com/RLAM_UK" title="Twitter Royal London Asset Management" target="_blank")
						img(src="/images/rlondon-twitter.png", alt="Twitter Royal London Asset Management")
				li
					a(href="https://www.linkedin.com/company/47494/admin/" title="LinkedIn Royal London Asset Management" target="_blank")
						img(src="/images/rlondon-linkedin.png", alt="LinkedIn Royal London Asset Management")

	._content
		._col-1
			p.-p-nomargin In March, we celebrated the three year anniversary of the launch of our Global Multi Asset Portfolios (GMAPs) consisting of six solutions designed to maximise real returns and managed by Trevor Greetham, Head of Multi Asset.
			a(href="http://www.investmentclock.co.uk/GMAPs-anniversary/" title="Find out more about Global Multi Asset Portfolios" target="_blank") Find out more

			p View our GMAP Power of Three anniversary webinar where Trevor Greetham reflects on the story so far, his investment outlook and new opportunities.
			a(href="https://www.brighttalk.com/webcast/13059/352293?utm_source=Royal+London+Multi+Asset&utm_medium=brighttalk&utm_campaign=352293" title="Find out more about Three anniversary webinar" target="_blank") View webinar

			p Alternatively, you can catch up on the latest news and views from our Multi Asset team on our Investment Clock website and from our monthly video featuring Trevor Greetham.
			a(href="http://www.investmentclock.co.uk/" title="Find out more about investment clock" target="_blank") Visit investment clock website
			div
				a(href="https://www.brighttalk.com/webcast/13059/358503?utm_source=Royal+London+Multi+Asset&utm_medium=brighttalk&utm_campaign=358503" title="Find out more about investment clock" target="_blank") Watch video

		._col-2.-m-order-0
			a(href="http://www.investmentclock.co.uk/GMAPs-anniversary/" target="_blank")
				img(src="/images/rlondon-gmap.png", alt="GMAPs 3 years", class="_img")



	._grid
		._item
			._img
				img(src="/images/rlondon-grid-1.jpg", alt="Sustainable Investing")
			._title Sustainable investing
			a(href="https://www.rlam.co.uk/Home/Intermediaries/Products/Sustainable-investing/", target="_blank", title="Sustainable Investing")
				span Sustainable investing
		._item
			._img
				img(src="/images/rlondon-grid-2.jpg", alt="Global equity")
			._title Global Equity
			a(href="https://www.rlam.co.uk/Home/Intermediaries/Products/Equities/", target="_blank", title="Global equity")
				span Global Equity

		._item
			._img
				img(src="/images/rlondon-grid-3.jpg", alt="Monthly income bond")
			._title Monthly Income Bond
			a(href="https://www.rlam.co.uk/Home/Intermediaries/Products/Fixed-Income/OEICs/Monthly-Income-Bond-Fund/", target="_blank", title="Monthly income bond")
				span Monthly Income Bond

		._item.-review
			._img
				img(src="/images/rlondon-grid-4.png", alt="Defaqto Royal London Asset Management")

		._item
			._img
				img(src="/images/rlondon-grid-5.jpg", alt="SustainAbility magazine")
			._title SustainAbility magazine
			a(href="https://issuu.com/royallondonassetmanagement/docs/54039_sustainability_newsletter_jan?e=16942721/67762895", target="_blank", title="SustainAbility magazine")
				span SustainAbility magazine

		._item
			._img
				img(src="/images/rlondon-grid-6.jpg", alt="Global Equity monthly video")
			._title Global Equity monthly video
			a(href="https://www.brighttalk.com/webcast/11825/358508?utm_source=Royal+London+Asset+Management&utm_medium=brighttalk&utm_campaign=358508", target="_blank", title="Global Equity monthly video")
				span Global Equity monthly video

		._item
			._img
				img(src="/images/rlondon-grid-7.jpg", alt="Award-winning fund range")
			._title Award-winning fund range
			a(href="https://www.adviserhome.co.uk/cd-content/uploads/files/12827%20Platforms%20Availability%20Matrix%20July18.pdf", target="_blank", title="Award-winning fund range")
				span Award-winning fund range

		._item.-review
			._img
				img(src="/images/rlondon-grid-8.png", alt="Defaqto Risk Rated", class="-width")

	._footer
		._col
			p Past performance is not a reliable indicator of future results. The value of investments and the income from them is not guaranteed and may go down as well as up and investors may not get back the amount originally invested.

			p For more information on the fund or the risks of investing, please refer to the fund factsheet, Prospectus or Key Investor Information Document (KIID), available via the relevant Fund Price page on www.rlam.co.uk

			p.-small As at 1 February 2019. Defaqto 5 Diamond Rating applies to Royal London GMAP Adventurous Fund, Royal London GMAP Balanced Fund, Royal London GMAP Defensive Fund and Royal London GMAP Growth Fund.

		._col
			p.-small All information is correct at May 2019 unless otherwise stated.
			p.-small Issued by Royal London Asset Management Limited, Firm Registration Number: 141665, registered in England and Wales number 2244297; Royal London Unit Trust Managers Limited, Firm Registration Number: 144037, registered in England and Wales number 2372439; RLUM Limited, Firm Registration Number: 144032, registered in England and Wales number 2369965. All of these companies are authorised and regulated by the Financial Conduct Authority. Royal London Asset Management Bond Funds Plc, an umbrella company with segregated liability between sub-funds, authorised and regulated by the Central Bank of Ireland, registered in Ireland number 364259. Registered office: 70 Sir John Rogerson’s Quay, Dublin 2, Ireland.
			p.-small All of these companies are subsidiaries of The Royal London Mutual Insurance Society Limited, registered in England and Wales number 99064. Registered Office: 55 Gracechurch Street, London EC3V 0RL. The Royal London Mutual Insurance Society Limited is authorised by the Prudential Regulation Authority and regulated by the Financial Conduct Authority and the Prudential Regulation Authority. The Royal London Mutual Insurance Society Limited is on the Financial Services Register, registration number 117672. Registered in England and Wales number 99064.


