link(rel="stylesheet", href="css/styles.css")

.rlondon
	.rlondon_head
		img(src="/images/logo-home.png", alt="Royal London Asset Management logo")
	.rlondon_top
		h2 Royal London Asset Management
		p Royal London Asset Management (RLAM) is one of the UK's leading investment companies, managing over &pound;113.6 billion of assets (as at December 2017) for a broad range of clients.  RLAM works closely with financial advisers to service their needs, as well as those of their customers. RLAM's investment teams have built up a very strong reputation, regularly winning industry awards for their investment performance and quality of service.
	
	.rlondon_clock
		p RLAM's teams of investment specialists invest across fixed income, equities, property and cash as well as managing a range of sustainable products and multi asset solutions. RLAM's investment experts apply their investment philosophy with the aim of achieving optimal outcomes that deliver cost effective client centric solutions that help them meet their goals. RLAM's FOCUS investment philosophy is built on five core principles:
		.rlondon_principles
			div
				h3 Financial outcomes
				p By working with clients to understand their needs and expectations, RLAM creates strategies that seek to meet their objectives and deliver optimal outcomes - whether that is a tailor-made solution or a fund that is part of their overall investment strategy.
			div
				h3 Opportunity orientated
				p RLAM uses its understanding of investment markets to focus on areas where there are opportunities to enhance returns. RLAM uses a combination of active and passive solutions to exploit these.
			div
				h3 Client centric risk management 
				p RLAM aims to provide the appropriate mix of risk and return to suit client needs and look to exploit opportunities where risk is being mispriced by the market. Diversification is a powerful risk management tool, but is used for a purpose rather than seen as a goal in its own right.
			div
				h3 Unconstrained thinking
				p RLAM believe in research-led investing - combining the best of top-down and bottom-up analysis when building active portfolios and tailoring this to suit the underlying investment market. RLAM believes that market benchmarks are useful yardsticks rather than a basis for active portfolio construction.
			div
				h3 Sustainable Investment
				p Good investors are good owners. Environmental, social and governance issues are increasingly affecting asset prices. RLAM believes that it is in the best interest of clients, where appropriate, to integrate these issues in the investment process with the aim of improving standards, reducing risk and enhancing returns.

	.rlondon_clock 
		img(src="/images/clock.jpg", alt="Roayl London Clock Asset Management")
		h2 RL GMAPs
		p RLAM manages six Global Multi Asset Portfolios or GMAPs. The funds cover a broad range of asset types and are designed to offer investors diversified exposure to these in line with their investment objectives and appetite for risk. 
		img(src="/images/clock-3.png", alt="")
		p The GMAPs are all constructed using a risk based approach with the aim of maximising real return over the medium to long term, subject to a given level of expected risk. The Funds invest primarily in RLAM funds with some exposure to other schemes managed by third parties. 
		p Focusing on RLAM funds allows the manager to benefit from working closely with our award-winning asset class experts. The funds combine exposure to our actively managed fixed interest, property and cash ranges as well as our cost effective range of equity funds.
		p The investment process used by RLAM's Multi Asset Team, focuses on tactical asset allocation as a key driver of returns. The Investment Clock model forms an integral part of their decision making. The Investment Clock shows how different asset classes and sectors have performed at different stages in the economic cycle, helping to guide asset allocation in a systematic way.

	.rlondon_clock
		a(href="http://www.investmentclock.co.uk/" target="_blank" class="rlondon_btn -sm") Visit the RLAM Investment Clock microsite
		p The Investment Clock microsite includes strategy and economic reports,  blog, market views, and webinars and videos as well as information about the Royal London Global Multi asset Portfolios (GMAPs).

		img(src="/images/clock-2.png", alt="")
		p To find out more about the RL GMAPs, download the Fund range brochure:
		a(href="http://www.rlam.co.uk/Documents-RLAM/Multi%20asset/GMAP%20Fund%20Range%20Brochure.pdf" target="_blank")
			img(src="/images/clock-4.jpg", alt="the Fund range brochure")
			span.rlondon_btn Download

	.rlondon_assets
		.rlondon_assets_header
			h2 The Role of Multi Assets
		.rlondon_assets_item
			div
				img(src="/images/royal-london_magazine.jpg", alt="Roayl London")
			div
				h3 Here's RLAM's Leading Edge ezine
				p RLAM issue a regular review of investment markets twice a year. We'll keep you updated with the latest edition of the e-zine. 
				a(href="https://issuu.com/royallondonassetmanagement/docs/2575_20leading_20edge_20nov_20broch?e=16942721/55101912" class="rlondon_btn" target="_blank") Read
		.rlondon_assets_item
			div
				img(src="/images/royal-london_video.jpg", alt="Roayl London Videos")
			div
				h3 Videos and Webinars
				p Register for RLAM's upcoming webinars, listen to  content on demand and watch the latest videos. Simply register your details then log in  to view.
				a(href="http://www.rlam.co.uk/Home/Intermediaries/RLAM-Web-Conferences/" class="rlondon_btn" target="_blank") More
		.rlondon_assets_item
			div
				img(src="/images/royal-london_fund.jpg", alt="Roayl London Funds")
			div
				h3 RLAM's Fund range
				p Find out more about RLAM's diverse, award-winning range of funds: 
				a(href="http://www.rlam.co.uk/Home/Intermediaries/Products/" class="rlondon_btn" target="_blank") Find out

	.rlondon_disclaimer
		p Past performance is not a guide to future performance. The value of investments and the income from them is not guaranteed and may go down as well as up and investors may not get back the amount originally invested. For funds that use derivatives, their use may be beneficial, however, they also involve specific risks. Derivatives may alter the economic exposure of a fund over time, causing it to deviate from the performance of the broader market. Sub-investment grade bonds have characteristics which may result in a higher probability of default than investment grade bonds and therefore a higher risk.


