.pp-blog
	
	.pp-post
		.pp-post-img
			img(src="/images/pp-blog-1.jpg", alt="")
		.pp-post-text
			h4 A comparison with Buy to Let
			a(href="https://resources.propertypartner.co/better-than-buy-to-let/" target="_blank") Read
	
	.pp-post
		.pp-post-img
			img(src="/images/pp-blog-2.jpg", alt="")
		.pp-post-text
			h4 Opportunities in purpose built student property
			a(href="https://resources.propertypartner.co/invest-purpose-built-student-accommodation/" target="_blank") Read

	.pp-post
		.pp-post-img
			img(src="/images/pp-blog-3.jpg", alt="")
		.pp-post-text
			h4 Client case studies
			a(href="https://resources.propertypartner.co/primary-category/customer-stories/" target="_blank") Read