.pp-keys
	
	.pp-key
		h4 Variable Income
		p Whilst Property Partner provides gross rental income estimates based on information from third parties, these are not guaranteed. It may be that lower rents are secured. Furthermore, rental income could cease completely for certain periods. For example if a fire were to occur which was not covered by insurance, Property Partner reserves the right to obtain a loan secured against the underlying property to rectify the damage. This loan will need to be paid down by future rental income.

	.pp-key
		h4 Liquidity
		p Whilst you can advertise your investment for sale to other Property Partner users at any point, there may not be anyone willing to buy your investment at a price that you deem reasonable (or buy it at all). In that event you will be required to wait until the next five year anniversary of that property's listing on the Property Partner platform. Even at this point, the timing and ability to exit will depend on completion of a transaction to sell the underlying property. This transaction could take several months.

	.pp-key
		h4 The value of your investment may decline
		p The value of your Property Partner investment can go down as well as up and historic performance is not a guide to future performance. A fall in the value of your investment may be due to a number of reasons, such as a fall in the underlying value of the property or a problem with the property that will need to be funded from future rental income.

	.pp-key
		h4 Disposal/unexpected exit
		p Property Partner reserves the right to dispose of the property and return net proceeds to investors. This right is intended to cover unforeseen scenarios such as the fire example described above. As well as being likely to receive back substantially less than invested, the timing may be unwelcomed and may result in the crystalisation of taxable income sooner than anticipated.