link(rel="stylesheet", href="css/index.css")

#aegon

	._header
		._logo
			a(href="")
				img(src="/images/aegon-logo.png", alt="Aegon", target="_blank")
		._featured
			._title Supporting financial advice
			p._text We offer a choice of products and a flexible investment range to meet the needs of your clients throughout their financial journey.

	._content
		p We’re an international provider of life insurance, pensions and asset management. Trusted with over EUR 825 billion of assets, we have businesses in over 20 countries around the world and around two million customers in the UK alone*.
		p We’re totally focused on serving intermediaries. Working in partnership, we provide products and services to help you create financial planning solutions to get your client’s closer to their financial goals.
		.note *Asset value is correct at August 2018, all other information is correct at May 2017

	._sections
		
		._section
			._img
				img(src="/images/aegon-img-1.jpg", alt="Aegon Solutions")
			._title Our solutions
			p._text View our range of online retirement and protection choices to help your clients transition into retirement.
			a(href="https://www.aegon.co.uk/advisers" title="Aegon Solutions" target="_blank")
				span Aegon Solutions

		._section
			._img
				img(src="/images/aegon-img-2.jpg", alt="Aegon Investments")
			._title Investments
			p._text Find flexible investments to suit your clients’ needs. Browse our funds and see fund prices and performances.
			a(href="https://www.aegon.co.uk/about-aegon/investments.html" title="Aegon Investments" target="_blank")
				span Aegon Investments

		._section
			._img
				img(src="/images/aegon-img-3.jpg", alt="Aegon Business change")
			._title Business change
			p._text We want to help you and your clients navigate regulatory changes and here’s where you can find out more about the changes impacting our sector and how we plan to help 
			a(href="https://www.aegon.co.uk/advisers/business-changes.html" title="Aegon Business change" target="_blank")
				span Aegon Business change

	._banner
		._img
			img(src="/images/aegon-brexit.jpg", alt="Aegon Brexit")
		._text
			._title Brexit - what could it mean for you?
			a(href="https://www.aegon.co.uk/personal/brexit.html" title="Brexit - what could it mean for you?" target="_blank") Learn more

	._boxes
		
		._box
			._img
				img(src="/images/aegon-news.jpg", alt="Aegon latest news")
			p._text Read our intermediary newsletter – news, tips and ideas from across Aegon.
			a(href="https://www.aegon.co.uk/advisers/latest-news.html" title="Aegon latest news" target="_blank")
				span Aegon latest news

		._box
			._img
				img(src="/images/aegon-perspective.jpg", alt="Aegon fresh perspectives")
			p._text Our adviser magazine is packed with insightful, thought-provoking commentary from leading industry experts. We've handpicked articles, films and webinars that give ideas to help you support your clients and be more efficient in your business.  
			a(href="https://www.aegon.co.uk/advisers/fresh-perspectives.html" title="Aegon fresh perspectives" target="_blank")
				span Aegon fresh perspectives

