link(rel="stylesheet", href="css/index.css")

.axa
	._header
		._logo
			a(href="" title="AXA Investment Managers" target="_blank")
				img(src="/images/axa__logo.png", alt="AXA Investment Managers")
	
	._top__banner

	._section-1
		
		._col-1
			.axa__about
				._title About AXA Investment Managers
				._text AXA Investment Managers (AXA IM) is an active, long-term, global, multi-asset investor. We work with clients today to provide the solutions they need to help build a better tomorrow for their investments, while creating a positive change for the world in which we all live. With approximately #[strong £709 billion] in assets under management as at end of September 2019, AXA IM employs #[strong over 2,350 people] around the world and operates out of #[strong 26 offices] across 20 countries. AXA IM is part of the AXA Group, a world leader in financial protection and wealth management.
			.axa__contact
				._title Contact us
				._contacts
					div
						img(src="/images/axa__phone.png", alt="")
						a(href="tel:020 7003 2345" title="AXA Investment Managers Phone") 020 7003 2345
					div
						img(src="/images/axa__email.png", alt="")
						a(href="mailto:lonclientservices@axa-im.com" title="AXA Investment Managers Email") Email

		._col-2
			.axa__items 
				
				._item
					img(src="/images/axa__banner-1.jpg", alt="AXA Investment Managers - UK equities")
					._title UK equities
					a(href="" class="axa__button" title="AXA Investment Managers - UK equities" target="_blank") Read more
				
				._item
					img(src="/images/axa__banner-2.jpg", alt="AXA Investment Managers - Evolving Economy")
					._title Evolving Economy
					a(href="" class="axa__button" title="AXA Investment Managers - Evolving Economy" target="_blank") Read more

				._item
					img(src="/images/axa__banner-3.jpg", alt="AXA Investment Managers - Short Duration")
					._title Short Duration
					a(href="" class="axa__button" title="AXA Investment Managers - Short Duration" target="_blank") Read more

		
	._section-2
		._title Learn more
		._items
			
			._item
				img(src="/images/axa__banner-4.jpg", alt="Insights Hub")
				._title Insights Hub
				a(href="" title="AXA Investment Managers - Insights Hub" target="_blank")
					span Insights Hub
			
			._item
				img(src="/images/axa__banner-5.jpg", alt="CPD")
				._title CPD
				a(href="" title="AXA Investment Managers - CPD" target="_blank")
					span CPD
			
			._item
				img(src="/images/axa__banner-6.jpg", alt="Responsible Investment")
				._title Responsible Investment
				a(href="" title="AXA Investment Managers - Responsible Investment" target="_blank")
					span Responsible Investment
			
			._item
				img(src="/images/axa__banner-7.jpg", alt="Fund Center")
				._title Fund Center
				a(href="" title="AXA Investment Managers - Fund Center" target="_blank")
					span Fund Center
	
	._section-3
		.axa__academy
			._titles
				._title The Academy
				._subtitle Building a better tomorrow, together
			
			._content
				._text
					p Our online portal designed to refresh, sharpen, and deepen your investment knowledge is an addition to our existing structured and unstructured CPD-accredited learning, including Evolving Economy.
					p Register today to get started, and remember when you complete each module you will receive a certificate and the time spent will contribute towards your annual 21 hours of structured CPD requirement.
				
				a(href="" class="axa__button" title="AXA Investment Managers - The Academy" target="_blank") Register now
	
	
	._section-4
		
		._col-1
			._title Latest news
			.axa__news
				._news
					._date 26 March 2020
					._title Congress finally approves $2 trillion stimulus package
					._link
						span Read more
						img(src="/image/axa__arrow.png", alt="")
					a(href="" title="" target="_blank")
						span Congress finally approves $2 trillion stimulus package
				
				._news
					._date 26 March 2020
					._title Congress finally approves $2 trillion stimulus package
					._link
						span Read more
						img(src="/image/axa__arrow.png", alt="")
					a(href="" title="" target="_blank")
						span Congress finally approves $2 trillion stimulus package

				._news
					._date 26 March 2020
					._title Congress finally approves $2 trillion stimulus package
					._link
						span Read more
						img(src="/image/axa__arrow.png", alt="")
					a(href="" title="" target="_blank")
						span Congress finally approves $2 trillion stimulus package
			
			a(href="" class="axa__button" title="Read more news from AXA IM" target="_blank") Read more

		._col-2
			.axa__twitter (?)