link(rel="stylesheet", href="css/index_2.css")

.axa
	._header
		._logo
			a(href="https://www.axa-im.co.uk/" title="AXA Investment Managers" target="_blank")
				img(src="/images/axa__logo.png", alt="AXA Investment Managers")
	
	._top__banner

	._section-1
		
		._col-1
			.axa__about
				._title Strategies designed to help you tackle changing market environments
				._text 
					p Market environments across the world continue to evolve, thanks to a wide range of macroeconomic factors – for example, political uncertainties, inflation and global market shocks, which are increasingly seeing investors search for alternative sources of income today for a better tomorrow.
					p Whether you are looking for regular income, long-term capital growth or to diversify their portfolios, AXA Investment Managers offers a range of products that can help meet their needs.
					p The opportunity to tap into a richly diverse UK stock market, long-term secular growth themes exposed to demographic and technological changes, or managing the risks of rising yields and market volatility through short duration bonds – we believe these potential benefits are all covered in our ‘Strategies in the Spotlight’.
			.axa__contact
				._title Contact us
				._content
					._contacts
						div
							img(src="/images/axa__phone.png", alt="")
							a(href="tel:020 7003 2345" title="AXA Investment Managers Phone") 020 7003 2345
						div
							img(src="/images/axa__email.png", alt="")
							a(href="mailto:lonclientservices@axa-im.com" title="AXA Investment Managers Email") Email
					._social
						._social-title Follow us
						._links
							a(href="https://twitter.com/AXAIM_UK" title="AXA IM Twitter" target="_blank")
								img(src="/images/axa__social-twitter.png", alt="")
							a(href="https://www.linkedin.com/company-beta/5653/" title="AXA IM LinkedIn" target="_blank")
								img(src="/images/axa__social-linkedin.png", alt="")
							a(href="https://www.youtube.com/user/AXAIMCorporate" title="AXA IM Youtube" target="_blank")
								img(src="/images/axa__social-youtube.png", alt="")

		._col-2
			.axa__items
				
				._item
					._img
						img(src="/images/axa__banner-3.jpg", alt="AXA Investment Managers - Short Duration")
					._title Short Duration
					a(href="https://adviser.axa-im.co.uk/short-duration" class="axa__button" title="AXA Investment Managers - Short Duration" target="_blank") 
						span Read more
				
				._item
					._img
						img(src="/images/axa__banner-1.jpg", alt="AXA Investment Managers - UK equities")
					._title UK equities
					a(href="https://adviser.axa-im.co.uk/uk-equities" class="axa__button" title="AXA Investment Managers - UK equities" target="_blank")
						span Read more
				
				._item
					._img
						img(src="/images/axa__banner-2.jpg", alt="AXA Investment Managers - Evolving Economy")
					._title Evolving Economy
					a(href="https://adviser.axa-im.co.uk/evolvingeconomy" class="axa__button" title="AXA Investment Managers - Evolving Economy" target="_blank") 
						span Read more

		
	._section-2
		._title Learn more
		._items
			
			._item
				._img
					img(src="/images/axa__banner-4.jpg", alt="Insights Hub")
				._title Insights Hub
				a(href="https://adviser.axa-im.co.uk/insights" title="AXA Investment Managers - Insights Hub" target="_blank")
					span Insights Hub
			
			._item
				._img
					img(src="/images/axa__banner-5.jpg", alt="CPD")
				._title CPD
				a(href="https://adviser.axa-im.co.uk/cpd" title="AXA Investment Managers - CPD" target="_blank")
					span CPD
			
			._item
				._img
					img(src="/images/axa__banner-6.jpg", alt="Responsible Investment")
				._title Responsible Investment
				a(href="https://adviser.axa-im.co.uk/en/active-ownership-and-stewardship-report" title="AXA Investment Managers - Responsible Investment" target="_blank")
					span Responsible Investment
			
			._item
				._img
					img(src="/images/axa__banner-7.jpg", alt="Fund Center")
				._title Fund Center
				a(href="https://adviser.axa-im.co.uk/fund-centre" title="AXA Investment Managers - Fund Center" target="_blank")
					span Fund Center


	._section-video
		._box
			._title Our recent webinars
			a(href="https://adviser.axa-im.co.uk/videos?utm_medium=display&amp;utm_source=adviserhome&amp;utm_campaign=na_uk&amp;utm_content=videowebpage" class="axa__button" title="AXA Investment Managers - Our recent webinars" target="_blank") 
					span Find out more
	
	
	._section-academy
		.axa__about
			._title Need more structured CPD hours? Top it up with The Academy
			._text 
				p Our online portal designed to refresh, sharpen, and deepen your investment knowledge is an addition to our existing structured and unstructured CPD-accredited learning, including Evolving Economy.
				p Register today to get started, and remember when you complete each module you will receive a certificate and the time spent will contribute towards your annual 21 hours of structured CPD requirement.
	
	._section-3
		.axa__academy
			._titles
				._title The Academy
				._subtitle Building a better tomorrow, together
			
			._bottom
				div CPD for investment professionals
				a(href="https://axa-im-academy.com/" class="axa__button" title="AXA Investment Managers - The Academy" target="_blank") 
					span Register now
	
	._section-4
		
		._col-1
			.axa__about
				._title About AXA Investment Managers
				._text AXA Investment Managers (AXA IM) is an active, long-term, global, multi-asset investor. We work with clients today to provide the solutions they need to help build a better tomorrow for their investments, while creating a positive change for the world in which we all live. With approximately #[strong £709 billion] in assets under management as at end of September 2019, AXA IM employs #[strong over 2,350 people] around the world and operates out of #[strong 26 offices] across 20 countries. AXA IM is part of the AXA Group, a world leader in financial protection and wealth management.

				._keys
					._keys-title AXA IM Key Figures
					._boxes
						._box
							._box-title €804bn
							._box-text assets under management
						._box
							._box-title 793
							._box-text investment professionals
						._box
							._box-title 15
							._box-text investment centres


		._col-2
			.axa__twitter
				a(class="twitter-timeline" data-height="100%" href="https://twitter.com/AXAIM_UK") National Park Tweets - Curated tweets by TwitterDev
				script(async src="https://platform.twitter.com/widgets.js" charset="utf-8")


script.

	var newsArray = [];
	var newsNumber = 3;
	var newsDiv = document.querySelector('.axa__news');

	function getNews() {
		
		fetch('https://adviser.axa-im.co.uk/media-centre').then((response) => response.text()).then((text) => {
			var div = document.createElement('div');
			div.innerHTML = text;

			var news = div.querySelectorAll('.news-list-item.gh-news-item');
			
			for (var i = 0; i < newsNumber; i++) {
				
				var date = news[i].querySelector('.news-list__date').innerHTML;
				var link = news[i].querySelector('h3 a');
				var url = link.getAttribute('href');
				var title = link.innerHTML;
				var category = news[i].querySelector('.news-list__category').innerHTML;

				newsArray.push('<div class="_news"><div class="_date">'+ date +' <span> | '+ category +'</span></div><div class="_news-title">'+ title +'</div><div class="_link"><span>Read more</span><img src="/images/axa__arrow.png"></div><a href="'+ url +'" target="_blank"><span>' + title + '</span></a></div>')
			}

			newsDiv.innerHTML = newsArray.join('')
		});

	}

	getNews();