link(rel="stylesheet", href="css/index.css")

.pp
	h2 The effective, professional way to build your clients property investment portfolio
	.pp-welcome
		img(src="/images/pp-logo-white.png", alt="")
		p Professional selection and management. Access good yields and capital growth with diversification at property type, location and tenant level

	h3 Take a look at this brief video from CEO and founder Dan Gandesha

	.pp-video
		iframe(src="https://player.vimeo.com/video/245204449?title=0&amp;byline=0&amp;portrait=0" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen)

	h3 The stress free way to build your property portfolio

	include partials/_list.pug


	h2 Key risks

	include partials/_keys.pug

	h2 Blog

	include partials/_blog.pug

	.pp-disclamer Capital at risk. The value of your investment can go down as well as up. The Financial Services Compensation Scheme (FSCS) protects the cash held in your Property Partner account, however the investments that you make through Property Partner are not protected by the FSCS in the event that you do not receive back the amount that you have invested. Forecasts are not a reliable indicator of future performance. Gross rent, dividends and capital growth may be lower than estimated. 5 yearly exit protection or exit on platform subject to price & demand. Property Partner does not provide tax or investment advice and any general information is provided to help you make your own informed decisions. Customers are advised to obtain appropriate tax or investment advice where necessary. Property PartnerTM is the trading name of London House Exchange Limited, which is authorised and regulated by the Financial Conduct Authority (No. 613499).
