link(rel="stylesheet", href="css/sidebar.css")

.pp-side
	.pp-logo
		img(src="/images/pp-logo-blue.jpg", alt="")

	.pp-side-fx
		.pp-side-box
			h4 What is it? 
			p A property investment platform and stock exchange that allow people to invest as much or as little as they like in to different property assets.
		.pp-side-partners
			h4 Who backs it?
			ul.pp-side-partners-fx
				li 
					img(src="/images/pp-partner-1.jpg", alt="")
				li 
					img(src="/images/pp-partner-2.jpg", alt="")
				li 
					img(src="/images/pp-partner-3.jpg", alt="")
				li 
					img(src="/images/pp-partner-4.jpg", alt="")

	.pp-stats
		
		.pp-stat
			img(src="/images/pp-icon-1.png", alt="")
			div £100m
			span Assets Under Management

		.pp-stat
			img(src="/images/pp-icon-2.png", alt="")
			div 11,000
			span Investors

		.pp-stat
			img(src="/images/pp-icon-3.png", alt="")
			div 659
			span Individual Properties
			
	.pp-contact
		h4 Contact
		.pp-contact-fx
			img(src="/images/pp-contact.png", alt="")
			.pp-contact-details
				span John Oliver
				a(href="tel:02034572471") 0203 457 2471
				a(href="mailto:john.oliver@propertypartner.co") john.oliver@propertypartner.co
