link(rel="stylesheet", href="css/index-2020-01-25.css")

#trowe
	
	._banner
		._top
			a(href="https://www3.troweprice.com/usis/corporate/en/home.html" title="T.RowePrice Homepage" target="_blank")
				img(src="/images/t-rowe-price-logo-black.jpg", alt="T.RowePrice logo")
			img(src="/images/t-rowe-price-icon.jpg", alt="T.RowePrice Icon" class="_img")
		._img
			img(src="/images/t-rowe-price-goat.png", alt="T.RowePrice")

	//- ._header
	//- 	a._logo(href="https://www3.troweprice.com/usis/corporate/en/home.html" title="T.RowePrice Homepage" target="_blank")
	//- 		img(src="/images/t-rowe-price-logo.png", alt="T.RowePrice logo")
	//- 	._slogan
	//- 		._tagline Where Better Decisions Begin
	//- 		img(src="/images/t-rowe-price-icon.jpg", alt="T.RowePrice Icon")

	._content
		._col-1
			h2 T. Rowe Price in 30 seconds 
			p At T. Rowe Price, we have one business – investments, and one purpose – to help our clients confidently achieve long-term financial success.
			p Founded in 1937 during the Great Depression, T. Rowe Price is built on the enduring philosophy of our founder – meeting clients’ individual needs. For over 80 years and through changing investment and economic environments, the core principles that guide our business have remained the same.
			p As a global investment manager, we actively listen, anticipate and develop investment strategies that align to the needs of our clients. For over 80 years this has directed the evolution of our investment capabilities across equity, fixed income and multi asset and led to a broad range of strategies across capitalisations, sectors, styles and regions. Each strategy is supported by our proprietary global research platform and experienced investment teams.

		._col-2
			h2 *At a glance
			._grids
				._item.-white
					p #[span 645] Investment professionals #[strong worldwide]
				._item.-grey1
					p #[span 24] Officer in #[strong 16] countries. Headquarters in Baltimore, MD
				._item.-grey2
					p #[span #[sup £]916.0#[sub bn]] in #[strong assets under management]
				._item.-blue1
					p Serving clients in #[span 49] #[strong countries]
				._item.-blue2
					p Investment portfolio managers average #[span 17] #[strong years] with the firm
				._item.-grey3
					p #[span 7,300] Associates #[strong worldwide]
			._note Past performance is not a reliable indicator of future results. *All figures as at 30 September 2019. Firmwide AUM includes assets managed by T. Rowe Price Associates, Inc. and its investment advisory affiliates. Assets under management are calculated in U.S. dollars and converted to pound sterling using an exchange rate determined by an independent third party.

	._tabs
		._tab.-tab-2
			div 
				//- img(src="/images/t-rowe-price-bg-2.jpg", alt="")
				p About T. Rowe Price 
				span Our history, capabilities and fund ranges
			a(href="https://www4.troweprice.com/gis/tpd/uk/en/about/regional-story-emea.html" title="" target="_blank") Find out more
		._tab.-tab-3
			div 
				//- img(src="/images/t-rowe-price-bg-3.jpg", alt="")
				p Insights
				span Our collected views
			a(href="https://www4.troweprice.com/gis/tpd/uk/en/thinking.html" title="" target="_blank") Find out more
		._tab.-tab-4
			div 
				//- img(src="/images/t-rowe-price-bg-4.jpg", alt="")
				p Contact us
				span For further information or to arrange a meeting please contact our UK Relationship Management Team
			a(href="https://www4.troweprice.com/gis/tpd/uk/en/about/contact-us.html" title="" target="_blank") Find out more

	._usa
		._title US Equities
		._subtitle Highlighting the opportunities #[span across the US]
		a(href="https://www.deliveringusequities.com/" title="Highlighting the opportunities across the US " target="_blank") Find out more
