link(rel="stylesheet", href="css/styles.css")

.liontrust
	._top
		a(href="https://www.liontrust.co.uk/" target="_blank")
			img(src="/images/liontrust-logo.png", alt="Liontrust Logo" class="_logo")
		._subtitle Sustainable Investment
		._title Investing in a changing world

	._bottom
		._box
			._title Fund Manager Views
			a(href="https://www.liontrust.co.uk/what-we-think/blogs?blogtype=Fund+manager+views" class="_btn" target="_blank") Find out more
		._box
			._title Sustainable Future Process
			a(href="https://www.liontrust.co.uk/what-we-offer/investment-processes/sustainable-future-process" class="_btn" target="_blank") Find out more
		._box
			._title Bullish Predictions on Electric Cars Still Too Conservative
			a(href="https://www.liontrust.co.uk/what-we-think/blogs/bullish-predictions-on-electric-cars-still-too-conservative" class="_btn" target="_blank") Find out more
