link(rel="stylesheet", href="css/styles2.css")

.fundnetwork
	.f_headline
		img(src="/images/fundnetwork-logo.jpg", alt="FundNetworks")
		span Owned and backed by Fidelity International

	.f_welcome
		._title A 	leading investment and retirement services platform
		._desc With the goal to help firms grow and develop by providing the services, tools and functionality you need for your business and clients.
		a(href="#section1" class="f_btn -down")
	

	.f_section(id="section1")
		._head._s2
			div
				h2 Technical matters
				h3 Pensions, retirement and tax planning
				p Latest updates include information on pensions and divorce, the State Pension, pension death benefit, advising on pension transfers.
			a(href="https://adviserservices.fidelity.co.uk/resource-centre/technical-matters/pension-retirement-and-tax-planning/?utm_term=fnw_practitioner_support&utm_campaign=fnw_technical_matters&utm_medium=native_content &utm_source=Adviser home&utm_content=native_content_unit" class="f_btn -orange" title="Pensions, retirement and tax planning" target="_blank") View all guides
		._body

			ul#f_pdf-list
				li 
					h3 The State Pension guide
					div
						a(href="https://adviserservices.fidelity.co.uk/resource-centre/technical-matters/pension-retirement-and-tax-planning/?utm_term=fnw_practitioner_support&utm_campaign=fnw_technical_matters&utm_medium=native_content &utm_source=Adviserhome&utm_content=native_content_unit" title="The State Pension - a technical guide" target="_blank")
							img(src="/images/fundnetwork-paper2.jpg", alt="The State Pension - a technical guide")
					div
						a(href="https://adviserservices.fidelity.co.uk/resource-centre/technical-matters/pension-retirement-and-tax-planning/?utm_term=fnw_practitioner_support&utm_campaign=fnw_technical_matters&utm_medium=native_content &utm_source=Adviserhome&utm_content=native_content_unit" class="-download" title="The State Pension - a technical guide" target="_blank") Read more
				li
					h3 Pensions and divorce
					div
						a(href="https://adviserservices.fidelity.co.uk/resource-centre/technical-matters/pension-retirement-and-tax-planning/?utm_term=fnw_practitioner_support&utm_campaign=fnw_technical_matters&utm_medium=native_content &utm_source=Adviserhome&utm_content=native_content_unit" title="Pension and divorce - a technical guide" target="_blank")
							img(src="/images/fundnetwork-paper3.jpg", alt="Pension and divorce - a technical guide")
					div
						a(href="https://adviserservices.fidelity.co.uk/resource-centre/technical-matters/pension-retirement-and-tax-planning/?utm_term=fnw_practitioner_support&utm_campaign=fnw_technical_matters&utm_medium=native_content &utm_source=Adviserhome&utm_content=native_content_unit" class="-download" title="Pension and divorce - a technical guide" target="_blank") Read more

				li
					h3 Advising on pension transfers
					div
						a(href="https://adviserservices.fidelity.co.uk/resource-centre/technical-matters/compliance-matters/?utm_term=fnw_practitioner_support&utm_campaign=fnw_technical_matters&utm_medium=native_content &utm_source=Adviser home&utm_content=native_content_unit" title="Advising on pension transfers - a summary of the FCA’s new guidance and proposals" target="_blank")
							img(src="/images/fundnetwork-paper1.jpg", alt="Advising on pension transfers - a summary of the FCA’s new guidance and proposals")
					div 
						a(href="https://adviserservices.fidelity.co.uk/resource-centre/technical-matters/compliance-matters/?utm_term=fnw_practitioner_support&utm_campaign=fnw_technical_matters&utm_medium=native_content &utm_source=Adviser home&utm_content=native_content_unit" class="-download" title="Advising on pension transfers - span a summary of the FCA’s new guidance and proposals" target="_blank") Read more



			.fx-row
				div.col-2(style="margin-top: 20px;")
					h3 Video: Pension death benefits and tax 
					p In this video, Paul Kennedy, Head of Tax and Trust Planning for FundsNetwork, talks about the pension death benefits.
					a(href="https://adviserservices.fidelity.co.uk/death-benefits/?utm_term=fnw_practitioner_support&utm_campaign=fnw_technical_matters&utm_medium=native_content &utm_source=Adviser home&utm_content=native_content_unit" class="f_btn -green" title="Pension death benefits" target="_blank") Watch video
				div.col-2
					a(href="https://adviserservices.fidelity.co.uk/death-benefits/?utm_term=fnw_practitioner_support&utm_campaign=fnw_technical_matters&utm_medium=native_content &utm_source=Adviser home&utm_content=native_content_unit" title="Pension death benefits" target="_blank")
						img(src="/images/fundnetwork-s2-video.jpg", alt="Pension death benefits")


	.f_section
		._head._s4
			div
				h2 Retirement videos
				p The technical videos provide pension expert knowledge in short snippets of 5 mins. They are also very useful for those preparing the CII pension exam as they follow the syllabus.
		._body
			.fx-row
				div.col-2
					p.p-bold Most popular topics include:
					.fx-row 
						ul.f_list.col-2
							li DB transfer advice
							li Tax relief
							li DB transfer issues and considerations
						ul.f_list.col-2
							li Defined contribution schemes - scheme types overview
					a(href="https://adviserservices.fidelity.co.uk/resource-centre/technical-matters/retirement-technical-videos/?utm_term=fnw_practitioner_support&utm_campaign=fnw_technical_matters&utm_medium=native_content &utm_source=Adviserhome&utm_content=native_content_unit" class="f_btn -green" title="Retirement technical videos") Watch now
				div.col-2
					a(href="https://adviserservices.fidelity.co.uk/resource-centre/technical-matters/retirement-technical-videos/?utm_term=fnw_practitioner_support&utm_campaign=fnw_technical_matters&utm_medium=native_content &utm_source=Adviserhome&utm_content=native_content_unit" title="Retirement technical videos" target="_blank")
						img(src="/images/fundnetwork-s3-video.jpg", alt="Retirement technical videos")


	.f_section
		._head._s5
			div
				h2 Cybersecurity
				p As managing our business and personal lives moves ever more online, criminals are also increasingly using the internet to conduct fraud.
				a(href="https://adviserservices.fidelity.co.uk/news-insights/keeping-your-business-safe/?utm_term=fnw_practitioner_support&utm_campaign=fnw_technical_matters&utm_medium=native_content &utm_source=Adviser home&utm_content=native_content_unit" class="f_btn -orange" target="_blank") Tips on how to keep your business safe
		._body
			
			

			.fx-row
				div.col-2.m-order-2
					h3 The new target of Cyberfraud
					p Organised crime is getting much more sophisticated - the focus has now shifted from banks and asset managers to advisory firms. Peter Gillespie from Fidelity gives a few tips on how to keep your information safe and secure.
					a(href="https://adviserservices.fidelity.co.uk/news-insights/keeping-your-business-safe/#ebcMJU7pmwh" class="f_btn -green" title="The new target of Cyberfraud" target="_blank") Watch video
				div.col-2.m-order-1
					a(href="https://adviserservices.fidelity.co.uk/news-insights/keeping-your-business-safe/#ebcMJU7pmwh" title="The new target of Cyberfraud" target="_blank")
						img(src="/images/fundnetwork-s5-video1.jpg", alt="The new target of Cyberfraud")

			.fx-row.fx-margin-40
				div.col-2.m-order-2
					h3 How private is your personal information?
					p What dangers can sharing too much information online pose?  See in this video how easy it can be for fraudsters to access anyone's personal details. If you find the experiment quite chilling, it's worth taking the time to explore the key steps to reducing risk of cybercrime with our support page where you'll find case studies, guides and check lists.
					a(href="https://adviserservices.fidelity.co.uk/news-insights/keeping-your-business-safe/#0ycJyHy36sJ" class="f_btn -green" title="How private is your personal information?" target="_blank") Watch video
				div.col-2.m-order-1
					a(href="https://adviserservices.fidelity.co.uk/news-insights/keeping-your-business-safe/#0ycJyHy36sJ" title="How private is your personal information?" target="_blank")
						img(src="/images/fundnetwork-s5-video2.jpg", alt="How private is your personal information?")


	.f_section
		._head._s1
			div
				h2 The platform market – adviser feedback on latest developments
				//- p FundsNetwork's commitment to building long-term relationships with advisory firms has earned us a number of industry accolades.
			div
				a(href="https://adviserservices.fidelity.co.uk/news-insights/platform-market-from-an-adviser-firm-perspective/?utm_term=fnw_practitioner_support&utm_campaign=fnw_technical_matters&utm_medium=native_content &utm_source=Adviser home&utm_content=video" class="f_btn -orange" target="_blank") Find out more
		._body
			.fx-row
				div.col-2.m-order-2
					h3 Video AdviserAsset interview: #[span The platform market from an adviser perspective]
					p Hear Colin Turton from AdviserAsset share his thoughts on latest developments in the platform space. Topics covered include the criteria for rating platforms, the importance of price and the future for advised platforms.
					a(href="https://adviserservices.fidelity.co.uk/news-insights/platform-market-from-an-adviser-firm-perspective/?utm_term=fnw_practitioner_support&utm_campaign=fnw_technical_matters&utm_medium=native_content &utm_source=Adviser home&utm_content=video" class="f_btn -green" title="Video AdviserAsset interview: Platform critical success factors" target="_blank") Watch video
				div.col-2.m-order-1
					a(href="https://adviserservices.fidelity.co.uk/news-insights/platform-market-from-an-adviser-firm-perspective/?utm_term=fnw_practitioner_support&utm_campaign=fnw_technical_matters&utm_medium=native_content &utm_source=Adviser home&utm_content=video" title="Video AdviserAsset interview: Platform critical success factors" target="_blank")
							img(src="/images/fundnetwork-s11-video.jpg", alt="Video AdviserAsset interview")
					


				











