link(rel="stylesheet", href="css/styles2.css")

.fundnetwork
	.f_headline
		img(src="/images/fundnetwork-logo.jpg", alt="FundNetworks")
		span a leading investment and retirement services platform

	.f_welcome
		._title #[span FundsNetwork] - owned and backed by Fidelity International
		._desc Our goal is to help firms grow and develop by providing the services, tools and functionality you need for your business and clients.
		a(href="#section1" class="f_btn -down")
	

	.f_section(id="section1")
		._head._s2
			div
				h2 Technical matters
				h3 Pensions, retirement and tax planning
				p A range of guides, factsheets and insights to support you and your clients with financial planning.
			a(href="https://adviserservices.fidelity.co.uk/resource-centre/technical-matters/pension-retirement-and-tax-planning/?utm_term=fnw_practitioner_support&utm_campaign=fnw_technical_matters&utm_medium=native_content &utm_source=Adviser home&utm_content=native_content_unit" class="f_btn -orange" title="Pensions, retirement and tax planning" target="_blank") View all guides
		._body
			
			p Our latest updates include information on pension and divorce, the State Pension, pension death benefit, pension transfers advice.



			ul#f_pdf-list
				li 
					h3 The State Pension guide
					div
						a(href="https://adviserservices.fidelity.co.uk/resource-centre/technical-matters/pension-retirement-and-tax-planning/?utm_term=fnw_practitioner_support&utm_campaign=fnw_technical_matters&utm_medium=native_content &utm_source=Adviserhome&utm_content=native_content_unit" title="The State Pension - a technical guide" target="_blank")
							img(src="/images/fundnetwork-paper2.jpg", alt="The State Pension - a technical guide")
					div
						a(href="https://adviserservices.fidelity.co.uk/resource-centre/technical-matters/pension-retirement-and-tax-planning/?utm_term=fnw_practitioner_support&utm_campaign=fnw_technical_matters&utm_medium=native_content &utm_source=Adviserhome&utm_content=native_content_unit" class="-download" title="The State Pension - a technical guide" target="_blank") Read more
				li
					h3 Pension and divorce
					div
						a(href="https://adviserservices.fidelity.co.uk/resource-centre/technical-matters/pension-retirement-and-tax-planning/?utm_term=fnw_practitioner_support&utm_campaign=fnw_technical_matters&utm_medium=native_content &utm_source=Adviserhome&utm_content=native_content_unit" title="Pension and divorce - a technical guide" target="_blank")
							img(src="/images/fundnetwork-paper3.jpg", alt="Pension and divorce - a technical guide")
					div
						a(href="https://adviserservices.fidelity.co.uk/resource-centre/technical-matters/pension-retirement-and-tax-planning/?utm_term=fnw_practitioner_support&utm_campaign=fnw_technical_matters&utm_medium=native_content &utm_source=Adviserhome&utm_content=native_content_unit" class="-download" title="Pension and divorce - a technical guide" target="_blank") Read more

				li
					h3 Pension transfer advice
					div
						a(href="https://adviserservices.fidelity.co.uk/resource-centre/technical-matters/pension-retirement-and-tax-planning/?utm_term=fnw_practitioner_support&utm_campaign=fnw_technical_matters&utm_medium=native_content &utm_source=Adviserhome&utm_content=native_content_unit" title="Advising on pension transfers - a summary of the FCA’s new guidance and proposals" target="_blank")
							img(src="/images/fundnetwork-paper1.jpg", alt="Advising on pension transfers - a summary of the FCA’s new guidance and proposals")
					div 
						a(href="https://adviserservices.fidelity.co.uk/resource-centre/technical-matters/pension-retirement-and-tax-planning/?utm_term=fnw_practitioner_support&utm_campaign=fnw_technical_matters&utm_medium=native_content &utm_source=Adviserhome&utm_content=native_content_unit" class="-download" title="Advising on pension transfers - span a summary of the FCA’s new guidance and proposals" target="_blank") Read more
			

				.f_center
					a(href="https://adviserservices.fidelity.co.uk/resource-centre/technical-matters/pension-retirement-and-tax-planning/?utm_term=fnw_practitioner_support&utm_campaign=fnw_technical_matters&utm_medium=native_content &utm_source=Adviser home&utm_content=native_content_unit" class="f_btn -green -margin -center" title="Pensions, retirement and tax planning" target="_blank") Access our full guides



			.fx-row
				div.col-2(style="margin-top: 20px;")
					h3 Video: Pension death benefits and tax 
					p In this video, Paul Kennedy, Head of Tax and Trust Planning for FundsNetwork, talks about the pension death benefits.
					a(href="https://adviserservices.fidelity.co.uk/resource-centre/technical-matters/pension-retirement-and-tax-planning/#ZPBrAWTzMjM" class="f_btn -green" title="Pension death benefits" target="_blank") Watch video
				div.col-2
					a(href="https://adviserservices.fidelity.co.uk/resource-centre/technical-matters/pension-retirement-and-tax-planning/#ZPBrAWTzMjM" title="Pension death benefits" target="_blank")
						img(src="/images/fundnetwork-s2-video.jpg", alt="Pension death benefits")


	.f_section
		._head._s4
			div
				h2 Retirement videos
				p Our technical video section provides you with pension expert knowledge in short snippets of 5 mins. They are also very useful for those preparing the CII pension exam as they follow the syllabus.
			a(href="https://adviserservices.fidelity.co.uk/resource-centre/technical-matters/retirement-technical-videos/?utm_term=fnw_practitioner_support&utm_campaign=fnw_technical_matters&utm_medium=native_content &utm_source=Adviser home&utm_content=native_content_unit" class="f_btn -orange" title="Retirement technical videos" target="_blank") Watch videos
		._body
			.fx-row
				div.col-2
					p Check our library of short videos and simply dive in and out to fit with your busy schedule.
					p.p-bold Our most popular topics include:
					.fx-row 
						ul.f_list.col-2
							li DB transfer advice
							li Tax relief
							li DB transfer issues and considerations
						ul.f_list.col-2
							li Defined contribution schemes - scheme types overview
					a(href="https://adviserservices.fidelity.co.uk/resource-centre/technical-matters/retirement-technical-videos/?utm_term=fnw_practitioner_support&utm_campaign=fnw_technical_matters&utm_medium=native_content &utm_source=Adviserhome&utm_content=native_content_unit" class="f_btn -green" title="Retirement technical videos") Watch now
				div.col-2
					a(href="https://adviserservices.fidelity.co.uk/resource-centre/technical-matters/retirement-technical-videos/?utm_term=fnw_practitioner_support&utm_campaign=fnw_technical_matters&utm_medium=native_content &utm_source=Adviserhome&utm_content=native_content_unit" title="Retirement technical videos" target="_blank")
						img(src="/images/fundnetwork-s3-video.jpg", alt="Retirement technical videos")


	.f_section
		._head._s5
			div
				h2 Cybersecurity
				p As managing our business and personal lives moves ever more online, criminals are also increasingly using the internet to conduct fraud.
				a(href="https://adviserservices.fidelity.co.uk/news-insights/keeping-your-business-safe/?utm_term=fnw_practitioner_support&utm_campaign=fnw_technical_matters&utm_medium=native_content &utm_source=Adviser home&utm_content=native_content_unit" class="f_btn -orange" target="_blank") Tips on how to keep your business safe
		._body
			
			

			.fx-row
				div.col-2.m-order-2
					h3 The new target of Cyberfraud
					p Organised crime is getting much more sophisticated - the focus has now shifted from banks and asset managers to advisory firms. Peter Gillespie from Fidelity gives a few tips on how to keep your information safe and secure.
					a(href="https://adviserservices.fidelity.co.uk/news-insights/keeping-your-business-safe/#ebcMJU7pmwh" class="f_btn -green" title="The new target of Cyberfraud" target="_blank") Watch video
				div.col-2.m-order-1
					a(href="https://adviserservices.fidelity.co.uk/news-insights/keeping-your-business-safe/#ebcMJU7pmwh" title="The new target of Cyberfraud" target="_blank")
						img(src="/images/fundnetwork-s5-video1.jpg", alt="The new target of Cyberfraud")

			.fx-row.fx-margin-40
				div.col-2.m-order-2
					h3 How private is your personal information?
					p What dangers can sharing too much information online pose?  See in this video how easy it can be for fraudsters to access anyone's personal details. If you find the experiment quite chilling, it's worth taking the time to explore the key steps to reducing risk of cybercrime with our support page where you'll find case studies, guides and check lists.
					a(href="https://adviserservices.fidelity.co.uk/news-insights/keeping-your-business-safe/#0ycJyHy36sJ" class="f_btn -green" title="How private is your personal information?" target="_blank") Watch video
				div.col-2.m-order-1
					a(href="https://adviserservices.fidelity.co.uk/news-insights/keeping-your-business-safe/#0ycJyHy36sJ" title="How private is your personal information?" target="_blank")
						img(src="/images/fundnetwork-s5-video2.jpg", alt="How private is your personal information?")


	.f_section
		._head._s1
			div
				h2 Platform key success factors
				p Our commitment to building long-term relationships with advisory firms has earned us a number of industry accolades.
			div
				a(href="https://adviserservices.fidelity.co.uk/news-insights/keeping-your-business-safe/?utm_term=fnw_practitioner_support&utm_campaign=fnw_technical_matters&utm_medium=native_content &utm_source=Adviser home&utm_content=native_content_unit" class="f_btn -orange" target="_blank") Find out more
		._body
			.fx-row
				div.col-2.m-order-2
					h3 Video AdviserAsset interview: #[span Platform critical success factors]
					p Hear from Colin Turton, Director of AdviserAsset, about the critical success factors when giving a platinum rating to a platform. The short video discussion includes adviser views including the importance of pricing, functionality, service quality and the overall robustness of a platform offering.
					a(href="https://adviserservices.fidelity.co.uk/about-us/awards/?utm_term=fnw_practitioner_support&utm_campaign=fnw_technical_matters&utm_medium=native_content%20&utm_source=Adviser%20home&utm_content=native_content_unit" class="f_btn -green" title="Video AdviserAsset interview: Platform critical success factors" target="_blank") Watch video
				div.col-2.m-order-1
					a(href="https://adviserservices.fidelity.co.uk/about-us/awards/?utm_term=fnw_practitioner_support&utm_campaign=fnw_technical_matters&utm_medium=native_content%20&utm_source=Adviser%20home&utm_content=native_content_unit" title="Video AdviserAsset interview: Platform critical success factors" target="_blank")
							img(src="/images/fundnetwork-s1-video.jpg", alt="Video AdviserAsset interview")
					


				











