link(rel="stylesheet", href="css/styles.css")

.fundnetwork
	.f_headline
		img(src="/images/fundnetwork-logo.jpg", alt="FundNetworks")
		span a leading investment and retirement services platform

	.f_welcome
		._title #[span FundsNetwork] - owned and backed by Fidelity International
		._desc Our goal is to help firms grow and develop by providing the services, tools and functionality you need for your business and clients.
		a(href="#section1" class="f_btn -down")

	.f_section#section1
		._head._s1
			div
				h2 Platform key success factors
				p Our commitment to building long-term relationships with advisory firms has earned us a number of industry accolades.
		._body
			.fx-row
				div.col-2
					h3 Video AdviserAsset interview: #[span Platform critical success factors]
					p Hear from Colin Turton, Director of AdviserAsset, about the critical success factors when giving a platinum rating to a platform. The short video discussion includes adviser views including the importance of pricing, functionality, service quality and the overall robustness of a platform offering.
					a(href="https://adviserservices.fidelity.co.uk/about-us/awards/?utm_term=fnw_practitioner_support&utm_campaign=fnw_technical_matters&utm_medium=native_content%20&utm_source=Adviser%20home&utm_content=native_content_unit" class="f_btn -green" title="Video AdviserAsset interview: Platform critical success factors" target="_blank") Watch video
				div.col-2
					a(href="https://adviserservices.fidelity.co.uk/about-us/awards/?utm_term=fnw_practitioner_support&utm_campaign=fnw_technical_matters&utm_medium=native_content%20&utm_source=Adviser%20home&utm_content=native_content_unit" title="Video AdviserAsset interview: Platform critical success factors" target="_blank")
						img(src="/images/fundnetwork-s1-video.jpg", alt="Video AdviserAsset interview")
	

	.f_section
		._head._s2
			div
				h2 Pensions, retirement and tax planning
				p A range of guides, factsheets and insights to support you and your clients with financial planning.
			a(href="https://adviserservices.fidelity.co.uk/resource-centre/technical-matters/pension-retirement-and-tax-planning/?utm_term=fnw_practitioner_support&utm_campaign=fnw_technical_matters&utm_medium=native_content &utm_source=Adviser home&utm_content=native_content_unit" class="f_btn -orange" title="Pensions, retirement and tax planning" target="_blank") View full guide
		._body
			.f_box.fx-row
				div.col
					h3 Advising on pension transfers - #[span a summary of the FCA's new guidance and proposals]
					p FCA issued new guidance on transfers March 2018 (PS18/6) and most of the new rules came into force on 1 April 2018. They also announced a further consultation on improving the quality of pension transfer advice (CP18/7).
					p.p-bold Our factsheets on these developments cover:
					.fx-row 
						ul.f_list.col-2
							li Giving advice and assessing suitability
							li Analysis to support advice
							li Standards to meet before giving advice
						ul.f_list.col-2
							li Preparing to give advice
							li Providing advice
							li Charging structures associated with advising on pension transfers
					a(href="https://fundsnetworkprod-live-733ab5a756b04a1d8aea729f1589b80b-2a8642e.s3-eu-west-1.amazonaws.com:443/filer_public/61/f0/61f026e5-541f-4dac-b55a-1f82d324a8e3/pension-transfers-fca-policy-statement-and-consultation-summary.pdf" class="-download" title="Advising on pension transfers - span a summary of the FCA’s new guidance and proposals" target="_blank") Read more
					p.note We do not cover all the new policies/announcements or proposals and so we recommend that firms advising on pension transfers and those acting as pension transfer specialists read the full texts to see how they may be affected.

				div.col-4
					a(href="https://fundsnetworkprod-live-733ab5a756b04a1d8aea729f1589b80b-2a8642e.s3-eu-west-1.amazonaws.com:443/filer_public/61/f0/61f026e5-541f-4dac-b55a-1f82d324a8e3/pension-transfers-fca-policy-statement-and-consultation-summary.pdf" title="Advising on pension transfers - a summary of the FCA’s new guidance and proposals" target="_blank")
						img(src="/images/fundnetwork-paper1.jpg", alt="Advising on pension transfers - a summary of the FCA’s new guidance and proposals")

			.f_box.fx-row
				div.col
					h3 The State Pension - a technical guide
					p The State Pension changed on 6 April 2016 and different rules apply depending on when a person reaches State Pension age. #[span.p-bold Our technical covers]:
					.fx 
						ul.f_list
							li Changes to the State Pension
							li The old State Pension (including the basic and Additional State Pension)
							li The new single-tier State Pension
							li Working and retiring overseas
						ul.f_list
							li Checking entitlement and making up for shortfalls
							li Deferring the State Pension
							li Payment and tax treatment of the State Pension
							li Inheriting the State Pension
					a(href="https://fundsnetworkprod-live-733ab5a756b04a1d8aea729f1589b80b-2a8642e.s3-eu-west-1.amazonaws.com/filer_public/c5/ea/c5ea928f-f5f9-4ce4-b666-0b86ea3c65d6/state-pension-technical-guide.pdf" class="-download" title="The State Pension - a technical guide" target="_blank") Read more

				div.col-4
					a(href="https://fundsnetworkprod-live-733ab5a756b04a1d8aea729f1589b80b-2a8642e.s3-eu-west-1.amazonaws.com/filer_public/c5/ea/c5ea928f-f5f9-4ce4-b666-0b86ea3c65d6/state-pension-technical-guide.pdf" title="The State Pension - a technical guide" target="_blank")
						img(src="/images/fundnetwork-paper2.jpg", alt="The State Pension - a technical guide")

			a(href="https://adviserservices.fidelity.co.uk/resource-centre/technical-matters/pension-retirement-and-tax-planning/?utm_term=fnw_practitioner_support&utm_campaign=fnw_technical_matters&utm_medium=native_content &utm_source=Adviser home&utm_content=native_content_unit" class="f_btn -green -margin" title="Pensions, retirement and tax planning" target="_blank") Access out full fuide


			.f_box.fx-row
				div.col
					h3 Pension and divorce - a technical guide
					p Our guide covers technical aspects from earmarking to pension sharing and lifetime allowance considerations.
					a(href="https://fundsnetworkprod-live-733ab5a756b04a1d8aea729f1589b80b-2a8642e.s3-eu-west-1.amazonaws.com/filer_public/f5/a7/f5a77f95-9dfc-4424-8466-ebf276762b08/a-guide-to-pensions-and-divorce.pdf?utm_term=fnw_practitioner_support&utm_campaign=fnw_technical_matters&utm_medium=native_content%20&utm_source=Adviser%20home&utm_content=native_content_unit" class="-download" title="Pension and divorce - a technical guide" target="_blank") Read more

				div.col-4
					a(href="https://fundsnetworkprod-live-733ab5a756b04a1d8aea729f1589b80b-2a8642e.s3-eu-west-1.amazonaws.com/filer_public/f5/a7/f5a77f95-9dfc-4424-8466-ebf276762b08/a-guide-to-pensions-and-divorce.pdf?utm_term=fnw_practitioner_support&utm_campaign=fnw_technical_matters&utm_medium=native_content%20&utm_source=Adviser%20home&utm_content=native_content_unit" title="Pension and divorce - a technical guide" target="_blank")
						img(src="/images/fundnetwork-paper3.jpg", alt="Pension and divorce - a technical guide")

			h3 Pension death benefit factsheets

			ul.f_list-pdf
				li 
					._title Payable under defined benefit schemes 
					a(href="https://fundsnetworkprod-live-733ab5a756b04a1d8aea729f1589b80b-2a8642e.s3-eu-west-1.amazonaws.com/filer_public/a6/87/a68790f7-5b88-4461-9b9b-99fbb491234f/pension-death-benefits-payable-under-defined-benefits-schemes.pdf?utm_term=fnw_practitioner_support&utm_campaign=fnw_technical_matters&utm_medium=native_content &utm_source=Adviser home&utm_content=native_content_unit" title="Payable under defined benefit schemes" target="_blank")
				li 
					._title Payable under money purchase scheme
					a(href="https://fundsnetworkprod-live-733ab5a756b04a1d8aea729f1589b80b-2a8642e.s3-eu-west-1.amazonaws.com/filer_public/7f/31/7f31ed51-86b1-4e72-b886-49f0f5cda20f/pension-death-benefits-payable-under-money-purchase-schemes.pdf?utm_term=fnw_practitioner_support&utm_campaign=fnw_technical_matters&utm_medium=native_content &utm_source=Adviser home&utm_content=native_content_unit" title="Payable under money purchase scheme" target="_blank")
				li 
					._title Dealing with tax in relation to pension withdrawals
					._desc In this factsheet we cover the main considerations and options around tax calculation and payment when making direct withdrawal from a pension. 
					a(href="https://fundsnetworkprod-live-733ab5a756b04a1d8aea729f1589b80b-2a8642e.s3-eu-west-1.amazonaws.com/filer_public/cc/3b/cc3b6784-19bb-447a-9ba5-a3a0c318d309/dealing-with-tax-on-pension-withdrawals.pdf?utm_term=fnw_practitioner_support&utm_campaign=fnw_technical_matters&utm_medium=native_content &utm_source=Adviser home&utm_content=native_content_unit" title="Payable under money purchase scheme" target="_blank")

			.fx-row
				div.col-2
					h3 Video: Pension death benefits and tax 
					p In this video, Paul Kennedy, Head of Tax and Trust Planning for FundsNetwork, talks about the pension death benefits.
					a(href="https://adviserservices.fidelity.co.uk/resource-centre/technical-matters/pension-retirement-and-tax-planning/#ZPBrAWTzMjM?utm_term=fnw_practitioner_support&utm_campaign=fnw_technical_matters&utm_medium=native_content%20&utm_source=Adviser%20home&utm_content=native_content_unit" class="f_btn -green" title="Pension death benefits" target="_blank") Watch video
				div.col-2
					a(href="https://adviserservices.fidelity.co.uk/resource-centre/technical-matters/pension-retirement-and-tax-planning/#ZPBrAWTzMjM?utm_term=fnw_practitioner_support&utm_campaign=fnw_technical_matters&utm_medium=native_content%20&utm_source=Adviser%20home&utm_content=native_content_unit" title="Pension death benefits" target="_blank")
						img(src="/images/fundnetwork-s2-video.jpg", alt="Pension death benefits")


	.f_section
		._head._s2
			div
				h2 Retirement technical videos
				p Our technical video section is designed to provide you with pension expert knowledge in short snippets of 5 mins. They are also very useful for those preparing the CII pension exam as they follow the syllabus.
			a(href="https://adviserservices.fidelity.co.uk/resource-centre/technical-matters/retirement-technical-videos/?utm_term=fnw_practitioner_support&utm_campaign=fnw_technical_matters&utm_medium=native_content &utm_source=Adviser home&utm_content=native_content_unit" class="f_btn -orange" title="Retirement technical videos" target="_blank") Watch videos
		._body
			.fx-row
				div.col-2
					p Check our library of #[span.p-bold 42 short videos] and simply dive in and out to fit with your busy schedule.
					p.p-bold Our most popular topics include:
					.fx-row 
						ul.f_list.col-2
							li The lifetime allowance
							li DB transfer advice
						ul.f_list.col-2
							li Calculating the cash equivalent transfer value
							li Understanding TVAS
					a(href="" class="f_btn -green" title="Retirement technical videos") Watch video
				div.col-2
					a(href="https://adviserservices.fidelity.co.uk/resource-centre/technical-matters/retirement-technical-videos/?utm_term=fnw_practitioner_support&utm_campaign=fnw_technical_matters&utm_medium=native_content &utm_source=Adviser home&utm_content=native_content_unit" title="Retirement technical videos" target="_blank")
						img(src="/images/fundnetwork-s3-video.jpg", alt="Retirement technical videos")

		.f_section
			._head._s4
				div
					h2 Other technical matters
			._body
				.fx
					div
						h3 MiFID II: a closer look at fund transaction costs
						p With the introduction of MiFID II in January 2018, fund groups now have to disclose portfolio transaction cost (PTCs) for their funds to be clearly disclosed to investors ahead of investment. To help you explain transaction costs to your clients - we examine PTCs in more detail in this factsheet.
					a(href="https://fundsnetworkprod-live-733ab5a756b04a1d8aea729f1589b80b-2a8642e.s3-eu-west-1.amazonaws.com/filer_public/27/6a/276a843d-55c4-4669-96fb-9928b004bf59/mifid-ii-closer-look-at-fund-transactions.pdf?utm_term=fnw_practitioner_support&utm_campaign=fnw_technical_matters&utm_medium=native_content &utm_source=Adviser home&utm_content=native_content_unit" class="f_btn" title="Other technical matters" target="_blank") Find out more


		.f_section
			._head._s5
				div
					h2 Cybersecurity
					p As managing our business and personal lives moves ever more online, criminals are also increasingly using the internet to conduct fraud.
				a(href="https://adviserservices.fidelity.co.uk/news-insights/keeping-your-business-safe/?utm_term=fnw_practitioner_support&utm_campaign=fnw_technical_matters&utm_medium=native_content &utm_source=Adviser home&utm_content=native_content_unit" class="f_btn -orange" title="Cybersecurity" target="_blank") Keep safe
			._body
				ul.f_list-pdf
					li 
						._title Email hacking customer stories
						a(href="https://fundsnetworkprod-live-733ab5a756b04a1d8aea729f1589b80b-2a8642e.s3-eu-west-1.amazonaws.com/filer_public/25/c5/25c540ee-ef1a-451b-9619-0651bc1d1f41/cyber-crime-email-fraud-customer-stories.pdf" title="Email hacking customer stories" target="_blank")
					li 
						._title Keeping your business safe - A 10-point check list
						a(href="https://fundsnetworkprod-live-733ab5a756b04a1d8aea729f1589b80b-2a8642e.s3-eu-west-1.amazonaws.com/filer_public/eb/23/eb231cff-f76e-4dc4-8f2b-3006709a7a54/keeping-safe-cybercrime.pdf" title="Keeping your business safe – A 10-point check list" target="_blank")
					li 
						._title Spotting fraudulent activity
						a(href="https://fundsnetworkprod-live-733ab5a756b04a1d8aea729f1589b80b-2a8642e.s3-eu-west-1.amazonaws.com/filer_public/0d/f9/0df9a41e-e2c7-4bd2-a6bf-14c33630d22d/spot-fraud-cybercrime.pdf" title="Spotting fraudulent activity" target="_blank")
					li 
						._title Cybersecurity for everyone
						a(href="https://fundsnetworkprod-live-733ab5a756b04a1d8aea729f1589b80b-2a8642e.s3-eu-west-1.amazonaws.com/filer_public/9f/04/9f04f6ac-7b20-4754-9e66-fd09cf3f1c48/cybersecurity-for-everyone.pdf" title="Cybersecurity for everyone" target="_blank")

				.fx-row
					div.col-2.m-order-2
						h3 The new target of Cyberfraud
						p Organised crime is getting much more sophisticated - the focus has now shifted from banks and asset managers to advisory firms. Peter Gillespie from Fidelity gives a few tips on how to keep your information safe and secure.
						a(href="https://adviserservices.fidelity.co.uk/news-insights/keeping-your-business-safe/#ebcMJU7pmwh?utm_term=fnw_practitioner_support&utm_campaign=fnw_technical_matters&utm_medium=native_content%20&utm_source=Adviser%20home&utm_content=native_content_unit " class="f_btn -green" title="The new target of Cyberfraud" target="_blank") Watch video
					div.col-2.m-order-1
						a(href="https://adviserservices.fidelity.co.uk/news-insights/keeping-your-business-safe/#ebcMJU7pmwh?utm_term=fnw_practitioner_support&utm_campaign=fnw_technical_matters&utm_medium=native_content%20&utm_source=Adviser%20home&utm_content=native_content_unit " title="The new target of Cyberfraud" target="_blank")
							img(src="/images/fundnetwork-s5-video1.jpg", alt="The new target of Cyberfraud")

				.fx-row
					div.col-2.m-order-2
						h3 How private is your personal information?
						p What dangers can sharing too much information online pose?  See in this video how easy it can be for fraudsters to access anyone's personal details. If you find the experiment quite chilling, it's worth taking the time to explore the key steps to reducing risk of cybercrime with our support page where you'll find case studies, guides and check lists.
						a(href="https://adviserservices.fidelity.co.uk/news-insights/keeping-your-business-safe/#ebcMJU7pmwh?utm_term=fnw_practitioner_support&utm_campaign=fnw_technical_matters&utm_medium=native_content%20&utm_source=Adviser%20home&utm_content=native_content_unit " class="f_btn -green" title="How private is your personal information?" target="_blank") Watch video
					div.col-2.m-order-1
						a(href="https://adviserservices.fidelity.co.uk/news-insights/keeping-your-business-safe/#ebcMJU7pmwh?utm_term=fnw_practitioner_support&utm_campaign=fnw_technical_matters&utm_medium=native_content%20&utm_source=Adviser%20home&utm_content=native_content_unit " title="How private is your personal information?" target="_blank")
							img(src="/images/fundnetwork-s5-video2.jpg", alt="How private is your personal information?")

		.f_section
			._head._s5
				div
					h2 Contact us
				a(href="http://www.fundsnetwork.co.uk" class="f_btn -orange" title="Cybersecurity" target="_blank") Visit our website
			._body
				.f_contacts
					._box
						._title AdviserLine
						a(href="tel:0800414181" title="AdviserLine 0800 41 41 81" target="_blank") 0800 41 41 81
						span Monday to Friday between 8:30am and 6:00pm
					._box
						._title Retirement Solutions Team
						a(href="tel:0800902902" title="Retirement Solutions Team 0800 902 902" target="_blank") 0800 902 902
						span Monday to Friday between 8:30am and 6:00pm
					._box
						._title Pension Service Centre (Workplace Investing)
						a(href="tel:0800902902" title="Pension Service Centre 0800 368 68 68" target="_blank") 0800 368 68 68
						span Monday to Friday between 8:30am and 6:00pm
					


				











