link(rel="stylesheet", href="css/index.css")

.selectap
	a(href="https://www.selectapension.com/" target="_blank" title="Selectapension Adviserhome")._logo
		img(src="/images/selectapension-logo.png", alt="Selectapension")
	._welcome Selectapension offers a comprehensive range of online specialist pension and investment planning tools to research and analyse your clients' retirement needs so you can deliver best advice to your clients.

	._benefits
		div._title Key benefits
		ul
			li Easy to use software, with a straightforward, logical format.
			li Allow you to create customisable, easy to understand, client facing reports.
			li Provide client reports which support your compliance and regulatory requirements.
			li Provide access to products from over 60 Providers.
			li Gap illustration between retirement income expectation and reality
			li Cost illustration of the delay in making proper provision for income at retirement
			li Fund factsheets from Morningstar
			li With Profits data from AKG
			li New online digital retirement guidance tool to engage with new prospects.
			li Pension transfer tool includes Income Modeller, TVC and Lifetime Allowance calculator

		div._title and
		ul
			li Free telephone support, 9am - 5pm, Monday to Friday except Bank Holidays.
			li Free initial and ongoing training.
			li No set up fees.

	.s_services
		div._title Pension planning tools include:
		
		.s_service.-orange
			._head
				img(src="/images/selectapension-icon-1.png", alt="Money Purchase - Multiple Transfer Analysis Tool")
				div
					h2 Money Purchase
					h3 Multiple Transfer Analysis Tool
			._body
				ul
					li Illustrate critical yield calculations and projections
					li Show death benefit and PCLS comparison
					li Estimated transfer value at yearly intervals across the required term
			a(href="https://www.selectapension.com/products/money-purchase/" title="Money Purchase - Multiple Transfer Analysis Tool" target="_black")
				span Money Purchase - Multiple Transfer Analysis Tool

		.s_service.-light-green
			._head
				img(src="/images/selectapension-icon-2.png", alt="Income Drawdown and Annuity - Complete Retirement Solution")
				div
					h2 Income Drawdown and Annuity
					h3 Complete Retirement Solution
			._body
				ul
					li Model  multiple income strategies using Drawdown, Annuities, State Pension, Bonds,  Collectives, ISAs and other guaranteed income sources
					li Calculate when funds will become exhausted based on target criteria, growth and charges
					li Calculate a sustainable income to be taken up to the clients' target age
			a(href="https://www.selectapension.com/products/drawdown-annuity/" title="Income Drawdown and Annuity - Complete Retirement Solution" target="_black")
				span Income Drawdown and Annuity - Complete Retirement Solution

		.s_service.-grey
			._head
				img(src="/images/selectapension-icon-3.png", alt="Asset Reviewer - Comparison of New and Existing Investments")
				div
					h2 Asset Reviewer
					h3 Comparison of New and Existing Investments
			._body
				ul
					li Easily source new Bonds, ISAs, Collectives and OEICs
					li Complete portfolio reviews including attitude to risk (ATR), all in one place
					li Assess potential tax implications for investment reviews
			a(href="https://www.selectapension.com/products/asset-reviewer/" title="Asset Reviewer - Comparison of New and Existing Investments" target="_black")
				span Asset Reviewer - Comparison of New and Existing Investments

		.s_service.-green
			._head
				img(src="/images/selectapension-icon-4.png", alt="Retirement Planning - Shortfall and Lifetime Analysis")
				div
					h2 Retirement Planning
					h3 Shortfall and Lifetime Analysis
			._body
				ul
					li Create detailed client reports to show a likely income in retirement
					li Compare pensions to investments
					li Include your client's portfolio of investments, including Equities, ISAs and Bonds
			a(href="https://www.selectapension.com/products/retirement-planning/" title="Retirement Planning - Shortfall and Lifetime Analysis" target="_black")
				span Retirement Planning - Shortfall and Lifetime Analysis

		.s_service.-purple
			._head
				img(src="/images/selectapension-icon-5.png", alt="APTA with TVC - Pension Transfer Analysis Tool")
				div
					h2 APTA with TVC
					h3 Pension Transfer Analysis Tool
			._body
				ul
					li Transfer Value Comparator analysis
					li Assess critical yield using all standard revaluation methods
					li Show death benefit and PCLS comparison 
					li Includes PPF yields and information
					li Include Lifetime Allowance in calculations
			a(href="https://www.selectapension.com/products/apta-with-tvc" title="APTA with TVC - Pension Transfer Analysis Tool" target="_black")
				span APTA with TVC - Pension Transfer Analysis Tool

		
		.s_service.-blue
			._head
				img(src="/images/selectapension-icon-6.png", alt="Provider Comparison - Regular and Single Contributions Forecast Tool")
				div
					h2 Provider Comparison
					h3 Regular and Single Contributions Forecast Tool
			._body
				ul
					li Compare more than 100 products from over 60 Providers
					li Choose from over 50,000 funds, matching fund choice to product availability
					li Create a league table highlighting the highest maturity fund value
			a(href="https://www.selectapension.com/products/provider-comparison/" title="Provider Comparison - Regular and Single Contributions Forecast Tool" target="_black")
				span Provider Comparison - Regular and Single Contributions Forecast Tool


		.s_service.-pink
			._head
				img(src="/images/selectapension-icon-7.png", alt="QROPS Transfer Analysis - Qualifying Recognised Overseas Pension Scheme")
				div
					h2 QROPS Transfer Analysis
					h3 Qualifying Recognised Overseas Pension Scheme
			._body
				ul
					li Assess and Analyse Defined Benefit and Money Purchase transfers
					li Build and customise your own library of customs products and charges
					li Create your own investments and jurisdictions for taxation information
			a(href="https://www.selectapension.com/products/qrops-transfer-analysis/" title="QROPS Transfer Analysis - Qualifying Recognised Overseas Pension Scheme" target="_black")
				span QROPS Transfer Analysis - Qualifying Recognised Overseas Pension Scheme


		.s_service.-navy
			._head
				img(src="/images/selectapension-icon-8.png", alt="Pension Monster - Consumer retirement guidance tool")
				div
					h2 Pension Monster
					h3 Consumer retirement guidance tool
			._body
				ul
					li Free guidance tool which can be linked to from your website or email footer to encourage client engagement
					li Explains differences between popular retirement options: annuity, drawdown, cash withdrawal
					li Includes budget planner and shortfall analysis
					li Shows available products from up to 20 Providers
					li Client can send copy of their report to you at a click of a button
			a(href="http://www.pensionmonster.com/" title="Pension Monster - Consumer retirement guidance tool" target="_black")
				span Pension Monster - Consumer retirement guidance tool

	div._title Pricing
	p Registered members of Adviser Home are offered the tools at a preferential rate and further discounts are offered when you subscribe to a package. Subscriptions can be paid monthly or annually.

	._contact 
		h2 Contact Us
		p If you would like further information or to register for a free demonstration, please contact Selectapension by email at #[a(href="mailto:adviserhome.sales@selectapension.com" title="Selectapension Email") adviserhome.sales@selectapension.com] or telephone #[a(href="tel:01892669494" title="Selectapension Contact Number") 01892 669494] (please quote reference Adhome).







