link(rel="stylesheet", href="css/index.css")

.schroders
	._top
		a(href="" target="_blank")._logo
			img(src="/images/schroders-logo.png", alt="Schroders")
		._tagline Dynamic Planner fund range
	._body
		._title Choice of Multi Asset Portfolios mapped to 5 Dynamic Planner risk profiles with competitive capped charging and personalised reporting
		._cols
			._text 
				div Schroders and Distribution Technology have developed a range of five high-quality risk-targeted multi-manager funds. The Schroder Dynamic Planner fund range has been designed with specific mapping to the Dynamic Planner asset allocation for risk profiles 3, 4, 5, 6 and 7. So when you use Dynamic Planner to risk profile a client you can now seamlessly select an investment solution that you can be sure will fit their needs.
				a(href="http://www.schroders.com/en/uk/adviser/fund-centre/funds-in-focus/schroder-dynamic-planner-portfolio-range/" target="_blank")._link Find out more
			._video
				a(href="http://www.schroders.com/en/uk/adviser/fund-centre/funds-in-focus/schroder-dynamic-planner-portfolio-range/" target="_blank")
					img(src="/images/schroders-video.jpg", alt="Schroders Video")