link(href="https://fonts.googleapis.com/css?family=Lato:400,700|Prata&display=swap" rel="stylesheet")
link(rel="stylesheet", href="css/index.css")

.downing
	
	._nav
		._logo
			a(href="https://www.downing.co.uk?utm_source=adviser&utm_medium=online&utm_campaign=Adviserhome" title="Downing LLP" target="_blank")
				img(src="/images/downing-logo.jpg", alt="Downing LLP")
		._anchors
			div On this page: 
			a(href="#funds") Funds
			a(href="#ledby") Led by
			a(href="#about") About
	
	
	._funds

		._top
			._content
				._title About Downing Fund Managers
				p Downing Fund Managers offers specialist single strategy funds with an overall capability presently in excess of £204 million* funds under management – 3 such strategies are shown below. 
				p The funds are currently UK value style funds with a highly focused approach to investment. These are quite different from many of our peers within the UK equity space.
				p._note *The figure is correct as at 31
					sup st 
					| December 2019

			img(src="/images/downing-complex-top.png", alt="Downing LLP")

		._list#funds
			._item
				._img
					img(src="/images/downing-fund-1.jpg", alt="Downing Monthly Income Fund")
				._title Downing Monthly Income #[span Fund]
				._text The fund aims to provide investors with a high level of income by investing in 30-40 companies that are typically listed on a UK stock exchange, pay dividends and have long-term capital growth prospects.
				._link
					a(href="https://downing.co.uk/investor/offers/downing-monthly-income-fund?utm_source=adviser&utm_medium=online&utm_campaign=Adviserhome" title="Downing Monthly Income Fund" target="_blank") Find out more


			._item
				._img
					img(src="/images/downing-fund-2.jpg", alt="Downing UK Micro-Cap Growth Fund")
				._title Downing UK Micro-Cap Growth Fund
				._text The fund aims to generate growth over the long-term, with a focus on preserving capital. The team invests in a portfolio of 25-30 UK companies listed on AIM - typically those with a market capitalisation of under £150 million at the time of investment.
				._link
					a(href="https://downing.co.uk/investor/offers/downing-uk-micro-cap-growth-fund?utm_source=adviser&utm_medium=online&utm_campaign=Adviserhome" title="Downing UK Micro-Cap Growth Fund" target="_blank") Find out more


			._item
				._img
					img(src="/images/downing-fund-3.png", alt="Downing Strategic Micro-Cap Investment Trust plc")
				._title Downing Strategic Micro-Cap Investment Trust plc
				._text The Trust aims to take influential positions in a focused portfolio of 12 – 18 UK micro-cap companies.
				._link
					a(href="https://www.downingstrategic.co.uk/?utm_source=adviser&utm_medium=online&utm_campaign=adviserhome" title="Downing Strategic Micro-Cap Investment Trust plc" target="_blank") Find out more

	._ledby#ledby
		._title Led by
		._list
			
			._item
				._img
					img(src="/images/downing-person-1.jpg", alt="Judith Mackenzie")
					a(href="https://downing.co.uk/staff/judith-mackenzie?utm_source=adviser&utm_medium=online&utm_campaign=adviserhome" title="Judith Mackenzie" target="_blank")
						span View profile
				._text
					._name Judith Mackenzie
					._position Partner & Fund Manager
				a(href="https://downing.co.uk/staff/judith-mackenzie?utm_source=adviser&utm_medium=online&utm_campaign=adviserhome" title="Judith Mackenzie" target="_blank")
					span View profile

			._item
				._img
					img(src="/images/downing-person-2.jpg", alt="Kevin Addison")
					a(href="https://downing.co.uk/staff/kevin-addison?utm_source=adviser&utm_medium=online&utm_campaign=adviserhome" title="Kevin Addison" target="_blank")
						span View profile
				._text
					._name Kevin Addison
					._position Head of Distribution
				a(href="https://downing.co.uk/staff/kevin-addison?utm_source=adviser&utm_medium=online&utm_campaign=adviserhome" title="Kevin Addison" target="_blank")
					span View profile

			._item
				._img
					img(src="/images/downing-person-3.jpg", alt="James Lynch")
					a(href="https://downing.co.uk/staff/james-lynch?utm_source=adviser&utm_medium=online&utm_campaign=adviserhome" title="James Lynch" target="_blank")
						span View profile
				._text
					._name James Lynch
					._position Fund Manager
				a(href="https://downing.co.uk/staff/james-lynch?utm_source=adviser&utm_medium=online&utm_campaign=adviserhome" title="James Lynch" target="_blank")
					span View profile


	._about#about
		._banner
			img(src="/images/downing-complex-top.png", alt="" class="_img-1")
			img(src="/images/donwing-complex-bottom.png", alt="" class="_img-2")
			._title About Downing

	._cols
		._col-1
			a(href="https://www.downing.co.uk?utm_source=adviser&utm_medium=online&utm_campaign=Adviserhome" title="Downing LLP" target="_blank")
				img(src="/images/downing-logo.jpg", alt="Downing LLP Logo")
			._text Downing LLP is an investment manager with over 30 years’ experience, more than £1 billion assets under management and approximately 25,000 investors. The business has made a firm-wide commitment to the principles of responsible investment by assessing opportunities for both their profitability and their environment and social impact. Downing believes this approach can make investments more rewarding: rewarding by being profitable for its investors, rewarding by being supportive to the businesses it funds and, through their success, ultimately rewarding for society.
			a(href="https://www.downing.co.uk?utm_source=adviser&utm_medium=online&utm_campaign=Adviserhome" title="Downing LLP" target="_blank" class="_link") Visit our website

		._col-2
			._img
				img(src="/images/downing-awards-1.jpg", alt="Growth Finance Awards 2019")
			._img
				img(src="/images/downing-awards-2.jpg", alt="Investment Week Tax Efficiency Awards 2018/2019")
			._img
				img(src="/images/downing-awards-3.jpg", alt="Investment Week Tax Efficiency Awards 2018/2019")

	._disclaimer
		//- img(src="/images/downing-scaffold-bottom.png", alt="")
		p.-lg Past performance is not a reliable indicator of future results. Investments may not be suitable for everyone. The value of investments and the income derived from them may go down as well as up and you may not get back the full amount invested. Potential investors should seek independent advice. For more information on the investment funds and investment trust please visit: #[a(href="https://www.downing.co.uk?utm_source=adviser&utm_medium=online&utm_campaign=Adviserhome" title="Downing LLP") www.downing.co.uk] or call us on #[a(href="tel:020 7630 3319" title="Downing contact number") 020 7630 3319].

		p Downing LLP is authorised and regulated by the Financial Conduct Authority (Firm Reference Number 545025). Registered in England No. OC341575. Registered Office: St Magnus House, 3 Lower Thames Street, London EC3R 6HD.

