link(rel="stylesheet", href="css/index.css")

#fstp
	._fx
		._item-1
			div._logo
				a(href="https://www.fstp.co.uk/course/advice-matters-cpd-for-financial-professionals/" title="fstp" target="_blank")
					img(src="/images/fstp-logo.png", alt="fstp logo")
			div._links
				ul
					li
						a(href="https://www.fstp.co.uk/about/" title="About fstp" target="_blank") About FSTP
					li
						a(href="https://www.fstp.co.uk/courses/" title="Training calender fstp" target="_blank") Training calender
					li
						a(href="https://www.fstp.co.uk/consultancy/" title="Consultancy FTPS" target="_blank") Consultancy
					li
						a(href="https://www.fstp.co.uk/contact/" title="Contact fstp" target="_blank") Contact FSTP
		._item-2
			div Simplifying the complex regulations impacting the financial services industry, through our wide range of accredited CPD training solutions.
