link(rel="stylesheet", href="css/index.css")

#seneca
	.seneca__content
		.seneca__left
			a(href="https://senecaim.com/" title="Seneca Investment Managers Website" target="_blank")
				picture
					source(media="(max-width: 480px)" srcset="/images/seneca-logo-mobile.png")
					img(src="/images/seneca-logo.png" alt="Seneca | Multi-Asset Value Investing")

			p Seneca Investment Managers is a fund management company specialising in multiasset investing. This form of investing combines traditional securities, such as equities and bonds, with non-traditional approaches, such as specialist investments* to deliver specific outcomes.

			p Our investment approach differs in that we make decisions using a value investing ethos. We believe this approach makes it easier to achieve investor objectives and offers the prospect of superior long term returns and avoidance of permanent loss of capital.


			p The bible of value investing is Security Analysis, written by Benjamin Graham and David Dodd and published in 1934. They set out a framework for assessing the intrinsic value of stocks, then proposed that investors should only buy stocks below their intrinsic value.


			p At Seneca IM we use these principles to assess different asset classes, select stocks and when picking third party funds, to choose managers who employ value investing techniques. Our value investing approach means that our funds are actively managed and different, both from common benchmarks and from the competition.


			p Successful active management involves finding patterns in financial assets and taking advantage of them. Performing well for our investors is about finding value in multiasset investing and making better decisions than other investors.

			p.-note *Property, private equity, specialist financial and infrastructure.

			.seneca__content-links
				a(href="https://senecaim.com/about/" title="Seneca | Find out more" target="_blank") Find out more
				a(href="https://senecaim.com/about/who-we-are/" title="Seneca | Meet the team" target="_blank") Meet the team
				a(href="https://senecaim.com/contact/" title="Seneca | Contact us" target="_blank") Contact us
		
		.seneca__right
			.seneca__banner.-column
				.seneca__banner-content
					a(href="https://senecaim.com/" title="Seneca Investment Managers Website" target="_blank" class="seneca-logo-link")
						img(src="/images/seneca-logo-white.png", alt="Seneca | Multi-Asset Value Investing")
					p Widen your search for income and growth
					._bottom
						a(href="https://senecaim.com/" title="Seneca Investment Managers Website" target="_blank") www.senecaim.com
						a(href="tel:01519062450" title="Seneca Investment Managers Telephone" target="_blank") 0151 906 2450
					a(href="https://senecaim.com/" title="Seneca Investment Managers Website" target="_blank") #[span Seneca]



	//- .seneca__books
		.seneca__books__title Literature
		.seneca__books__list
			
			._item
				a(href="https://senecaim.com/professional-investors/literature/" title="Seneca White Paper" target="_blank" class="seneca-brochure-img-link") 
					img(src="/images/seneca-book-1.png", alt="Seneca White Paper" target="_blank")
				a(href="https://senecaim.com/professional-investors/literature/" title="Seneca White Paper" target="_blank" class="seneca-brochure-text-link") Our White Paper
			
			._item
				a(href="https://senecaim.com/content/uploads/2019/06/SIM-MA-Brochure-V19.pdf" title="Seneca Multi-Asset Value Investing" target="_blank" class="seneca-brochure-img-link")
					img(src="/images/seneca-book-2.png", alt="Seneca Multi-Asset Value Investing" target="_blank")
				a(href="https://senecaim.com/content/uploads/2019/06/SIM-MA-Brochure-V19.pdf" title="Seneca Multi-Asset Value Investing" target="_blank" class="seneca-brochure-text-link") Our Brochure

			._item
				a(href="https://senecaim.com/professional-investors/literature/" title="Seneca Factsheets" target="_blank")
					img(src="/images/seneca-book-3.png", alt="Seneca Factsheets" target="_blank" class="seneca-brochure-img-link")
				a(href="https://senecaim.com/professional-investors/literature/" title="Seneca Factsheets" target="_blank" class="seneca-brochure-text-link") Our Factsheets


	.seneca__bottom
		.seneca__banner.-row
			.seneca__banner-content
				a(href="https://senecaim.com/" title="Seneca Investment Managers Website" target="_blank" class="seneca-logo-link")
					img(src="/images/seneca-logo-white.png", alt="Seneca | Multi-Asset Value Investing")
				p Widen your search for income and growth
				._bottom
					a(href="https://senecaim.com/" title="Seneca Investment Managers Website" target="_blank") www.senecaim.com
					a(href="tel:01519062450" title="Seneca Investment Managers Telephone" target="_blank") 0151 906 2450
				a(href="https://senecaim.com/" title="Seneca Investment Managers Website" target="_blank") #[span Seneca]


	.seneca__disclaimer
		p Past performance should not be seen as an indication of future performance. The value of investments and any income may fluctuate and investors may not get back the full amount invested.

		p Before investing you must read the key investor information document (KIID) as it contains important information regarding the fund, including charges, tax and fund specific risk warnings and will form the basis of any investment. This fund may experience high volatility due to the composition of the portfolio or the portfolio management techniques used. The prospectus, KIID and application forms are available in English from Valu-Trac Administration Services (01343 880344).

		p Before investing you should refer to the Key Information Document (KID) for details of the principle risks and information on the trust’s fees and expenses. Net Asset Value (NAV) performance may not be linked to share price performance, and shareholders could realise returns that are lower or higher in performance. The annual investment management charge and other charges are deducted from income and capital. The Investor Disclosure document, KID and latest Annual Report are available at senecaim.com #[a(href="https://senecaim.com/" title="Seneca Investment Managers Website" target="_blank") senecaim.com]

		p Seneca Investment Managers Limited, the Investment Manager of the Fund (0151 906 2450) is authorised and regulated by the Financial Conduct Authority and is registered in England No. 4325961 with its registered office at Tenth Floor, Horton House, Exchange Flags, Liverpool, L2 3YL. All calls are recorded. Your capital is at risk. FP19 327.