link(rel="stylesheet", href="css/index.css")


#years
	.y-header
		.y-container
			.y-header__wrapper
				._title 10 <span>years</span>
				._img
					img(src="/images/years-featured.png", alt="")
				._content Ten years ago we started Adviser Home as <span>a development platform</span> to help advisers run develop and market their business and help providers engage with these advisers to create a vibrant adviser market place.