link(rel="stylesheet", href="css/contact.css")

.rb-logo
	a(href="https://www.rathbonefunds.com/uk/financial-adviser?utm_campaign=adviserhome_rgsf_logo_click_to_funds_homepage_adviser&utm_medium=referral&utm_source=adviserhome" title="Rathbones" target="_blank" rel="nofollow")
		img(src="/images/si-rathbone-logo.png", alt="Rathbones Greenbank Investments")

.rb-contact
	._item
		._text
			._name David Harrison 
			p Fund Manager, Rathbones
			div
				a(href="mailto:rutm@rathbones.com", title="")._fx
					img(src="/images/si-rathbone-email.png", alt="Rathbones Greenbank Investments Contact Email")
					span Email
		._img
			img(src="/images/si-rathbone-manager.png", alt="David Harrison")


.rb-links
	._title Helpful links
	a(href="https://www.rathbonefunds.com/node/2675?utm_campaign=adviserhome_rgsf_screeningbrochure_download&utm_medium=referral&utm_source=adviserhome" title ="Screening brochure" target="_blank") Screening brochure
	a(href="https://www.rathbonefunds.com/literature-item/global-sustainability-fund-product-brochure?utm_campaign=adviserhome_rgsf_product_brochure_download&utm_medium=referral&utm_source=adviserhome" target="_blank") Product brochure
	a(href="https://www.rathbonefunds.com/literature-item/global-sustainability-fund-fund-factsheet-i-class?utm_campaign=adviserhome_rgsf_factsheet_download&utm_medium=referral&utm_source=adviserhome" target="_blank") Factsheet
	a(href="https://www.rathbonefunds.com/literature-item/rathbone-global-sustainability-fund-sales-aid?utm_campaign=adviserhome_rgsf_sales_aid_download&utm_medium=referral&utm_source=adviserhome" target="_blank") Sales aid