link(rel="stylesheet", href="css/contact.css")

.rb-logo
	a(href="/" title="Rathbones" target="_blank" rel="nofollow")
		img(src="/images/si-rathbone-logo.png", alt="Rathbones Greenbank Investments")

.rb-contact
	._item
		._text
			._name David Harrison 
			p Fund Manager, Rathbones
			div
				a(href="mailto:rutm@rathbones.com", title="")._fx
					img(src="/images/si-rathbone-email.png", alt="Rathbones Greenbank Investments Contact Email")
					span Email
		._img
			img(src="/images/si-rathbone-manager.png", alt="David Harrison")


.rb-links
	._title Helpful links
	a(href="https://www.rathbonefunds.com/node/2675" title ="Screening brochure" target="_blank") Screening brochure
	a(href="https://www.rathbonefunds.com/literature-item/global-sustainability-fund-product-brochure" target="_blank") Product brochure
	a(href="https://www.rathbonefunds.com/literature-item/global-sustainability-fund-fund-factsheet-i-class" target="_blank") Factsheet
	a(href="https://www.rathbonefunds.com/literature-item/rathbone-global-sustainability-fund-sales-aid" target="_blank") Sales aid