link(rel="stylesheet", href="css/index.css")

#rathbone
	._featured
		div Aiming to create long-term value for your pocket and the planet

	p There is a growing cohort of clients who want to make a positive impact with their investments; our #[a(href="https://www.rathbonefunds.com/uk/financial-adviser/rathbone-global-sustainability-fund" title="Rathbone Global Sustainability Fund" target="_blank") Rathbone Global Sustainability Fund] aims to help meet this demand. 

	p We believe Investors shouldn’t have to compromise their own personal values when it comes to putting their savings to work.

	p But this isn’t the only reason to invest sustainably. More and more investors are starting to realise that a failure to address ESG risks can have a detrimental impact on long-term investment returns. Companies which take a rigorous approach to ESG issues are typically well-run businesses which may produce solid results and therefore represent attractive investment opportunities. 

	
	._article
		._row
			._col
				h2 About the fund
				p #[a(href="https://www.rathbonefunds.com/uk/financial-adviser/rathbone-global-sustainability-fund" target="_blank") The fund], managed by David Harrison, launched in July 2018 is a natural extension of our significant investment heritage in the ethical and sustainable space.  Built upon a robust investment process, focused on owning high quality companies with a clear commitment to sustainability and can look anywhere in the world for the best ideas.  
			._col 
				img(src="/images/si-rathbone-fund.jpg", alt="")

		._row
			._col.m-order-2
				._quote.-col
					div “We believe Investors shouldn't have to compromise their own personal values when it comes to putting their savings to work.”
			._col.m-order-1
				p This global high-conviction fund combines ethical exclusions with a thematic focus on the UN Sustainable Development Goals and a high level of corporate governance.  The fund is biased towards cash generative and income generating stocks, whilst being fully integrated within the sustainability analysis framework, governed by the completely objective ethical research team at #[a(href="https://www.rathbonegreenbank.com/" title="Rathbone Greenbank Investments" target="_blank") Rathbone Greenbank Investments].
	
	p If the company doesn’t pass this rigorous due diligence and screening then we won’t invest – simple. This independent governance ensures ongoing ethical and sustainable commitments are always met. 

	._row._section
		._col.m-order-2
			img(src="/images/si-rathbone-graph.jpg", alt="", class="_graph")
		._col.m-order-1.-purple
			h2 Sustainability Philosophy
			p Our sustainability model uses a set of sustainable development themes and a number of underlying sub-themes. Following the 2015 launch of the UN Sustainable Development Goals (SDGs), we updated our approach to incorporate the aims of the SDGs.
			p The SDGs comprise 17 goals, with 169 underlying targets that aim to ‘end poverty, protect the planet and ensure prosperity for all’ by 2030. Our themes ultimately align with the same ambitions, but translate the SDGs into something more relevent for companies.

	
	._article
		h2 About the manager

		p Fund manager, #[strong David Harrison] has more than 18 years’ experience in equity analysis and fund management. #[a(href="https://www.rathbonefunds.com/about-us/our-people/david-harrison" title="David Harrison" target="_blank") Find out more about the manager].

		p Furthermore, David and his team benefit from having access to the expertise of our specialist ethical research team at Rathbone Greenbank Investments, which has over 20 years’ experience in assessing the social, environmental and ethical performance of companies.

		._quote.-big
			div “To us sustainable investing is based upon three essential principles…”
			img(src="/images/si-rathbone-manager.png", alt="David Harrison")

		
		
		._video
			p David and team explain more in this short video:
			a(href="https://www.rathbonefunds.com/knowledge-and-insight/introduction" title="Rathbone Global Sustainability Fund" target="_blank")
				img(src="/images/si-rathbone-video.jpg", alt="Rathbone Global Sustainability Fund")

	._quote.-sm
		p “The top priority for most long-term investors is to grow capital for the future. This is my responsibility as a fund manager and steward of your clients’ investments. However, what if our ambitions can be even broader? 

		p You can aim to not only invest profitably over the years, but to do so in a way that minimises costs to the planet and society. 

		p I believe we can succeed in both these goals.”

		._author David Harrison,
			span Fund manager, Rathbones

		//- img(src="/images/si-rathbone-manager.png", alt="David Harrison")
	
	._diclaimer
		p The information contained in this web page is for investment advisers only and must not be circulated to retail clients or the general public.
		p The value of investments and the income from them may go down as well as up and you may not get back your original investment. Past performance should not be seen as an indication of future performance.  Changes in rates of exchange between currencies may cause the value of investments to decrease or increase.
		p This is a financial promotion relating to a particular fund.  Any views and opinions are those of the investment manager, and coverage of any assets held must be taken in the context of the construction of the fund and in no way reflects an investment recommendation.





