link(rel="stylesheet", href="css/index.css")

	.sevenim
		._top
			a(href="").logo
				img(src="/images/sevenim-logo.png", alt="7IM Logo")
			._tagline D7IM DYNAMIC PLANNER WEALTH PORTFOLIOS

		._body
			
			._item
				img(src="/images/sevenim-icon-1.png", alt="7IM")
				._title Investment Options
				._text 3 risk-targeted funds are available through 7IM and Distribution Technology
				a(href="") Find out more

			._item
				img(src="/images/sevenim-icon-2.png", alt="7IM")
				._title NEWS &apm; INSIGHTS
				._text Find our more about our views and how they support our investment decisions
				a(href="") Find out more

			._item
				img(src="/images/sevenim-icon-3.png", alt="7IM")
				._title Contact Us
				a(href="tel:")._telephone 0080 3333 3333
				a(href="mailto:")._email contact@sevenim.com

		._bottom
			img(src="/images/sevenim-icon-4.png", alt="7IM")
			._text Watch this recent webinar on the Dynamic Planner Portfolios 
			a(href="").-pink Watch now
