link(rel="stylesheet", href="css/index.css")

.sevenim
	._top
		a(href="https://www.7im.co.uk/" target="_blank")._logo
			img(src="/images/sevenim-logo.png", alt="7IM Logo")
		._tagline 7IM DYNAMIC PLANNER WEALTH PORTFOLIOS

	._body
		
		._item
			img(src="/images/sevenim-icon-1.png", alt="7IM")
			._title Investment Options
			._text 3 risk-targeted funds are available through 7IM and Distribution Technology
			a._link(href="https://www.7im.co.uk/dynamic-planner" target="_blank") Find out more

		._item
			img(src="/images/sevenim-icon-2.png", alt="7IM")
			._title NEWS &amp; INSIGHTS
			._text Find our more about our views and how they support our investment decisions
			a._link(href="https://www.7im.co.uk/dynamic-planner/news-and-insights" target="_blank") Find out more

		._item.-purple
			img(src="/images/sevenim-icon-3.png", alt="7IM")
			._title Contact Us
			a._link(href="tel:02077608829")._telephone 020 7760 8829
			a._link(href="mailto:BDMSupportTeam@7im.co.uk")._email Email

	._bottom
		img(src="/images/sevenim-icon-4.png", alt="7IM")
		._text Watch this recent webinar on the Dynamic Planner Portfolios 
		a(href="https://event.on24.com/eventRegistration/EventLobbyServlet?target=reg20.jsp&partnerref=7IM&eventid=1652117&sessionid=1&key=072BB851B15B1368FE9C2C155F8CA821&regTag=&sourcepage=register" target="_blank")._link.-pink Watch now
