link(rel="stylesheet", href="css/allianz.css")

.a-contact
	._head
		img(src="/images/si-allianz-logo3.jpg", alt="Allianz GI")
	._text
		p For more information on our products and services
		a(href="https://uk.allianzgi.com/en-gb/adviser/our-firm/contact-us-adv", title="Allianz GI Contacts", target="_blank") Contact Us