<p>
  <span style="font-size: 14px;">For professional investors only.</span></p>
<p>
  <span style="font-size: 14px;">Our long heritage in responsible investment includes the launch of Europe&rsquo;s first ethical investment fund in 1984. Today we have one of the largest Governance and Sustainable Investment (GSI) teams in Europe and offer a suite of funds investing across a range of asset types. We continue to innovate and were also the first asset manager to use an independent advisory body to oversee our ethical screening process. This body is presided over by the Archbishop of Canterbury, The Most Reverend Justin Welby.</span></p>
<style>
  .fx {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-between;
    justify-content: space-between;
  }  
  .fx > div {
    width: 48%;
  }
  @media(max-width: 620px) {

   .fx > div {
    width: 100%;
  }
  }
  .fx .table {
    padding: 10px;
    border: 1px solid black;
  }

</style>

<div class="fx">
  <div>
    <h4><strong><span style="color: rgb(0, 102, 255);">Our GSI team</span></strong></h4>
    <div class="table">
      <p>With extensive experience across a range of ESG issues and sectors, the responsibilities of our GSI team include:</p>
      <ul>
        <li>researching emerging ESG issues to help inform policy development</li>
        <li>reviewing companies against the ethical criteria</li>
        <li>voting at company meetings and engaging with companies, regulators and other stakeholders to improve corporate governance and corporate sustainability</li>
      </ul>
    </div>
  </div>

  <div>
    <h4><strong><span style="color: rgb(0, 102, 255);">Responsible Investment Advisory Council</span></strong></h4>
    <div class="table">
      <p>A six-strong independent Responsible Investment Advisory Council oversees the screening criteria within which our funds are managed.</p>
      <p>The Council is comprised of experts in a range of ethical and sustainability matters, is presided over by Justin Welby, the Archbishop of Canterbury, and chaired by Howard Pearce, a leading figure in the responsible</p>
    </div>
  </div>
  
</div>
<h4>
  <span style="color: rgb(0, 102, 255);"><strong>Who are BMO Global Asset Management?</strong></span></h4>
<p>
  <span style="font-size: 14px;">We are the asset management arm of BMO (Bank of Montreal), Canada&rsquo;s second largest bank. Today we manage over &pound;190 billion in assets (at 31.10.17), and have more than 1,200 employees worldwide with our clients gaining access to the experience and local knowledge of teams in our investment centres in London, Chicago, Toronto and Hong Kong.</span></p>
<h4>
  <span style="color: rgb(0, 102, 255);"><strong>Risk factors</strong></span></h4>
<p>
  <span style="font-size: 14px;">The value of investments and any income derived from them can go down as well as up as a result of market or currency movements and investors may not get back the original amount invested. Screening out sector or companies may result in less diversification and hence more volatility in investment values.</span></p>
<h4>
  <span style="color: rgb(0, 102, 255);"><strong>Find out what our experts think in our latest ESG Viewpoints</strong></span></h4>
<p>
  <span style="font-size: 14px;"><span style="font-family: Arial, Helvetica, sans-serif;"><a href="http://www.bmogam.com/documents/esg-viewpoint-is-the-circular-economy-treading-water/">ESG Viewpoint - Is the Circular Economy treading water?</a><br />
  <a href="http://www.bmogam.com/documents/esg-viewpoints-performance-with-principles/">ESG Viewpoint - Performance with principles: How can ESG investing support financial returns?</a><br />
  <a href="http://www.bmogam.com/documents/esg-viewpoints-restricted-share-awards/">ESG Viewpoint - Restricted share awards &ndash; All carrot, no stick</a></span></span></p>
<h4>
  <span style="color: rgb(0, 102, 255);"><strong>Downloads and resources</strong></span></h4>
<p>
  <span style="font-size: 14px;"><span style="font-family: Arial, Helvetica, sans-serif;"><a href="http://www.bmogam.com/documents/responsible-investment-solutions-brochure/">Read about our responsible capabilities</a><br /></p>
<p>
  <span style="font-size: 14px;"><span style="font-family: Arial, Helvetica, sans-serif;">Watch an Asset TV interview with Jamie Jenkins, Managing Director, co-head of Global Equities</span></span><span style="font-family: Arial, Helvetica, sans-serif; font-size: 14px;">&nbsp;</span></p>
<p>
  <iframe allow="autoplay; encrypted-media" allowfullscreen="" frameborder="0" height="197" src="https://www.youtube.com/embed/HiZIgHyahMs" width="350"></iframe></p>
<p>
  &nbsp;</p>
<h4>
  <span style="color: rgb(0, 102, 255);"><strong>Find out more about our Responsible Funds</strong></span></h4>
<p>
  <span style="font-size: 14px;"><span style="font-family: Arial, Helvetica, sans-serif;"><a href="http://www.bmogam.com/uk/intermediaries/our-funds/responsible/responsible-global-equity/">F&amp;C Responsible Global Equity Fund</a><br />
  <a href="http://www.bmogam.com/uk/intermediaries/our-funds/responsible/fandc-sterling-bond/">F&amp;C Responsible Sterling Bond Fund</a><br />
  <a href="http://www.bmogam.com/uk/intermediaries/our-funds/responsible/responsible-uk-equity-growth/">F&amp;C Responsible UK Equity Growth Fund</a><br />
  <a href="http://www.bmogam.com/uk/intermediaries/our-funds/responsible/responsible-uk-income/">F&amp;C Responsible UK Income Fund</a></span></span><br />
  &nbsp;</p>
<p>
  <span style="font-size: 14px;"><span style="font-family: Arial, Helvetica, sans-serif;"><img alt="" src="/cd-content/uploads/images/Winner logo.jpg" style="width: 300px; height: 231px;" /></span></span></p>
<p>
  <span style="font-size: 14px;">F&amp;C Responsible Global Equity Fund</span></p>
<p>
  &nbsp;</p>
<p>
  <span style="font-size: 14px;">&copy; 2018 BMO Global Asset Management. All rights reserved. BMO Global Asset Management is a trading name of F&amp;C Management Limited, which is authorised and regulated by the Financial Conduct Authority.</span><br />
  &nbsp;</p>
