link(rel="stylesheet", href="css/sustainable-investing.css")

p.p-wrap We believe that Sustainable Investing is on course to be the most important development in retail investment. In the past it has been seen as a specialist interest &ndash; a diversion from the main goal of wealth management. Now, several providers embed ESG thinking in their asset management processes and under the general banner of Sustainable Investments many strands have emerged &ndash; from environmental funds, to screening and active intervention. It&rsquo;s an area that every adviser has to consider as a core part of their advisory process.
p Below you can access information and support from a range of leading investment providers &ndash; each with a distinctive approach to sustainable investing.

ul.si-flex
	//- li
		a(href="/sustainable-investing-bmo-global-asset-management", title="BMO Global Asset management" class="-bmo")
			span BMO Global Asset management
	//- li
		a(href="/sustainable-investing-allianz-gi", title="Sustainable Investing - Allianz GI" class="-allianz")
			span Sustainable Investing - Allianz GI
	li
		a(href="/sustainable-investing-rathbone-greenbank-investments", title="Sustainable Investing - Rathbone Greenbank Investments" class="-rathbones")
			span Sustainable Investing - Rathbone Greenbank Investments

	//- li
		a(href="/sustainable-investing-royal-london-asset-management-rlam", title="Sustainable Investing - Royal London Asset Management (RLAM)" class="-rlam")
			span Sustainable Investing - Royal London Asset Management (RLAM)
	li
		a(href="/sustainable-investing-m-amp-g", title="Sustainable Investing - M&G" class="-mg")
			span Sustainable Investing - M&G
	li
		a(href="/sustainable-investing-schroders", title="Sustainable Investing - Schroders" class="-schroders")
			span Sustainable Investing - Schroders
