link(rel="stylesheet", href="css/mandg.css")

.mg_contact
	h2 Contact us
	.mg_contact_support Call Investment sales support:
	a.mg_contact_tel(href="tel:03456004125") 0345 600 4125
	p (9am - 5pm weekdays) #[br] Calls cost 5p per minute, plus your phone company's access charge.
	a.mg_contact_email(href="mailto:AdvisorySales@MandG.co.uk") email