link(rel="stylesheet", href="css/mg-index-2021-05.css")

.mg_si

	.mg_si__header
		._bg(style="background-image: url('/images/mg__header-bg.jpg');")
		._logo
			img(src="/images/mg__logo.png", alt="M&G Investment")
		._content
			._title Responsible Investing at M&G

	.mg_si__main
		.mg_si__content
			
			._intro
				h2 Why responsible investment is important for M&G?
				p At M&G Investments, we've been investing money for individual and institutional clients for more than 85 years and our principles of investing for the long-term, responsible stewardship of our assets and active fund management have been the foundation of our approach throughout.
				p We consider it our responsibility to support our customers’ investment and savings goals by aiming to generate sustainable returns over the long term. We also recognise that, increasingly, customers are looking to align their investments with their environmental and social values and have a range of funds that can help meet this need.
				p The value and income from the fund's assets will go down as well as up. This will cause the value of your investment to fall as well as rise. There is no guarantee that the fund will achieve its objective and you may get back less than you originally invested.
				a(href="https://www.mandg.com/investments/professional-investor/en-gb/insights/spotlight/responsible-investing" class="mg__button" target="_blank") Find out more

			._ms-carousel
				ul.mg-si_videos#videos
					li.is-active
						a(href="https://play.buto.tv/GWPG6?utm_source=Adviser Home&utm_medium=Joffy's Journal&utm_campaign=ESG&utm_term=advisory" target="_blank")
							img(src="/images/mg_video-2.jpg", alt="M&G Video")
						div
							.mg-si_videos_title Joffy’s Journal: ESG
							p The sixth in a series of videos looking at the change in investor behaviour over the years and how asset managers have responded, Global Head of Distribution, Jonathan (Joffy) Willcocks reinforces the importance of ESG principles when thinking about investments.
							a.mg__button( href="https://play.buto.tv/GWPG6?utm_source=Adviser Home&utm_medium=Joffy's Journal&utm_campaign=ESG&utm_term=advisory" target="_blank") Watch video
					li
						a(href="https://play.buto.tv/P7CBL?utm_source=Adviser Home&utm_medium=Investing for the future&utm_campaign=ESG&utm_term=advisory" target="_blank")
							img(src="/images/mg_video-3.jpg", alt="M&G Video")
						div
							.mg-si_videos_title Investing for the future
							p Building a sustainable future for our planet is the single most important issue facing us today. At M&G, we invest over the long term to generate sustainable returns for our customers. One of the ways we are doing this is by investing in clean and renewable energy companies across Europe.
							a.mg__button(href="https://play.buto.tv/P7CBL?utm_source=Adviser Home&utm_medium=Investing for the future&utm_campaign=ESG&utm_term=advisory" target="_blank") Watch video
					li
						a(href="https://www.mandg.com/investments/professional-investor/en-gb/insights/mandg-insights/latest-insights/2020/12/5-key-questions?utm_source=adviserhome&utm_medium=insights&utm_campaign=multi-asset&utm_term=advisory" target="_blank")
							img(src="/images/mg__video-6.png", alt="M&G Video")
						div
							.mg-si_videos_title M&G Sustainable Multi Asset Fund Range: 5 Key Questions
							p In this short video, Maria Municchi, fund manager of the M&G Sustainable Multi Asset Fund range, answers five key questions about the newly launched fund range in just five minutes.
							a.mg__button(href="https://www.mandg.com/investments/professional-investor/en-gb/insights/mandg-insights/latest-insights/2020/12/5-key-questions?utm_source=adviserhome&utm_medium=insights&utm_campaign=multi-asset&utm_term=advisory" target="_blank") Watch video
					li
						a(href="https://www.mandg.co.uk/adviser/articles/introducing-the-mg-positive-impact-fund/" target="_blank")
							img(src="/images/mg_video-5.jpg", alt="M&G Video")
						div
							.mg-si_videos_title The M&G Positive Impact Fund
							p In this short video, Fund Manager, John William Olsen and Head of Sustainable and Impact Investing, Ben Constable-Maxwell introduce the M&G Positive Impact Fund.
							p John and Ben will discuss impact investing, what the Fund has to offer, including how it measures impact and what makes the Fund different.
							a.mg__button(href="https://www.mandg.co.uk/adviser/articles/introducing-the-mg-positive-impact-fund/" target="_blank") Watch video

				._navs
					#prev <
					#next >
			

			._intro
				h2 M&G's Range of ESG Solutions
				.mg__funds
					._item
						img(src="/images/mg__fund-impact.png", alt="")
						h3 Impact Funds
					
					ul
						li M&G Positive Impact Fund
						li M&G Climate Solutions Fund

					._item
						img(src="/images/mg__fund-sustainable.png", alt="")
						h3 Sustainable Funds

					ul
						li M&G Sustainable Multi Asset Fund
						li M&G Sustainable Multi Asset Balanced Fund
						li M&G Sustainable Multi Asset Cautious Fund
						li M&G Sustainable Multi Asset Growth Fund
						li M&G Global Select Fund
						li M&G Pan European Select Fund 
						li M&G Global Listed Infrastructure Fund

					._item
						img(src="/images/mg__fund-esg.png", alt="")
						h3 ESG+ funds
					
					ul
						li M&G Global High Yield ESG Bond Fund 
			
			._intro
				h2 Downloadable Guides & Useful Articles

				.mg__brochures
					a(href="/cd-content/uploads/files/esg_at_m_and_g.pdf" target="_blank")._item
						._img
							img(src="/images/mg__brochure01.png", alt="")
						._content 
							._title ESG at M&G
							._subtitle Brochure

					a(href="/cd-content/uploads/files/corporate_finance_and_stewardship_report_2020.pdf" target="_blank")._item
						._img
							img(src="/images/mg__brochure02.png", alt="")
						._content
							._title Corporate Finance and Stewardship Report 2020
							._subtitle Brochure

					
					a(href="/cd-content/uploads/files/drivers_and_developments_in_sustainable_multi_asset_investing.pdf" target="_blank")._item
						._img
							img(src="/images/mg__article01.png", alt="")
						._content
							._title Drivers and developments in Sustainable multi-asset investing 
							._subtitle Article

					a(href="/cd-content/uploads/files/a_multi_asset_approach_to_egs_integration.pdf" target="_blank")._item
						._img
							img(src="/images/mg__article01.png", alt="")
						._content
							._title A multi asset approach to ESG integration by Maria Municchi and Marie-Benedicte Senou 
							._subtitle Article
					
					a(href="/cd-content/uploads/files/sustainability_trends__from_economics_to_financial_markets.pdf" target="_blank")._item
						._img
							img(src="/images/mg__article01.png", alt="")
						._content
							._title Sustainability trends: from economics to financial markets by Maria Municchi 
							._subtitle Article
					
					a(href="/cd-content/uploads/files/pushing_for_greater_impact_through_company_engagement.pdf" target="_blank")._item
						._img
							img(src="/images/mg__article04.png", alt="")
						._content
							._title Pushing for greater impact through company engagement by Ben-Constable Maxwell  
							._subtitle Article
					
					a(href="/cd-content/uploads/files/spotlight_on_environmental_challenges.pdf" target="_blank")._item
						._img
							img(src="/images/mg__article05.png", alt="")
						._content
							._title Spotlight on environmental challenges: targeting solutions for the planet through impact investing by Ben-Constable Maxwell   
							._subtitle Article
					
					a(href="/cd-content/uploads/files/why_momentum_for_climate_action_is_growing.pdf" target="_blank")._item
						._img
							img(src="/images/mg__article06.png", alt="")
						._content
							._title Why momentum for climate action is growing by Randeep Somel    
							._subtitle Article
					
					a(href="/cd-content/uploads/files/mg_commitment_to_net_zero_future.pdf" target="_blank")._item
						._img
							img(src="/images/mg__article07.png", alt="")
						._content
							._title M&G’s commitment to ‘net zero’ future by Randeep Somel 
							._subtitle Article

		
		.mg_si__contact
			._content
				._img
					img(src="/images/mg__contacts.png", alt="")
				._text
					h3 Contact M&G
					p Call Investment Sales Support: 
						a(href="tel:03456004125") 0345 600 4125
					p.-sm (9am - 5pm weekdays)
					p.-sm Calls cost 5p per minute, plus your phone company's access charge.
			
			a.mg__button(href="mailto:advisorysales@mandg.co.uk") Our email


	script.
		var active = 0;
		var slider = document.querySelector('._ms-carousel');
		var navs = document.querySelectorAll('._navs > div');
		var items = document.querySelectorAll('#videos li');
		var animSlider = setInterval(intervalTrigger, 5000);

		for(var i = 0; i < navs.length; i++) {
			navs[i].addEventListener('click', function(){
				var dir = this.id;
				nextSlide(dir);
			});
		}
		
		slider.addEventListener('mouseover', function(){
			clearInterval(animSlider);
		});
		slider.addEventListener('mouseleave', function(){
			animSlider = setInterval(intervalTrigger, 5000);
		});

		function nextSlide(dir) {
			var next = dir === 'prev' ? active - 1 : active + 1;
				
			items[active].classList.remove('is-active');
			
			if(dir === 'prev') {
				next = items[next] ? next : items.length - 1;
			} else {
				next = items[next] ? next : 0;
			}

			items[next].classList.add('is-active');
			active = next;
		}

		function intervalTrigger(){
			nextSlide('next');
		}





