link(rel="stylesheet", href="css/mg-index-2021-05.css")

.mg_si

	.mg_si__header
		._bg(style="background-image: url('/images/mg__header-bg.jpg');")
		._logo
			img(src="/images/mg__logo.png", alt="M&G Investment")
		._content
			._title Responsible Investing at M&G

	.mg_si__main
		.mg_si__content
			
			._intro
				h2 Why responsible investment is important for M&G?
				p At M&G Investments, we've been investing money for individual and institutional clients for more than 85 years and our principles of investing for the long-term, responsible stewardship of our assets and active fund management have been the foundation of our approach throughout.
				p We consider it our responsibility to support our customers’ investment and savings goals by aiming to generate sustainable returns over the long term. We also recognise that, increasingly, customers are looking to align their investments with their environmental and social values and have a range of funds that can help meet this need.
				p The value and income from the fund's assets will go down as well as up. This will cause the value of your investment to fall as well as rise. There is no guarantee that the fund will achieve its objective and you may get back less than you originally invested.
				a(href="https://www.mandg.com/investments/professional-investor/en-gb/insights/spotlight/responsible-investing" class="mg__button" target="_blank") Find out more

			._ms-carousel
				ul.mg-si_videos#videos
					li.is-active
						a(href="https://www.mandg.com/investments/professional-investor/en-gb/insights/mandg-insights/latest-insights/2020/12/5-key-questions?utm_source=adviserhome&utm_medium=insights&utm_campaign=multi-asset&utm_term=advisory" target="_blank")
							img(src="/images/mg__video-6.png", alt="M&G Video")
						div
							.mg-si_videos_title M&G Sustainable Multi Asset Fund Range: 5 Key Questions
							p In this short video, Maria Municchi, fund manager of the M&G Sustainable Multi Asset Fund range, answers five key questions about the newly launched fund range in just five minutes.
							a.mg__button(href="https://www.mandg.com/investments/professional-investor/en-gb/insights/mandg-insights/latest-insights/2020/12/5-key-questions?utm_source=adviserhome&utm_medium=insights&utm_campaign=multi-asset&utm_term=advisory" target="_blank") Watch video
					
					
					li
						a(href="https://www.mandg.com/investments/professional-investor/en-gb/insights/mandg-insights/latest-insights/2021/05/how-to-invest-today-to-meet-tomorrow-s-challenges-?utm_source=adviserhome&utm_medium=insights&utm_campaign=multi-asset&utm_term=advisory" target="_blank")
							img(src="/images/mg__video-7.png", alt="How to invest today to meet tomorrow’s challenges")
						div
							.mg-si_videos_title How to invest today to meet tomorrow’s challenges
							p In this video Maria Municchi explores how the sustainable multi-asset strategy combines M&G’s ‘episode’ approach, taking advantage of the opportunities that could arise from investors’ emotional reactions to events, with a focus on investments that are addressing the world’s biggest social and environmental problems.
							a.mg__button(href="https://www.mandg.com/investments/professional-investor/en-gb/insights/mandg-insights/latest-insights/2021/05/how-to-invest-today-to-meet-tomorrow-s-challenges-?utm_source=adviserhome&utm_medium=insights&utm_campaign=multi-asset&utm_term=advisory" target="_blank") Watch video

					li
						a(href="https://www.mandg.com/investments/professional-investor/en-gb/insights/mandg-insights/latest-insights/2021/05/introduction-and-insights-into-impact-investing-?utm_source=adviserhome&utm_medium=insights&utm_campaign=impact" target="_blank")
							img(src="/images/mg__video-8.png", alt="How to invest today to meet tomorrow’s challenges")
						div
							.mg-si_videos_title How to invest today to meet tomorrow’s challenges
							p Watch David Halfacre, Partnerships Development Director and Veronique Chapplow, Investment Director, discuss the key characteristics of impact investing, what investors should look for from impact investments, as well as the M&G Positive Impact Fund.
							a.mg__button(href="https://www.mandg.com/investments/professional-investor/en-gb/insights/mandg-insights/latest-insights/2021/05/introduction-and-insights-into-impact-investing-?utm_source=adviserhome&utm_medium=insights&utm_campaign=impact" target="_blank") Watch video
					

				._navs
					#prev <
					#next >
			

			._intro
				h2 M&G's Range of ESG Solutions
				.mg__funds
					._item
						img(src="/images/mg__fund-impact.png", alt="")
						h3 Impact Funds
					
					ul
						li M&G Positive Impact Fund
						li M&G Climate Solutions Fund

					._item
						img(src="/images/mg__fund-sustainable.png", alt="")
						h3 Sustainable Funds

					ul
						li M&G Sustainable Multi Asset Fund
						li M&G Sustainable Multi Asset Balanced Fund
						li M&G Sustainable Multi Asset Cautious Fund
						li M&G Sustainable Multi Asset Growth Fund
						li M&G Global Select Fund
						li M&G Pan European Select Fund 
						li M&G Global Listed Infrastructure Fund

					._item
						img(src="/images/mg__fund-esg.png", alt="")
						h3 ESG+ funds
					
					ul
						li M&G Global High Yield ESG Bond Fund 
			
			._intro
				h2 Downloadable Guides & Useful Articles

				.mg__brochures
					a(href="https://www.mandg.com/dam/investments/professional-investor/gb/en/documents/funds-literature/brochures/mandg-esg-brochure.pdf?utm_source=adviserhome&utm_medium=insights&utm_campaign=ESG&utm_term=advisory" target="_blank")._item
						._img
							img(src="/images/mg__brochure01.png", alt="")
						._content 
							._title ESG at M&G
							._subtitle Brochure

					a(href="https://www.mandg.com/investments/professional-investor/en-gb/insights/mandg-insights/latest-insights/2021/03/stewardship-report-2020---responsible-investing-?utm_source=adviserhome&utm_medium=insights&utm_campaign=responsible" target="_blank")._item
						._img
							img(src="/images/mg__brochure02.png", alt="")
						._content
							._title Corporate Finance and Stewardship Report 2020
							._subtitle Brochure

					
					a(href="https://www.mandg.com/investments/professional-investor/en-gb/insights/mandg-insights/latest-insights/2021/02/drivers-and-developments-in-sustainable-multi-asset-investing?utm_source=adviserhome&utm_medium=insights&utm_campaign=multi-asset&utm_term=advisory" target="_blank")._item
						._img
							img(src="/images/mg__article01.png", alt="")
						._content
							._title Drivers and developments in Sustainable multi-asset investing 
							._subtitle Article

					//- a(href="/cd-content/uploads/files/a_multi_asset_approach_to_egs_integration.pdf" target="_blank")._item
					//- 	._img
					//- 		img(src="/images/mg__article01.png", alt="")
					//- 	._content
					//- 		._title A multi asset approach to ESG integration by Maria Municchi and Marie-Benedicte Senou 
					//- 		._subtitle Article
					
					a(href="https://www.mandg.com/investments/professional-investor/en-gb/insights/mandg-insights/latest-insights/2021/04/sustainability-trends--from-economics-to-financial-markets?utm_source=adviserhome&utm_medium=insights&utm_campaign=multi-asset&utm_term=advisory" target="_blank")._item
						._img
							img(src="/images/mg__article01.png", alt="")
						._content
							._title Sustainability trends: from economics to financial markets by Maria Municchi 
							._subtitle Article
					
					a(href="https://www.mandg.com/investments/professional-investor/en-gb/insights/mandg-insights/latest-insights/2021/04/pushing-for-greater-impact-through-company-engagement?utm_source=adviserhome&utm_medium=insights&utm_campaign=impact" target="_blank")._item
						._img
							img(src="/images/mg__article04.png", alt="")
						._content
							._title Pushing for greater impact through company engagement by Ben-Constable Maxwell  
							._subtitle Article
					
					a(href="https://www.mandg.com/investments/professional-investor/en-gb/insights/mandg-insights/latest-insights/2021/03/spotlight-on-environmental-challenges--targeting-solutions-for-t?utm_source=adviserhome&utm_medium=insights&utm_campaign=impact" target="_blank")._item
						._img
							img(src="/images/mg__article05.png", alt="")
						._content
							._title Spotlight on environmental challenges: targeting solutions for the planet through impact investing by Ben-Constable Maxwell   
							._subtitle Article
					
					a(href="https://www.mandg.com/investments/professional-investor/en-gb/insights/mandg-insights/latest-insights/2021/02/why-momentum-for-climate-action-is-growing?utm_source=adviserhome&utm_medium=insights&utm_campaign=Climate" target="_blank")._item
						._img
							img(src="/images/mg__article06.png", alt="")
						._content
							._title Why momentum for climate action is growing by Randeep Somel    
							._subtitle Article
					
					a(href="https://www.mandg.com/investments/professional-investor/en-gb/insights/mandg-insights/latest-insights/2021/01/m-g-s-commitment-to-a--net-zero--future?utm_source=adviserhome&utm_medium=insights&utm_campaign=Climate" target="_blank")._item
						._img
							img(src="/images/mg__article07.png", alt="")
						._content
							._title M&G’s commitment to ‘net zero’ future by Randeep Somel 
							._subtitle Article

		
		.mg_si__contact
			._content
				._img
					img(src="/images/mg__contacts.png", alt="")
				._text
					h3 Contact M&G
					p Financial Adviser Helpline: 
						a(href="tel:08003283191") 0800 328 3191
					p.-sm (08:00 - 18:00 Monday to Friday)
					p.-sm Calls cost 5p per minute, plus your phone company's access charge.
			
			a.mg__button(href="mailto:advisorysales@mandg.co.uk") Our email


	script.
		var active = 0;
		var slider = document.querySelector('._ms-carousel');
		var navs = document.querySelectorAll('._navs > div');
		var items = document.querySelectorAll('#videos li');
		var animSlider = setInterval(intervalTrigger, 5000);

		for(var i = 0; i < navs.length; i++) {
			navs[i].addEventListener('click', function(){
				var dir = this.id;
				nextSlide(dir);
			});
		}
		
		slider.addEventListener('mouseover', function(){
			clearInterval(animSlider);
		});
		slider.addEventListener('mouseleave', function(){
			animSlider = setInterval(intervalTrigger, 5000);
		});

		function nextSlide(dir) {
			var next = dir === 'prev' ? active - 1 : active + 1;
				
			items[active].classList.remove('is-active');
			
			if(dir === 'prev') {
				next = items[next] ? next : items.length - 1;
			} else {
				next = items[next] ? next : 0;
			}

			items[next].classList.add('is-active');
			active = next;
		}

		function intervalTrigger(){
			nextSlide('next');
		}





