link(rel="stylesheet", href="css/mg-index-december.css")

.mg_si
	h2  Why responsible investment is important for M&amp;G
	p At M&amp;G we are stewards of our clients’ assets, and we take seriously the responsibilities that come with this role. Watch this video to find out what responsible investment means for M&amp;G, why we believe it is so important and how we put our responsible investment principles into practice. The value of investments will fluctuate, which will cause fund prices to fall as well as rise and you may not get back the original amount you invested.
	p Click #[a(href="https://www.mandg.com/about-us/responsible-investment/" target="_blank") here] to find out more about our approach.
	._ms-carousel
		ul.mg-si_videos#videos
			li.is-active
				a(href="https://play.buto.tv/GWPG6?utm_source=Adviser Home&utm_medium=Joffy's Journal&utm_campaign=ESG&utm_term=advisory" target="_blank")
					img(src="/images/mg_video-2.jpg", alt="M&G Video")
				div
					.mg-si_videos_title Joffy’s Journal: ESG
					p The sixth in a series of videos looking at the change in investor behaviour over the years and how asset managers have responded, Global Head of Distribution, Jonathan (Joffy) Willcocks reinforces the importance of ESG principles when thinking about investments.
					a(href="https://play.buto.tv/GWPG6?utm_source=Adviser Home&utm_medium=Joffy's Journal&utm_campaign=ESG&utm_term=advisory" target="_blank") Watch video
			li
				a(href="https://play.buto.tv/P7CBL?utm_source=Adviser Home&utm_medium=Investing for the future&utm_campaign=ESG&utm_term=advisory" target="_blank")
					img(src="/images/mg_video-3.jpg", alt="M&G Video")
				div
					.mg-si_videos_title Investing for the future
					p Building a sustainable future for our planet is the single most important issue facing us today. At M&G, we invest over the long term to generate sustainable returns for our customers. One of the ways we are doing this is by investing in clean and renewable energy companies across Europe.
					a(href="https://play.buto.tv/P7CBL?utm_source=Adviser Home&utm_medium=Investing for the future&utm_campaign=ESG&utm_term=advisory" target="_blank") Watch video
		._navs
			#prev <
			#next >



	h2 Find out more about ESG at M&amp;G here:
	.mg-si_downloads
		div
			img(src="/images/mg-si-download-1.jpg", alt="")
			a(href="/cd-content/uploads/files/MandG-ESG-Investor-Professional-Brochure.pdf") Download ESG brochure
		div
			img(src="/images/mg-si-download-3-3.jpg", alt="")
			a(href="/cd-content/uploads/files/W242706%20Making%20Sense%20of%20ESG_webbised.pdf") Making Sense of ESG
		div
			img(src="/images/mg-si-download-2.jpg", alt="")
			a(href="/cd-content/uploads/files/Corporate%20Finance%20and%20Stewardship%20Report%202017_final.pdf") Download Corporate Finance and Stewardship Report 2017

	.mg-si_interviews
		div
			h3
				a(href="https://www.mandg.co.uk/adviser/imagination/responsible-investing-at-mg/-/media/Literature/UK/Adviser/Fund%20Updates/ESG-article-5-reasons-PROINV.pdf?utm_source=Adviser Home&utm_medium=article&utm_campaign=ESG&utm_term=advisory" target="_blank") Five reasons why ESG isn't going away
			p M&amp;G Fund Manager John William Olsen outlines the factors involved in the inexorable rise of ESG investing.
		div
			h3
				a(href="https://www.mandg.co.uk/adviser/articles/mg-global-listed-infrastructure-fund-renewables/" target="_blank") Renewable Energy – Critical infrastructure for the future of the planet
			p M&amp;G Fund Manager Alex Araujo describes the damage to the planet caused by climate change and how the widespread adoption of renewables is expected to grow.
		div
			h3
				a(href="/cd-content/uploads/files/263227%20The%20Rise%20of%20Considerate%20Capitalism%20-%20ESG%20article_03.pdf" target="_blank") The Rise of Considerate Capitalism
			p An interview with Rupert Krefting, M&amp;G&rsquo;s Head of Corporate Finance and Stewardship
		div
			h3
				a(href="https://www.mandg.co.uk/investor/articles/three-myths-about-responsible-investing/" target="_blank") Three myths about responsible investing
			p Ben Constable-Maxwell, M&amp;G&rsquo;s Director of Corporate Finance and Stewardship dispels a few myths that could be holding investors back from putting their money to better work.

		div
			h3
				a(href="https://www.telegraph.co.uk/money/investment-management/esg-principles/" target="_blank") How ESG investing became mainstream
			p Rupert Krefting, M&amp;G Head of Corporate Finance and Stewardship charts the rise of responsible investment.

		div
			h3
				a(href="https://www.telegraph.co.uk/money/investment-management/corporate-social-responsibility-risks/" target="_blank") Ignore corporate irresponsibility at your peril
			p M&amp;G Fund Manager John William Olsen, discusses how a focus on environmental, social and governance factors must be part of any genuinely long-term approach to investing in companies.
		div
			h3
				a(href="https://www.telegraph.co.uk/money/investment-management/corporate-governance/" target="_blank") Corporate governance does matter for bond investors
			p M&amp;G Fund Manager Stefan Isaacs demonstrates how a company's commitment to sound corporate governance can improve long-term prospects for income and growth.

		div
			h3
				a(href="https://www.telegraph.co.uk/money/investment-management/investing-for-purpose/" target="_blank") Investing for impact: profit with purpose
			p M&amp;G Fund Managers Ben Constable Maxwell and John William Olsen discuss the ins and outs of impact investing.


		//- div
		//- 	h3
		//- 		a(href="https://www.bondvigilantes.com/blog/2018/02/06/can-esg-analysis-help-improve-high-yield-returns/" target="_blank") Can ESG improve high yield returns?
		//- 	p A bond vigilantes review by Lu Yu, Junior Fund Manager at M&amp;G
		//- div
		//- 	h3 
		//- 		a(href="https://www.mandg.com/news-and-media/featured-stories/2018/2018-01-29-creating-wealth-sustainably-for-the-long-term/" target="_blank" ) Creating wealth sustainably for the long term
		//- 	p An interview with John William Olsen, Global Equities Fund Manager at M&amp;G
		//- div
		//- 	h3 
		//- 		a(href="https://www.mandg.com/news-and-media/featured-stories/2018/2018-03-07-profiting-from-the-greening-of-china/" target="_blank" ) Profiting from the ‘greening’ of China 
		//- 	p An article by M&amp;G fund manager Jamie Horvat and investment specialist Henrietta Walker


	h2 #[a(href="https://www.mandg.co.uk/adviser/imagination/responsible-investing-at-mg/?utm_source=Adviser Home&utm_medium=website content&utm_campaign=ESG&utm_term=advisory" target="_blank") M&amp;G’s range of ESG solutions]:
	h3 ESG labelled Funds
	.mg_si_links
		div.mg_si_links_item
			a(href="https://www.mandg.co.uk/adviser/funds/positive-impact-fund/gb00bg884724/" target="_blank") M&G Positive Impact Fund
			p The fund aims to deliver competitive financial returns by investing in quality, sustainable companies that aim to have a positive societal impact through addressing the world’s major social and environmental challenges.
	h3 ESG integrated funds
	.mg_si_links
		div.mg_si_links_item
			a(href="http://www.mandg.co.uk/investor/funds/global-select-fund/gb0030937840/" target="_blank") M&amp;G Global Select Fund 
			p A core, concentrated fund of quality, primarily developed market-listed companies, with environmental, social and governance (ESG) factors forming part of the manager’s assessment of businesses. The fund aims to provide a combination of capital growth and income and focusses on buying quality, cheaply.
		div.mg_si_links_item
			a(href="http://www.mandg.co.uk/investor/funds/pan-european-select-fund/gb0030927817/" target="_blank") M&amp;G Pan European Select Fund
			p A core, concentrated fund of quality, European (including UK) companies, with environmental, social and governance (ESG) factors forming part of the manager’s assessment of businesses. The fund aims to provide a combination of capital growth and income and focusses  on buying quality, cheaply (same as the M&G Global Select Fund).
		div.mg_si_links_item
			a(href="http://www.mandg.co.uk/adviser/" target="_blank") M&amp;G Global Listed Infrastructure
			p The fund invests in companies that own or control long-life, immovable infrastructure assets. ESG considerations are incorporated in the investment team’s fundamental analysis in order to ensure the sustainability of these companies and associated assets. The fund aims to deliver an income stream that rises every year and a total return that is higher than that of the MSCI ACWI Index over any five-year period.
	.mg_si_links


	.mg-si_footer
		img(src="/images/mg-si_footer.jpg", alt="")


	script.
		var active = 0;
		var slider = document.querySelector('._ms-carousel');
		var navs = document.querySelectorAll('._navs > div');
		var items = document.querySelectorAll('#videos li');
		var animSlider = setInterval(intervalTrigger, 5000);

		for(var i = 0; i < navs.length; i++) {
			navs[i].addEventListener('click', function(){
				var dir = this.id;
				nextSlide(dir);
			});
		}
		
		slider.addEventListener('mouseover', function(){
			clearInterval(animSlider);
		});
		slider.addEventListener('mouseleave', function(){
			animSlider = setInterval(intervalTrigger, 5000);
		});

		function nextSlide(dir) {
			var next = dir === 'prev' ? active - 1 : active + 1;
				
			items[active].classList.remove('is-active');
			
			if(dir === 'prev') {
				next = items[next] ? next : items.length - 1;
			} else {
				next = items[next] ? next : 0;
			}

			items[next].classList.add('is-active');
			active = next;
		}

		function intervalTrigger(){
			nextSlide('next');
		}





