link(rel="stylesheet", href="css/mg-index.css")

.mg_si
	h2  Why responsible investment is important for M&amp;G
	p At M&amp;G we are stewards of our clients’ assets, and we take seriously the responsibilities that come with this role. Watch this video to find out what responsible investment means for M&amp;G, why we believe it is so important and how we put our responsible investment principles into practice. The value of investments will fluctuate, which will cause fund prices to fall as well as rise and you may not get back the original amount you invested.
	p Click #[a(href="https://www.mandg.com/about-us/responsible-investment/" target="_blank") here] to find out more about our approach.
	.mg-si_video
		a(href="https://fwd.buto.tv/videos/source_file/h264/2500/GZGHN" target="_blank")
			img(src="/images/mg_video.jpg", alt="M&G Video")

	h2 Find out more about ESG at M&amp;G here:
	.mg-si_downloads
		div
			img(src="/images/mg-si-download-1.jpg", alt="")
			a(href="/cd-content/uploads/files/MandG-ESG-Investor-Professional-Brochure.pdf") Download ESG brochure
		div
			img(src="/images/mg-si-download-2.jpg", alt="")
			a(href="/cd-content/uploads/files/Corporate%20Finance%20and%20Stewardship%20Report%202017_final.pdf") Download Corporate Finance and Stewardship Report 2017

	.mg-si_interviews
		div
			h3
				a(href="/cd-content/uploads/files/263227%20The%20Rise%20of%20Considerate%20Capitalism%20-%20ESG%20article_03.pdf" target="_blank") The Rise of Considerate Capitalism
			p An interview with Rupert Krefting, M&amp;G&rsquo;s Head of Corporate Finance and Stewardship
		div
			h3
				a(href="https://www.bondvigilantes.com/blog/2018/02/06/can-esg-analysis-help-improve-high-yield-returns/" target="_blank") Can ESG improve high yield returns?
			p A bond vigilantes review by Lu Yu, Junior Fund Manager at M&amp;G
		div
			h3 
				a(href="https://www.mandg.com/news-and-media/featured-stories/2018/2018-01-29-creating-wealth-sustainably-for-the-long-term/" target="_blank" ) Creating wealth sustainably for the long term
			p An interview with John William Olsen, Global Equities Fund Manager at M&amp;G


	h2 M&amp;G’s range of ESG solutions:
	.mg_si_links
		a(href="http://www.mandg.co.uk/discretionary/funds/mg-lux-global-high-yield-esg-bond-fund/lu1665236565/overview/" target="_blank") M&amp;G (Lux) Global High Yield Bond Fund
		a(href="http://www.mandg.co.uk/investor/funds/global-select-fund/gb0030937840/" target="_blank") M&amp;G Global Select Fund 
		a(href="http://www.mandg.co.uk/investor/funds/pan-european-select-fund/gb0030927817/" target="_blank") M&amp;G Pan European Select Fund
		a(href="http://www.mandg.co.uk/investor/funds/global-listed-infrastructure-fund/gb00bf00rc53/" target="_blank") M&amp;G Global Listed Infrastructure 

	.mg-si_footer
		img(src="/images/mg-si_footer.jpg", alt="")



