link(rel="stylesheet", href="css/mg-index-2019-03.css")

.mg_si
	h2  Why responsible investment is important for M&amp;G
	p At M&amp;G we are stewards of our clients’ assets, and we take seriously the responsibilities that come with this role. Watch this video to find out what responsible investment means for M&amp;G, why we believe it is so important and how we put our responsible investment principles into practice. The value and income from the fund's assets will go down as well as up. This will cause the value of your investment to fall as well as rise. There is no guarantee that the fund will achieve its objective and you may get back less than you originally invested.
	p Click #[a(href="https://www.mandg.co.uk/adviser/imagination/responsible-investing-at-mg/" target="_blank") here] to find out more about our approach.
	._ms-carousel
		ul.mg-si_videos#videos
			li.is-active
				a(href="https://play.buto.tv/GWPG6?utm_source=Adviser Home&utm_medium=Joffy's Journal&utm_campaign=ESG&utm_term=advisory" target="_blank")
					img(src="/images/mg_video-2.jpg", alt="M&G Video")
				div
					.mg-si_videos_title Joffy’s Journal: ESG
					p The sixth in a series of videos looking at the change in investor behaviour over the years and how asset managers have responded, Global Head of Distribution, Jonathan (Joffy) Willcocks reinforces the importance of ESG principles when thinking about investments.
					a(href="https://play.buto.tv/GWPG6?utm_source=Adviser Home&utm_medium=Joffy's Journal&utm_campaign=ESG&utm_term=advisory" target="_blank") Watch video
			li
				a(href="https://play.buto.tv/P7CBL?utm_source=Adviser Home&utm_medium=Investing for the future&utm_campaign=ESG&utm_term=advisory" target="_blank")
					img(src="/images/mg_video-3.jpg", alt="M&G Video")
				div
					.mg-si_videos_title Investing for the future
					p Building a sustainable future for our planet is the single most important issue facing us today. At M&G, we invest over the long term to generate sustainable returns for our customers. One of the ways we are doing this is by investing in clean and renewable energy companies across Europe.
					a(href="https://play.buto.tv/P7CBL?utm_source=Adviser Home&utm_medium=Investing for the future&utm_campaign=ESG&utm_term=advisory" target="_blank") Watch video
			li
				a(href="https://www.mandg.co.uk/adviser/articles/introducing-the-mg-sustainable-multi-asset-fund/" target="_blank")
					img(src="/images/mg_video-4.jpg", alt="M&G Video")
				div
					.mg-si_videos_title The M&G Sustainable Multi Asset Fund
					p In this short video, Maria Municchi, Fund Manager, introduces the M&G Sustainable Multi Asset Fund, which launched on 14 February 2019. She will discuss the objectives of the fund as well as outline the multi-asset approach to sustainable investing.
					a(href="https://www.mandg.co.uk/adviser/articles/introducing-the-mg-sustainable-multi-asset-fund/" target="_blank") Watch video
			li
				a(href="https://www.mandg.co.uk/adviser/articles/introducing-the-mg-positive-impact-fund/" target="_blank")
					img(src="/images/mg_video-5.jpg", alt="M&G Video")
				div
					.mg-si_videos_title The M&G Positive Impact Fund
					p In this short video, Fund Manager, John William Olsen and Head of Sustainable and Impact Investing, Ben Constable-Maxwell introduce the M&G Positive Impact Fund.
					p John and Ben will discuss impact investing, what the Fund has to offer, including how it measures impact and what makes the Fund different.
					a(href="https://www.mandg.co.uk/adviser/articles/introducing-the-mg-positive-impact-fund/" target="_blank") Watch video

		._navs
			#prev <
			#next >



	h2 Find out more about ESG at M&amp;G here:
	.mg-si_downloads
		div
			img(src="/images/mg-si-download-1.jpg", alt="")
			a(href="/cd-content/uploads/files/MandG-ESG-Investor-Professional-Brochure.pdf" target="_blank") Download ESG brochure
		div
			img(src="/images/mg-si-download-3-3.jpg", alt="")
			a(href="/cd-content/uploads/files/W242706%20Making%20Sense%20of%20ESG_webbised.pdf" target="_blank") Making Sense of ESG
		div
			img(src="/images/mg-si-download-2-2.jpg", alt="")
			a(href="/cd-content/uploads/files/Corporate-Finance-and-Stewardship-Report-2018-2.pdf" target="_blank") Download Corporate Finance and Stewardship Report 2018

		div
			img(src="/images/mg-si-download-4.jpg", alt="")
			a(href="/cd-content/uploads/files/MandG-POSI-PIM-Impact-Brochure.pdf" target="_blank") A guide to positive impact through listed equities

	.mg-si_interviews
		div
			h3
				a(href="https://www.mandg.co.uk/adviser/imagination/responsible-investing-at-mg/-/media/Literature/UK/Adviser/Fund%20Updates/ESG-article-5-reasons-PROINV.pdf?utm_source=Adviser Home&utm_medium=article&utm_campaign=ESG&utm_term=advisory" target="_blank") Five reasons why ESG isn't going away
			p M&amp;G Fund Manager John William Olsen outlines the factors involved in the inexorable rise of ESG investing.
		div
			h3
				a(href="https://www.mandg.co.uk/adviser/articles/mg-global-listed-infrastructure-fund-renewables/" target="_blank") Renewable Energy – Critical infrastructure for the future of the planet
			p M&amp;G Fund Manager Alex Araujo describes the damage to the planet caused by climate change and how the widespread adoption of renewables is expected to grow.
		div
			h3
				a(href="/cd-content/uploads/files/263227%20The%20Rise%20of%20Considerate%20Capitalism%20-%20ESG%20article_03.pdf" target="_blank") The Rise of Considerate Capitalism
			p An interview with Rupert Krefting, M&amp;G&rsquo;s Head of Corporate Finance and Stewardship
		div
			h3
				a(href="https://www.mandg.co.uk/investor/articles/three-myths-about-responsible-investing/" target="_blank") Three myths about responsible investing
			p Ben Constable-Maxwell, M&amp;G&rsquo;s Director of Corporate Finance and Stewardship dispels a few myths that could be holding investors back from putting their money to better work.

		div
			h3
				a(href="https://www.mandg.co.uk/adviser/funds/positive-impact-fund/gb00bg884724/" target="_blank") Accentuating the positive
			p Editor of Hub News, Cherry Reynard, interviews Fund Manager John William Olsen on the launch of the new M&G Positive Impact Fund.

		div
			h3
				a(href="https://www.mandg.co.uk/adviser/articles/listed-equity-impact-investing/" target="_blank") Listed equity impact investing
			p Impact investing is fundamentally different from traditional ethical investing or ESG – even if the difference may seem subtle on the surface.
		div
			h3
				a(href="https://www.mandg.co.uk/adviser/articles/the-journey-of-sustainable-investing/" target="_blank") The Journey of Sustainable investing
			p Maria Municchi, fund manager of the M&G Sustainable Multi Asset Fund discusses the fund’s multi-asset approach to seeking returns and a better future.

		div
			h3
				a(href="https://www.mandg.co.uk/adviser/articles/esg-impact-process/" target="_blank") M&G Sustainable Multi Asset Fund
			p This note discusses the Fund’s ESG impact process.
		div
			h3
				a(href="https://www.equitiesforum.com/blog/2019/03/13/impact-isnt-esg/?utm_source=Adviserhome&utm_medium=insights&utm_campaign=esg&utm_term=advisory" target="_blank") Impact isn't ESG 
			p An article describing the terminology used in the responsible investment spectrum.



	h2 #[a(href="https://www.mandg.co.uk/adviser/imagination/responsible-investing-at-mg/?utm_source=Adviser Home&utm_medium=website content&utm_campaign=ESG&utm_term=advisory" target="_blank") M&amp;G’s range of ESG solutions]:
	h3 ESG labelled Funds
	.mg_si_links
		div.mg_si_links_item
			a(href="https://www.mandg.co.uk/adviser/funds/positive-impact-fund/gb00bg884724/" target="_blank") M&G Positive Impact Fund
			p The fund aims to deliver competitive financial returns by investing in quality, sustainable companies that aim to have a positive societal impact through addressing the world’s major social and environmental challenges.
	h3 ESG integrated funds
	.mg_si_links
		div.mg_si_links_item
			a(href="http://www.mandg.co.uk/investor/funds/global-select-fund/gb0030937840/" target="_blank") M&amp;G Global Select Fund 
			p A core, concentrated fund of quality, primarily developed market-listed companies, with environmental, social and governance (ESG) factors forming part of the manager’s assessment of businesses. The fund aims to provide a combination of capital growth and income and focusses on buying quality, cheaply.
		div.mg_si_links_item
			a(href="http://www.mandg.co.uk/investor/funds/pan-european-select-fund/gb0030927817/" target="_blank") M&amp;G Pan European Select Fund
			p A core, concentrated fund of quality, European (including UK) companies, with environmental, social and governance (ESG) factors forming part of the manager’s assessment of businesses. The fund aims to provide a combination of capital growth and income and focusses  on buying quality, cheaply (same as the M&G Global Select Fund).
		div.mg_si_links_item
			a(href="http://www.mandg.co.uk/adviser/" target="_blank") M&amp;G Global Listed Infrastructure
			p The fund invests in companies that own or control long-life, immovable infrastructure assets. ESG considerations are incorporated in the investment team’s fundamental analysis in order to ensure the sustainability of these companies and associated assets. The fund aims to deliver an income stream that rises every year and a total return that is higher than that of the MSCI ACWI Index over any five-year period.
		div.mg_si_links_item
			a(href="https://www.mandg.co.uk/investor/funds/sustainable-multi-asset-fund/gb00bhr41h73/" target="_blank") M&G Sustainable Multi Asset Fund
			p The fund aims to provide a combination of capital growth and income of 4-8% per annum, net of the ongoing charge figure, over any five-year period, while considering environmental, social and governance (ESG) factors.

	.mg-si_disclaimer
		div  The value and income from the fund’s assets will go down as well as up. This will cause the value of your investment to fall as well as rise. There is no guarantee that the fund will achieve its objective and you may get back less than you originally invested.


	.mg-si_footer
		img(src="/images/mg-si_footer.jpg", alt="")


	script.
		var active = 0;
		var slider = document.querySelector('._ms-carousel');
		var navs = document.querySelectorAll('._navs > div');
		var items = document.querySelectorAll('#videos li');
		var animSlider = setInterval(intervalTrigger, 5000);

		for(var i = 0; i < navs.length; i++) {
			navs[i].addEventListener('click', function(){
				var dir = this.id;
				nextSlide(dir);
			});
		}
		
		slider.addEventListener('mouseover', function(){
			clearInterval(animSlider);
		});
		slider.addEventListener('mouseleave', function(){
			animSlider = setInterval(intervalTrigger, 5000);
		});

		function nextSlide(dir) {
			var next = dir === 'prev' ? active - 1 : active + 1;
				
			items[active].classList.remove('is-active');
			
			if(dir === 'prev') {
				next = items[next] ? next : items.length - 1;
			} else {
				next = items[next] ? next : 0;
			}

			items[next].classList.add('is-active');
			active = next;
		}

		function intervalTrigger(){
			nextSlide('next');
		}





