link(rel="stylesheet", href="css/rathbones.css")

.rb-contact
	._item
		._text
			._name John David
			p Head of Rathbone Greenbank Investments 
			div
				a(href="mailto:greenbank@rathbones.com", title="Rathbone Greenbank Investments Contact Email")._fx
					img(src="/images/si-rathbones-icon-email.png", alt="Rathbone Greenbank Investments Contact Email")
					span Email
		._img
			img(src="/images/si-rathbones-john-david.jpg", alt="John David Head of Rathbone Greenbank Investments")
	._item
		._text
			._name Bryn Jones
			p Fund Manager and Head of Fixed Income, Rathbones
			div
				a(href="mailto:rutm@rathbones.com", title="Rathbone Greenbank Investments Contact Email")._fx
					img(src="/images/si-rathbones-icon-email.png", alt="Rathbone Greenbank Investments Contact Email")
					span Email
		._img
			img(src="/images/si-rathbones-bryn-jones.png", alt="Bryn Jones Fund Manager and Head of Fixed Income Rathbones")

