link(rel="stylesheet", href="css/rlam.css")

.rlondon_contact
	.rlondon_contact_head
	.rlondon_contact_text
		h2 Get in touch
		p For more information about our range of sustainable funds, please email or call us using the details below:

		.rlondon_contact_links
			a(href="mailto:bdsupport@rlam.co.uk", title="Royal London Asset Management Sustainable Investing Email", class="rlondon_btn") bdsupport@rlam.co.uk
			a(href="tel:02075066500", title="Royal London Asset Management Sustainable Investing Telephone Number", class="rlondon_btn") 020 7506 6500