link(rel="stylesheet", href="css/schroders.css")

.a-contact
	._head
	._text
		p For any further questions, please contact us.
		a(href="mailto:Belinda.Gan@Schroders.com", title="schroders Contacts", target="_blank") Contact Us