link(rel="stylesheet", href="css/schroders.css")

.a-contact
	._head
	._text
		p For any further questions, please contact us.
		
		._link
			a(href="mailto:Belinda.Gan@Schroders.com", title="schroders Contacts", target="_blank") Contact our ESG team
		
		._link
			a(href="https://www.schroders.com/en/uk/adviser/your-contacts/", title="schroders Contacts", target="_blank" class="-orange") Contact our Sales Team