h4
  | Investing in a fast-paced world
p
  span(style='font-size: 14px;')
    | Social and environmental change is happening faster than ever. Climate change, shifting demographics and the technology revolution are reshaping our planet. Those companies that can adapt and thrive will be more successful in attracting customers, employees and growing their business. Click on the image below to find out more.
p(style='text-align: center;')
  a(href='http://www.schroders.com/en/strategic-capabilities/sustainability/')
    span(style='font-size: 14px;')
      span(style='font-family: Arial, Helvetica, sans-serif;')
        img(alt='', src='/images/image 1 SI campaign.png', style='width: 500px; height: 289px;')
br
br
h4
  | A global perspective on sustainable investing
p
  span(style='font-size: 14px;')
    | In 2017, our Global Investor Study of 20,000 investors in 28 countries around the world revealed that perceptions of sustainable investing are changing and that millennials were more likely to value and invest in sustainable investment funds compared to Generation X and Baby Boomers.
p
  span(style='font-size: 14px;')
    | In 2018, to accurately gauge the latest attitudes, we surveyed more than 22,000 people from 30 countries who invest. We asked them about their knowledge, views and actions when it comes to sustainable investing.
p
  span(style='font-size: 14px;')
    | Read our findings on global perspectives on sustainable investing  
    a(href='https://www.schroders.com/en/sysglobalassets/_global-shared-blocks/gis-2018/sustainability/reports/global_investor_study_2018_sustainable_investment_report_english.pdf ') here.
br
br
h4
  | What do people in the UK think about sustainable investing?
p(style='text-align: center;')
  span(style='font-size: 14px;')
    a(href='https://www.schroders.com/en/uk/adviser/insights/global-investor-study/2018-findings/sustainability-infographic/')
      strong
        img(alt='', src='/images/si-schroders-people-survey.jpg', style='width: 500px; height: auto;')
p
  span(style='font-size: 14px;')
    strong To view the full infographic showcasing the UK perspective on sustainable investing, please click 
    | .
    a(href="https://www.schroders.com/en/uk/adviser/insights/global-investor-study/2018-findings/sustainability-infographic/" target="_blank") here
br
br
h4
  | Understanding sustainable investment and ESG terms
p(style='text-align: center;')
  span(style='font-size: 14px;')
    strong
      img(alt='', src='/images/image 3 SI campaign.png.jpg', style='width: 650px; height: 266px;')
p
  span(style='font-size: 14px;')
    | Find out 
    a(href='http://www.schroders.com/getfunddocument?oid=1.9.2760595') more
    |  as we lay out Schroders’ view of the landscape of activities, strategies that fall under the broad umbrella of sustainability and “ESG”, and our assessment of the terms most commonly associated with each.
br
br
h4
  | Integrating sustainability at Schroders
p
  span(style='font-size: 14px;')
    | Spanning social and financial investments, sustainability covers a broad range of environmental, social and governance (ESG) topics. By following a six-step process, we integrate our sustainability research into the way we invest across asset classes and geographies and seek to deliver not only returns for investors, but better outcomes for society as a whole.
p(style='text-align: center;')
  a(href='http://www.schroders.com/en/sysglobalassets/global-assets/capabilities/sustainability-infographic_v12-2x.png')
    span(style='font-size: 14px;')
      img(alt='', src='/images/sustainability-infographic_v12-2x.jpg', style='width: 500px; height: 400px;')
  br
p
  strong
    span(style='font-size: 14px;') Click on the image above to find out more.
br
br
h4
  | Sustainable investment reports
p
  span(style='font-size: 14px;')
    | Knowing what to do with insights is the key that unlocks value for you. Our investors and analysts globally have the knowledge and experience to do this for our clients. We seek to integrate ESG considerations into our research and overall investment decisions. Find out more in our regular sustainable investment reports, view the latest one 
    a(href='https://www.schroders.com/en/sysglobalassets/digital/insights/2018/sustainability/sustainable-investment-report-q2-2018-cs00157.pdf' target="_blank") here.
br
br
h4
  | A leader in sustainability
p
  span(style='font-size: 14px;')
    | We are rated A+ for our approach by the United Nation’s PRI organisation and the No.1 asset manager by ShareAction. We don’t tick boxes, but add value through real insight and actively engaging to improve companies’ behaviours and governance.
br
p(style='text-align: center;')
  img(alt='', src='/images/image 5 SI campaign.png.jpg.png.jpg', style='width: 600px; height: 315px;')
br
p
  span(style='font-size: 14px;')
    | Source: Schroders, as at 31 December 2017 unless otherwise stated. 1PRI, 2015, 2016 and 2017 Assessment Reports.2ShareAction, "Lifting the Lid: Responsible Investment Performance of European Asset Managers", March 2017. 3Asset Owners Disclosure Project, "Global Climate Index 2017“, April 2017. 4Financial Reporting Council 2016 Assessment
