link(rel="stylesheet", href="css/index.css")

#pictet.is-hidden
    ._top-image
        picture.image-lazy
            source(media="(min-width: 481px)" data-srcset="/images/pictet-top-image-desktop.jpg")
            source(media="(min-width: 0px)" data-srcset="/images/pictet-top-image-mobile.jpg")
            img(src="/images/pictet-top-image-thumb.jpg" alt="Pictet Sustainable Investment")
    
    ._container
        ._header
            picture.image-lazy
                source(media="(min-width: 0px)" data-srcset="/images/pictet-logo.png")
                img(src="/images/pictet-logo-thumb.png" alt="Pictet Asset Management")
            ._title Responsibility is embedded in everything we do, starting with our investment framework.

    ._container
        ._cols
            ._col.-lg
                ._title Responsible investment
                ._subtitle The evidence stacks up
                ._text Sustainable investment is not only good for protecting the world for tomorrow's generations; it can also be a route to superior portfolio returns.
                ._text What constitutes a sound investment or business decision? Less than a decade ago, the answer to that question would have been framed exclusively in financial terms. No longer. Thanks to structural trends such as climate change and higher income inequality, a growing number of companies now put environmental, social and governance (ESG) considerations on a par with economic ones. That makes commercial sense, and for several reasons. 
            ._col.-sm
                picture.image-lazy
                    source(media="(min-width: 481px)" data-srcset="/images/pictet-image-one-desktop.jpg")
                    source(media="(min-width: 0px)" data-srcset="/images/pictet-image-one-mobile.jpg")
                    img(src="/images/pictet-image-one-thumb.jpg" alt="Pictet Sustainable Investment")
    
    ._container
        ._cols
            ._col.-sm
                picture.image-lazy
                    source(media="(min-width: 481px)" data-srcset="/images/pictet-image-two-desktop.jpg")
                    source(media="(min-width: 0px)" data-srcset="/images/pictet-image-two-mobile.jpg")
                    img(src="/images/pictet-image-two-thumb.jpg" alt="Pictet Sustainable Investment")
            ._col.-lg
                ._text #[strong First], as governments around the world gear up to meet the Paris Accord targets on global warming, environmental regulation is likely to become a bigger risk to the bottom line. #[strong Second], the effects of the steady decline in the cost of renewable power and energy storage promise to be transformative, particularly for companies operating in energy-intensive industries such as energy, utilities and transport. #[strong The third] incentive for businesses to embrace ESG is consumer power.  In recent years, consumers have become increasingly aware of how corporations affect society and the environment. As a result, brand perception and customer loyalty – the non-tangible assets which make up a part of a company’s market value – are increasingly linked with ESG credentials. That applies both to the long-term strategic development of the business, as well as to its day-to-day practices.

    ._fund
        picture.image-lazy._fund-picture
            source(media="(min-width: 900px)" data-srcset="/images/pictet-image-bg-desktop.jpg")
            source(media="(min-width: 480px)" data-srcset="/images/pictet-image-bg-tablet.jpg")
            source(media="(min-width: 0px)" data-srcset="/images/pictet-image-bg-mobile.jpg")
            img(src="/images/pictet-image-bg-thumb.jpg" alt="Pictet Sustainable Investment")
        ._container.-left
            ._cols
                ._col.-lg
                    ._title.-white The #[span Pictet-Global] Environmental Opportunities Fund 
                    ._subtitle.-white Performance that doesn’t have to cost the planet
                    ._text.-white Sustainable investment not only protects the world for tomorrow’s generations. It can also provide good returns for investors. The Pictet-Global Environmental Opportunities fund seeks to invest in companies with the strongest environmental credentials that also specialise in the development of products and services which help reverse ecological damage and increase resource efficiency.
                    ._text.-white At the centre of the investment process of the fund is the ground-breaking Planetary Boundaries scientific framework, which identifies nine of the most damaging environmental challenges , such as climate change, water use and biodiversity.
                    a._btn.-white(href="https://www.am.pictet/en/uk/articles/2019/global-environmental-opportunities-investing" title="The Pictet-Global Environmental Opportunities Fund " target="_blank") Find out more
        
        ._container.-right
            ._cols
                ._col.-sm
                ._col.-lg
                    a.pictet-play(href="https://event.on24.com/wcc/r/2340927/8A65DD5F28B59776E1D752A7223BA7BE" title="Webcast with Luciano Diana" target="_blank")
                    ._small-title #[span Webcast] with Luciano Diana
                    ._author Senior Investment Manager of the  Pictet-Global Environmental Opportunities fund 
                    ._text.-white Major crises are usually followed by ambitious recovery plans and more economic control by the state. The next phase could focus on restoring growth as well as on preserving and protecting the planet. Pictet Global Environmental Opportunities invests in some of the world’s most environmentally-responsible companies, as well as those providing innovative solutions to the environmental challenges we face – such as the life science companies that are proving critical in dealing with the current pandemic.
                    ._text.-white Listen to the webcast to hear Luciano’s market views, how the fund has performed, and where he sees opportunities going forward.  
                    a._btn.-white(href="https://event.on24.com/wcc/r/2340927/8A65DD5F28B59776E1D752A7223BA7BE" title="Webcast with Luciano Diana" target="_blank") Watch now

    ._video-section
        ._video
            iframe#youtube-video(width="100%" height="100%" src="https://www.youtube.com/embed/mSO8grN97Vg?rel=0&modestbranding=1&showinfo=0&controls=0&autoplay=" frameborder="0" allow="autoplay;" allowfullscreen)
            ._video-content#video-overlay
                ._content
                    ._title Investing in environmental technology and innovation
                    ._subtitle Watch the video with Luciano Diano, Senior Investment Manager of the Pictet-Global Environmental Opportunities fund

                picture.image-lazy
                    source(media="(min-width: 481px)" data-srcset="/images/pictet-person-desktop.png")
                    source(media="(min-width: 0px)" data-srcset="/images/pictet-person-mobile.png")
                    img(src="/images/pictet-person-thumb.png" alt="Pictet Sustainable Investment")
                
                a.pictet-play#pictet-play(href="#" title="" target="_blank")

    

    ._container
        ._cols
            ._col.-sm
                picture.image-lazy
                    source(media="(min-width: 481px)" data-srcset="/images/pictet-image-three-desktop.jpg")
                    source(media="(min-width: 0px)" data-srcset="/images/pictet-image-three-mobile.jpg")
                    img(src="/images/pictet-image-three-thumb.jpg" alt="Pictet Sustainable Investment")
            ._col.-lg
                ._title Planetary Boundaries
                ._subtitle Measuring the business world’s environmental footprint
                ._text The Planetary Boundary framework can help investors understand the environmental cost of economic activity.
                a._btn(href="https://www.am.pictet/en/globalwebsite/global-articles/2020/expertise/thematic-equities/planetary-boundaries-and-environmental-footprint-of-businesses" title="Planetary Boundaries" target="_blank") Learn more
    
    ._container
        ._cols
            ._col.-lg
                ._title Thematic Equities
                ._subtitle Their use in a diversified portfolio
                ._text Investors can make an allocation to thematic equities whichever portfolio construction approach they use.
                a._btn(href="https://www.am.pictet/en/globalwebsite/global-articles/2019/expertise/thematic-equities/thematic-equities-in-a-portfolio#overview" title="Thematic Equities" target="_blank") Find out more
            ._col.-sm
                picture.image-lazy
                    source(media="(min-width: 481px)" data-srcset="/images/pictet-image-four-desktop.jpg")
                    source(media="(min-width: 0px)" data-srcset="/images/pictet-image-four-mobile.jpg")
                    img(src="/images/pictet-image-four-thumb.jpg" alt="Pictet Sustainable Investment")
    ._contacts
        ._container
            ._content
                ._title Contact Pictet Asset Management
                ._text For more information, please contact
                ._person
                    div._image
                        picture.image-lazy
                            source(media="(min-width: 0px)" data-srcset="/images/pictet-contact-person-mobile.png")
                            img(src="/images/pictet-contact-person-thumb.png" alt="Pictet Sustainable Investment")
                    div._details
                        ._name Clemmie Collett
                        ._position Sales Manager Intermediaries
                        a(href="mailto:ccollett@pictet.com")
                            picture.image-lazy
                                source(media="(min-width: 0px)" data-srcset="/images/pictet-icon-email.png")
                                img(src="/images/pictet-icon-email.png" alt="Pictet Sustainable Investment")
            ._logo-footer
                picture.image-lazy
                    source(media="(min-width: 481px)" data-srcset="/images/pictet-lion-desktop.png")
                    source(media="(min-width: 0px)" data-srcset="/images/pictet-lion-mobile.png")
                    img(src="/images/pictet-lion-thumb.png" alt="Pictet Sustainable Investment")

    script.
        function lazyLoad() {
            const els = document.querySelectorAll('.image-lazy');
            
            const config = {
                rootMargin: '0px 0px 0px 0px',
                threshold: 0
            };

            const observer = new IntersectionObserver((entries, self) => {
                for (var i = 0; i < entries.length; i++) {
                    if (entries[i].isIntersecting) {
                        show(entries[i].target);
                        self.unobserve(entries[i].target);
                    }
                }
            }, config);

            
            function init() {
                for (var i = 0; i < els.length; i++ ) {
                    if (('IntersectionObserver' in window)) {
                        observer.observe(els[i]);
                    } else {
                        this.show(els[i]);
                    }
                }
            }

            function show(el) {
                const img = el.querySelector('img');
                const srcsets = el.querySelectorAll('source');

                for (let i = 0; i < srcsets.length; i += 1) {
                    srcsets[i].srcset = srcsets[i].dataset.srcset
                    srcsets[i].removeAttribute('data-srcset')
                }

                img.addEventListener('load', () => {
                    setTimeout(() => {
                        el.classList.remove('image-lazy')
                    }, 60)
                })
            }

            init();

        }
        
        lazyLoad();

        function removeHidden() {
            document.querySelector('#pictet').classList.remove('is-hidden');
        }

        setTimeout(function() {
            removeHidden();
        }, 500)

        var videoPlay = document.querySelector('#pictet-play');
        videoPlay.addEventListener('click', function(e) {
            e.preventDefault();
            var video = document.querySelector('#youtube-video');
            var videoOverlay = document.querySelector('#video-overlay');
            videoOverlay.classList.add('is-hidden');
            video.setAttribute('src', video.getAttribute('src') + "1");
        });