link(rel="stylesheet", href="css/index.css")

.nsl
	._top
		a(href="https://www.nsandi-adviser.com/" target="_blank")._logo
			img(src="/images/nsl-logo.jpg", alt="NS&L Logo")
		._tagline NS&amp;I is backed by HM Treasury,meaning all money invested is 100% secure. #[a(href="https://www.nsandi-adviser.com/" target="_blank") Find out more]
	._grid
		._item.-green
			a(href="https://www.nsandi-adviser.com/why-nsandi" target="_blank") 
				span Why NS&amp;L
		._item.-purple
			a(href="https://www.nsandi-adviser.com/products" target="_blank") 
				span Our Products
		._item.-pink
			a(href="https://www.nsandi-adviser.com/nsi-launches-new-phone-service-financial-advisers" target="_blank") 
				span NS&amp;I launches new phone service for financial advisers
		._item.-purple
			a(href="https://www.nsandi-adviser.com/contact" target="_blank") 
				span Contact Us