link(rel="stylesheet", href="css/brooks.css")

p(style="margin-top:20px;")
    strong Single Strategy Solutions in association with Brooks Macdonald
#banner-brooks-macdonald
    .brooks-macdonald__header
        a(href="http://www.brooksmacdonald.com/" target="_blank")
            img.brooks-macdonald__logo(src="http://www.adviserhome.co.uk/cd-content/uploads/images/logo%281%29.png")
        h1.brooks-macdonald__title Focused Investment #[br ]Approach
    .brooks-macdonald__offers
        .brooks-macdonald__offer1.brooks-macdonald__offer
            .brooks-macdonald__offer1--wrap
                h3.brooks-macdonald__offer--title IFSL Brooks Macdonald
                span.brooks-macdonald__offer--subtitle Defensive Capital Fund
                p.brooks-macdonald__offer--text The fund is designed to provide investors with an opportunity to attain the stability of bonds while maintaining exposure to potential equity upsides. The fund aims to achieve long-term capital growth that is independent of equity market performance and positive absolute returns over rolling three year periods. The fund accomplishes this by investing in a range of defensive assets – investments that are generally lower risk and less volatile than equities, and don’t rely on market growth to achieve returns – such as preference shares, convertibles and structured notes.
                a.brooks-macdonald__offer--link(href="http://www.defensivecapitalfund.com" target="_blank")
                    span(style="color: rgb(255, 255, 255") Find out more
        //- .brooks-macdonald__offer2.brooks-macdonald__offer
            h3.brooks-macdonald__offer--title IFSL North Row
            span.brooks-macdonald__offer--subtitle Liquid Property Fund
            p.brooks-macdonald__offer--text A highly innovative property fund that offers investors liquid exposure to global real estate markets by synthetically recreating commercial property returns. A UCITS property fund, the fund aims to provide income and long-term capital gains.
            a.brooks-macdonald__offer--link(href="http://www.northrowcapital.com/home" target="_blank")
                span(style="color: rgb(255, 255, 255)") Find out more
    .brooks-macdonald__footer
        .brooks-macdonald__find-out To find out more please contact
        .brooks-macdonald__footer__flex
            span.brooks-macdonald__footer--name Andrew Pope
            .brooks-macdonald__footer__flex--wrap
                a.brooks-macdonald__footer__flex--wrap__item(href="tel:02074085523") 
                    img(src="/cd-content/uploads/images/icon-phone.png") 
                    span 0207 408 5523
                a.brooks-macdonald__footer__flex--wrap__item(href="mailto:andrew.pope@brooksmacdonald.com")
                    img(src="/cd-content/uploads/images/icon-email.png") 
                    <span class="__cf_email__" data-cfemail="3b5a555f495e4c154b544b5e7b594954545048565a585f54555a575f15585456">[email&nbsp;protected]</span><script data-cfhash='f9e31' type="text/javascript">/* <![CDATA[ */!function(t,e,r,n,c,a,p){try{t=document.currentScript||function(){for(t=document.getElementsByTagName('script'),e=t.length;e--;)if(t[e].getAttribute('data-cfhash'))return t[e]}();if(t&&(c=t.previousSibling)){p=t.parentNode;if(a=c.getAttribute('data-cfemail')){for(e='',r='0x'+a.substr(0,2)|0,n=2;a.length-n;n+=2)e+='%'+('0'+('0x'+a.substr(n,2)^r).toString(16)).slice(-2);p.replaceChild(document.createTextNode(decodeURIComponent(e)),c)}p.removeChild(t)}}catch(u){}}()/* ]]> */</script></span> </a></div>