link(rel="stylesheet", href="css/page.css")

#brooks
	//- ._top
	//- 	a(href="https://www.brooksmacdonald.com/" title="Brooks Macdonald" target="_blank")
	//- 		img(src="/images/brooks-logo.png", alt="Brooks Management Logo")
	//- 	._tagline An award-winning investment management firm, dedicated to providing an outstanding service to professional advisers, private clients, trusts and charities.
	
	._top-new
		a(href="https://www.brooksmacdonald.com/" title="Brooks Macdonald" target="_blank")
			img(src="/images/brooks-logo-white.png", alt="Brooks Management Logo")
	
	._content
		
		h2 About

		.b_flex
			._half
				p Brooks Macdonald Group, through its various subsidiaries, specialises in providing investment management services in the UK and internationally. The Group, which was founded in <strong>1991</strong> and began trading on AIM in 2005, has discretionary funds under management (FUM) of <strong>&pound;12.4 billion</strong> as at 30 June 2018.
			._half.-stats
				img(src="/images/brooks1.jpg", alt="Brooks Macdonald was founded in 1991")

		.b_flex
			._half.m-order-2
				.b-awards
					div
						img(src="/images/brooks-award1.jpg", alt="Brooks Macdonald - defaqto 2018 DFM Bespoke")
					div
						img(src="/images/brooks-award2.jpg", alt="Brooks Macdonald - defaqto 2018 DFM MPS Direct")
					div
						img(src="/images/brooks-award3.jpg", alt="Brooks Macdonald - defaqto 2018 DFM Service")
					div
						img(src="/images/brooks-award4.jpg", alt="Brooks Macdonald - defaqto 2018 DFM MPS on Platform")
			
			._half.m-order-1
				p Our investment managers and business development team work with independent financial advisers aiming to enhance their clients' wealth through the provision of investment solutions. Our transparent investment process allows us to work with professional advisers to provide investment management services to suit both your firm and your clients.

	ul.b-list
		
		li
			._img
				img(src="/images/brooks-service1.jpg", alt="Our investment process")
			._title 
				span Our investment process
			a(href="https://www.brooksmacdonald.com/investment-management/our-investment-process" title="Our investment process" target="_blank")
				span Our investment process

		li
			._img
				img(src="/images/brooks-service2.jpg", alt="Bespoke Portfolio Service")
			._title 
				span Bespoke Portfolio Service
			a(href="https://www.brooksmacdonald.com/uk-adviser/bespoke-portfolio-service" title="Bespoke Portfolio Service " target="_blank")
				span Bespoke Portfolio Service


		li
			._img
				img(src="/images/brooks-service3.jpg", alt="Managed Portfolio Service ")
			._title 
				span Managed Portfolio Service 
			a(href="https://www.brooksmacdonald.com/uk-adviser/managed-portfolio-service" title="Managed Portfolio Service " target="_blank")
				span Managed Portfolio Service 


		li
			._img
				img(src="/images/brooks-service4.jpg", alt="Multi Asset Funds")
			._title 
				span Multi Asset Funds
			a(href="https://www.brooksmacdonald.com/investment-management/multi-asset-funds" title="Multi Asset Funds" target="_blank")
				span Multi Asset Funds

		li
			._img
				img(src="/images/brooks-service51.jpg", alt="Working with Advisers")
			._title 
				span Working with Advisers
			a(href="https://www.brooksmacdonald.com/uk-adviser" title="Working with Advisers" target="_blank")
				span Working with Advisers


		li
			._img
				img(src="/images/brooks-service6.jpg", alt="DFM due diligence")
			._title 
				span DFM due diligence
			a(href="https://brooks-macdonald.com/p/9TF-8I9/seven-steps-2018" title="DFM due diligence" target="_blank")
				span DFM due diligence


		li
			._img
				img(src="/images/brooks-service7.jpg", alt="Insights")
			._title 
				span Insights
			a(href="https://www.brooksmacdonald.com/insights" title="Insights" target="_blank")
				span Insights


		li
			._img
				img(src="/images/brooks-service8.jpg", alt="Contact Us")
			._title Contact Us
			a(href="https://www.brooksmacdonald.com/uk-adviser/meet-the-new-business-development-team" title="Contact Us" target="_blank")
				span Contact Us

