link(rel="stylesheet", href="css/page.css")

#brooks
	._top
		a(href="https://www.brooksmacdonald.com/" title="Brooks Macdonald" target="_blank")
			img(src="/images/brooks-logo.png", alt="Brooks Management Logo")
		._tagline An award-winning investment management firm, dedicated to providing an outstanding service to professional advisers, private clients, trusts and charities.
	
	._content
		
		h2 About

		.b_flex
			._half
				p Brooks Macdonald Group, through its various subsidiaries, specialises in providing investment management services in the UK and internationally. The Group, which was founded in <strong>1991</strong> and began trading on AIM in 2005, has discretionary funds under management (FUM) of <strong>£12.4 billion</strong> as at 30 June 2018.
			._half
				img(src="/images/brooks1.png", alt="Brooks Macdonald was founded in 1991")
				img(src="/images/brooks2.png", alt="Brooks Macdonald - £12.4 billion funds under management ")

		.b_flex
			._half.m-order-2
				.b-awards
					img(src="/images/brooks-award1.png", alt="Brooks Macdonald - defaqto 2018 DFM Bespoke")
					img(src="/images/brooks-award2.png", alt="Brooks Macdonald - defaqto 2018 DFM MPS Direct")
					img(src="/images/brooks-award3.png", alt="Brooks Macdonald - defaqto 2018 DFM Service")
					img(src="/images/brooks-award4.png", alt="Brooks Macdonald - defaqto 2018 DFM MPS on Platform")
			
			._half.m-order-1
				p Our investment managers and business development team work with independent financial advisers aiming to enhance their clients’ wealth through the provision of investment solutions. Our transparent investment process allows us to work with professional advisers to provide investment management services to suit both your firm and your clients.

	ul.b-list
		
		li
			._img
				img(src="/images/brooks-service2.jpg", alt="Our investment process")
			._title Our investment process
			a(href="https://www.brooksmacdonald.com/investment-management/our-investment-process" title="Our investment process" target="_blank")

		li
			._img
				img(src="/images/brooks-service2.jpg", alt="Bespoke Portfolio Service")
			._title Bespoke Portfolio Service
			a(href="https://www.brooksmacdonald.com/uk-adviser/bespoke-portfolio-service" title="Bespoke Portfolio Service " target="_blank")


		li
			._img
				img(src="/images/brooks-service2.jpg", alt="Managed Portfolio Service ")
			._title Managed Portfolio Service 
			a(href="https://www.brooksmacdonald.com/investment-management/managed-portfolio-service" title="Managed Portfolio Service " target="_blank")


		li
			._img
				img(src="/images/brooks-service2.jpg", alt="Multi Asset Funds")
			._title Multi Asset Funds
			a(href="https://www.brooksmacdonald.com/investment-management/multi-asset-funds" title="Multi Asset Funds" target="_blank")

		li
			._img
				img(src="/images/brooks-service2.jpg", alt="Working with Advisers")
			._title Working with Advisers
			a(href="https://www.brooksmacdonald.com/about-us/our-people/all-departments" title="Working with Advisers" target="_blank")


		li
			._img
				img(src="/images/brooks-service2.jpg", alt="7 Steps Due Diligence")
			._title 7 Steps Due Diligence
			a(href="https://brooks-macdonald.com/p/9TF-8I9/seven-steps-2018" title="7 Steps Due Diligence" target="_blank")


		li
			._img
				img(src="/images/brooks-service2.jpg", alt="Insights")
			._title Insights
			a(href="https://brooks-macdonald.com/p/9TF-8I9/seven-steps-2018" title="Insights" target="_blank")


		li
			._img
				img(src="/images/brooks-service2.jpg", alt="Contact Us")
			._title Contact Us
			a(href="https://www.brooksmacdonald.com/" title="Contact Us" target="_blank")

