link(rel="stylesheet", href="css/development.css")

.stellar__dev
	.stellar__header
		img(src="/images/stellar-logo.png", alt="")
	.stellar__flex
		.stellar__item
			.stellar__img
				img(src="/images/stellar-dev-11.jpg", alt="")
			h2 Client Profiles
			p Useful case studies and planning ideas for how our services could benefit your clients.
			a(href="http://bit.ly/2sHTSQ4") Find out more
		.stellar__item
			.stellar__img
				img(src="/images/stellar-dev-2.jpg", alt="")
			h2 Wrap Platforms
			p Inheritance tax planning solutions online on leading UK wrap platforms.
			a(href="http://bit.ly/2tGgr92") Find out more
		.stellar__item
			.stellar__img
				img(src="/images/stellar-dev-3.jpg", alt="")
			h2 Paraplanner Support
			p Resources to help your paraplanner with research.
			a(href="http://bit.ly/2uJ0e36") Find out more