link(rel="stylesheet", href="css/styles.css")

.stellar
	.stellar__logo
		img(src="/images/stellar-logo.png", alt="Stellar")
	
	section.stellar__section
		.stellar__heading.stellar__heading--1
			.stellar__titles
				h2 Estate and Succession Planning
				p With over 30 years' tax planning experience, we specialise in creating tax efficient estate planning services which have been carefully designed with your clients in mind.
		.stellar__content
			h3 Planning and staying in control
			p Our Estate & Succession Planning Services allow your clients to enjoy their capital throughout their lifetime while at the same time ensuring they maximise tax efficiency for their beneficiaries.
			p Using long-standing legislation called Business Relief (formerly Business Property Relief) our services are designed to provide 100% relief from inheritance tax after two years, without the need for:
			ul.stellar__icons
				li.stellar__icon
					//- img(src="/images/stellar-icon-1.jpg", alt="")
					span Trusts
				li.stellar__icon
					//- img(src="/images/stellar-icon-2.jpg", alt="")
					span Potentially Exempt Transfers

				li.stellar__icon
					//- img(src="/images/stellar-icon-3.jpg", alt="")
					span Any kind of physical transfer of value
		
		.stellar__content
			h3 Clients benefits: 
			p Our services have been refined over the years and have been structured to be transparent and to offer clients a choice based on their investment approach.
			p Your client retains full control of their capital and can benefit from any capital growth and income that is generated. This ensures that their capital is always available if it's required (unexpectedly or otherwise) in the future.

	section.stellar__section
		.stellar__heading.stellar__heading--2
			.stellar__titles
				h2 A service for every client

		.stellar__content
			h3 Discretionary Managed AiM Portfolio Services
			.stellar__tables.stellar__tables--2
				.stellar__table.stellar__table--orange
					.stellar__table__img
						img(src="/images/stellar-bg-3.jpg", alt="")
					h4 Investing in AiM
					.stellar__table__wrap
						p Clients can achieve full IHT relief after two years and retain full access to their capital.
						h5 AiM IHT Portfolio
						ul
							li Most diversified AiM portfolio in the market
							li Available on wrap platform
						a(href="http://bit.ly/2ss20Fi" target="_blank") More

				.stellar__table.stellar__table--yellow
					.stellar__table__img
						img(src="/images/stellar-bg-4.jpg", alt="")
					h4 Protecting ISAs
					.stellar__table__wrap
						p Clients can transfer existing ISAs into our AiM IHT ISA for full IHT relief after two years.
						h5 AiM IHT ISA
						ul
							li Most diversified AiM portfolio in the market
							li Available on wrap platform
						a(href="http://bit.ly/2siaJLE" target="_blank") More

			h3 Asset backed portfolios
			.stellar__tables.stellar__tables--3
				.stellar__table.stellar__table--green
					.stellar__table__img
						img(src="/images/stellar-bg-5.jpg", alt="")
					h4 Capital preservation plus growth
					.stellar__table__wrap
						p Clients can protect their capital from IHT whilst growing their legacy for their children
						h5 Succession
						ul
							li Investing in high-security tangible assets
							li Access to 7 asset classes
						a(href="http://bit.ly/2rMRJl6" target="_blank") More

				.stellar__table.stellar__table--turquoise
					.stellar__table__img
						img(src="/images/stellar-bg-6.jpg", alt="")
					h4 Capital preservation plus income
					.stellar__table__wrap
						p Clients can generate a natural income, without drawing down capital, and achieve IHT relief.
						h5 Estate Planning Service
						ul
							li Investing in high-security tangible assets
							li Target income of 4.5%
						a(href="http://bit.ly/2rw5Uf1" target="_blank") More

				.stellar__table.stellar__table--blue
					.stellar__table__img
						img(src="/images/stellar-bg-7.jpg", alt="")
					h4 Tailored solution for business owners
					.stellar__table__wrap
						p A bespoke service for business owners looking for greater tax efficiency.
						h5 Succession for business
						ul
							li Maintain IHT & Entrepreneurs' Relief
							li Defer CGT
						a(href="http://bit.ly/2rIIrLt" target="_blank") More

			h3 Investment Choice

			ul.stellar__slider
				li
					img(src="/images/stellar-img-1.jpg", alt="")
					span Forestry
				li
					img(src="/images/stellar-img-2.jpg", alt="")
					span Farming
				li
					img(src="/images/stellar-img-3.jpg", alt="")
					span Hotels
				li
					img(src="/images/stellar-img-4.jpg", alt="")
					span Renewable Energy
				li
					img(src="/images/stellar-img-5.jpg", alt="")
					span Residential Property Development
				li
					img(src="/images/stellar-img-6.jpg", alt="")
					span Bridging Finance
				li
					img(src="/images/stellar-img-7.jpg", alt="")
					span AiM Shares





