link(rel="stylesheet", href="css/sidebar.css")

.stellar-s
	.stellar-s__title How to get in contact
	ul.stellar-s__people
		li.stellar-s__person
			.stellar-s__person-image
				img(src="/images/stellar-person-1.jpg", alt="")
			.stellar-s__name Matthew Steiner
			.stellar-s__position Business Development Director
			.stellar-s__contacts
				a(href="mailto:matthew.steiner@stellar-am.com") matthew.steiner@stellar-am.com
				a(href="tel:02033260682") 020 3326 0682
		li.stellar-s__person
			.stellar-s__person-image
				img(src="/images/stellar-person-2.jpg", alt="")
			.stellar-s__name Matthew Sand
			.stellar-s__position Business Development Manager
			.stellar-s__contacts
				a(href="mailto:matthew.sand@stellar-am.com") matthew.sand@stellar-am.com
				a(href="tel:02037578916") 020 3757 8916
		li.stellar-s__person
			.stellar-s__person-image
				img(src="/images/stellar-person-3.jpg", alt="")
			.stellar-s__name Lucinda Watson
			.stellar-s__position Paraplanner support
			.stellar-s__contacts
				a(href="mailto:lucinda.watson@stellar-am.com") lucinda.watson@stellar-am.com
				a(href="tel:02037578915") 020 3757 8915
	.stellar-s__map
		.stellar-s__map__title If you're based near London why not come and visit us at our offices?
		.stellar-s__google 
			iframe(src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2793.4997682342796!2d-0.14128711443416045!3d51.51354716195955!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x7d67fa1412303fdd!2sStellar+Asset+Management+Limited!5e0!3m2!1sru!2suk!4v1499029631471" frameborder="0" style="border:0" allowfullscreen)
	.stellar-s__bottom We create illustrations for all our services on request, please email #[a(href="lucinda.watson@stellar-am.com") lucinda.watson@stellar-am.com] for more details.
		a(href="https://www.stellar-am.com/" target="_blank").stellar-s__logo
			img(src="/images/stellar-logo-gold.png", alt="")

