link(rel="stylesheet", href="css/styles.css")

.munnypot
	h2 Consider these scenarios

.munnypot__top
	
	.munnypot-col
		.munnypot__scene.munnypot__scene--grey
			.munnypot__flex
				.munnypot__scene__icon
					img(src="/images/mummypot-icon-1.png", alt="")
				p "I sometimes chose to offer services to clients purely because of their family connections for example - it might be better if I had a simpler more suitable alternative approach for them"

		.munnypot__scene.munnypot__scene--grey
			.munnypot__flex
				.munnypot__scene__icon
					img(src="/images/mummypot-icon-1.png", alt="")
				p "I have to turn some potential clients away - I don't like to do so, but for smaller investments or simple ISA cases its impossible to justify a worthwhile fee"
	.munnypot-col
		.munnypot__scene.munnypot__scene--purple
			.munnypot__flex
				.munnypot__scene__icon
					img(src="/images/mummypot-icon-2.png", alt="")
				p "Some of my clients need a simple investment solution and our full service face to face advice may be uneconomic to deliver"

	.munnypot-col
		.munnypot__scene.munnypot__scene--grey
			.munnypot__flex
				.munnypot__scene__icon
					img(src="/images/mummypot-icon-1.png", alt="")
				p "We still have some historic clients who may not have investments to suit their current circumstances - a cost efficient way to bring their investments into line with their risk profile could be really valuable"

		.munnypot__scene.munnypot__scene--grey
			.munnypot__flex
				.munnypot__scene__icon
					img(src="/images/mummypot-icon-1.png", alt="")
				p "I know there are large number of potential  clients who currently don't have access to advice and I'd be interested in any solution which helps them"

.munnypot__question
	h3 Do any of these relate to your own situation?
	h4 If so you may be interested in our partnership with
	img(src="/images/munnypot-logo.jpg", alt="")

.munnypot__about
	.munnypot__phone
		img(src="/images/munnypot-image.jpg", alt="")
	.munnypot__list
		.munnypot__item Munnypot provides goals based, low cost  online automated investment advice
			div
		.munnypot__item Their service offers a range of risk based portfolios - run by Vanguard
			div
		.munnypot__item Munnypot takes full responsibility for the advice - you have a clean regulatory hand off
			div
		.munnypot__item You gain from business Munnypot transact with clients you transfer to them
			div
		.munnypot__item If the client's needs become more complex then Munnypot would direct them back to you
			div
		.munnypot__item Munnypot is created by ex Financial Advisers and powered by SEI
			div.span_class
		.munnypot__risk
			p Capital At Risk


.munnypot__bottom
	.munnypot__box.munnypot__box--grey
		h5 More details
		p Take a look at this two page summary
		a(href="") View
	.munnypot__box.munnypot__box--green
		h5 Want to know more?
		p If you would like to hear more contact
		a(href="mailto:adviserhome@munnypot.com") Email
.munnypot__statement
	span Munnypot is a trading name of Munnypot Limited which is an Appointed Representative of Resolution Compliance Limited which is authorised and regulated by the Financial Conduct Authority. FRN 574048.







