link(rel="stylesheet", href="css/styles.css")
.orbis
	._header.-blue-dark
		div
			a(href="https://www.orbis.com/uk/intermediaries/home" target="_blank")
				img(src="/images/orbis-logo.png", alt="Orbis Logo")
		._title Designed to invest differently
	._content
		._welcome
			h2 Orbis in 30 seconds
			p A global investment firm, around &pound;28 billion of assets, founded in 1989, privately owned with offices across 5 continents - 2 in London, fundamental, long-term and contrarian, structured to encourage bold but considered decisions, business model requires meaningful long-term outperformance to our clients.
		._video
			div
				img(src="/images/orbis-key1.png", alt="Orbis was founded in 1989")
			div
				img(src="/images/orbis-key2.png", alt="28 billion pounds assets under management")
			

	._links
		ul._top-links
			li.-blue-dark
				a(href="https://www.orbis.com/uk/intermediaries/home" title="The Orbis Difference" target="_blank")
					img(src="/images/orbis-icon1.png", alt="The Orbis Difference")
					span The Orbis #[br]Difference
			li.-blue
				a(href="https://www.orbis.com/uk/intermediaries/funds/global-equity-fund?utm_source=Adviser%20Home&utm_medium=Email&utm_campaign=Solus1" title="The Orbis Global Equity Fund" target="_blank")
					img(src="/images/orbis-icon2.png", alt="The Orbis Global Equity Fund")
					span Global Equity #[br]Fund
			li.-blue-dark
				a(href="https://www.orbis.com/uk/intermediaries/funds/global-balanced-fund?utm_source=Adviser%20Home&utm_medium=Email&utm_campaign=Solus1" title="The Orbis Global Balanced Fund" target="_blank")
					img(src="/images/orbis-icon3.png", alt="The Orbis Global Balanced Fund")
					span Global Balanced #[br]Fund
			li.-blue
				a(href="https://www.orbis.com/uk/intermediaries/fees" title="The Orbis Only Pay for Performance" target="_blank")
					img(src="/images/orbis-icon4.png", alt="The Orbis Only Pay for Performance" )
					span Only Pay #[br]for Performance

		ul._bottom-links
			li
				a(href="https://www.orbis.com/uk/intermediaries/about-us/about-us" title="About Orbis" target="_blank")
					img(src="/images/orbis-bg1.png", alt="About Orbis")
					span About Us
			li
				a(href="https://www.orbis.com/uk/intermediaries/about-us/our-approach" title="Orbis Investment approach" target="_blank")
					img(src="/images/orbis-bg2.png", alt="About Orbis")
					span Our investment approach
			li
				a(href="https://www.orbis.com/uk/intermediaries/funds/how-to-invest?utm_source=Adviser%20Home&utm_medium=Email&utm_campaign=Solus1" title="Where to buy Orbis funds" target="_blank")
					img(src="/images/orbis-bg3.png", alt="Where to buy Orbis funds")
					span Where to buy our funds
			li
				a(href="https://www.orbis.com/uk/intermediaries/contact" title="Contact Orbis" target="_blank")
					img(src="/images/orbis-bg4.png", alt="Contact Orbis")
					span Contact info
