link(rel="stylesheet", href="css/styles.css")

#info-cpd
	
	._top
		img(src="/images/cpd-puzzle-1.png", alt="" class="_img1")
		img(src="/images/cpd-puzzle-2.png", alt="" class="_img2")
		img(src="/images/cpd-puzzle-3.png", alt="" class="_img3")
		img(src="/images/cpd-puzzle-4.png", alt="" class="_img4")
		._title
			div The case for
			div #[span CPD] as a core element
			div in adviser engagement programmes

	._requirements
		._title
			img(src="/images/cpd-key.png", alt="")
			._main Market Requirements
			._sub a common commitment to Continuous Professional Development
		._boxes
			._box
				div #[span Adviser] needs
				ul
					li CPD is mandatory
					li A reward for spending time on provider content
					li Ease of CPD access and certification is essential
					li CPD content menu as a route to genuine professional and commercialdevelopment
			._box
				div #[span Provider] needs
				ul
					li To know which advisers engage and understand products etc so move to assessment rather than attendance model for CPD
					li CPD content demanding more focused attention
					li GDPR Permissions to enable contact and follow-up
					li Cost effective process for content, learning objectives, and certification
					li CPD service to leverage commitment to events and webinars

	._quote
		._col
			img(src="/images/cpd-img-1.png", alt="" class="_img1")
		._col
			img(src="/images/cpd-arrow.png", alt="" class="_img2")
			img(src="/images/cpd-coins-1.png", alt="" class="_img3")
			img(src="/images/cpd-coins-2.png", alt="" class="_img4")
			._box
				div “CPD is not a collection of attendance certificates – we expect you to be able to demonstrate that you have developed your knowledge and skills as a result”
				span FCA

	
	._section
		._box-title
			._subtitle The process in practice
			._title Partnering with Adviser Home
		._diagram-fx
			._diagram
				img(src="https://www.adviserhome.co.uk/cd-content/uploads/files/green-diagramm.svg", alt="", class="_img")
				._title For #[span Providers] 
				ul
					li Adviser Home e comms to fill events and webinars or send advisers to CPD Center
					li Providers send us content, learning objectives, assessments q/a’s #[#_info(onClick="showInfo(this)") i #[span If providers wish then we can arrange for CISI accredited learning objectives and assessment questions]] 
					li Adviser Home upload onto CPD Center for up to 3 months and e comms to drive futher advisers to use
					li Adviser Home send certificates to advisers
					li Adviser Home send CSV files to providers to allow follow up and offer further assistance if required
			._diagram-img 
				img(src="/images/cpd-img-2.png", alt="")

		._diagram-fx
			._diagram-img.-m-order-1
				img(src="/images/cpd-img-3.png", alt="" class="_img2")
			._diagram
				img(src="https://www.adviserhome.co.uk/cd-content/uploads/files/grey-diagramm.svg", alt="", class="_img")
				._title For #[span Advisers] 
				ul.-blue
					li Advisers receive CPD link at provider event/webinar or via e comms from Adviser Home
					li Advisers access learning content - video/PDF etc at time/place to suit
					li Advisers register to complete assessment (up to 10 attempts) and give GDPR contact permissions
					li Advisers download assessment certificate in PDF
					li Advisers engage with providers who follow up (from CSV file)

	._section
		._box-title
			._title The CPD Centre in brief

		._brief-fx
			._col
				ul
					li Low resource commitment (time andcosts) for providers
					li Allows providers to show support to advisers and build segmented data base of advisers competent in defined areas
					li Shows commitment to professional approach with CPD only by assessment providing reassurance to Distribution Management and Compliance
					li A paper-free, turn-key approach for advisers
					li Instant easy access content and certification for advisers - all on line
			._col 
				._img
					img(src="/images/cpd-img-4.png", alt="")

	._section
		img(src="/images/cpd-img-5.png", alt="" class="_section-img")
		._box-title.-dark
			._title Partnering with Adviser Home on CPD
		
		._contact-fx
			._col 
				img(src="/images/cpd-img-6.png", alt="")
			._col
				._desc
					p We see this as a joint initiative so we operate with a shared distribution risk.
					p Our fee basis is:
					ul
						li A fee for set up and maintaining content on site for 3 months
						li A fee per adviser (per certificate issued)
			._col-1
				p In addition we can arrange ecomms packages as required using our specialist vehicle CPDMix to help generate registrations at events carrying CPD ( face to face or webinar ) or to encourage advisers to use the service on #[a(href="http://www.adviserhome.co.uk/cpd") www.adviserhome.co.uk/cpd]

				._bold Contact
				p To arrange a demonstration please contact #[strong John Enos]:
				p #[strong 07701 092334] and #[strong John@adviserhome.com]

				a(href="http://www.adviserhome.co.uk/cpd")._adviser-logo
					img(src="/images/cpd-adviser-logo.png", alt="")
					span www.adviserhome.co.uk/cpd



	


script.
	function showInfo(el){
		if(el.className === 'is-active') {
			el.className = ""
		} else {
			el.className = "is-active"
		}
	}


