link(rel="stylesheet", href="css/index.css")

#momentum
	
	.momentum__head
		._logo
			a(href="https://momentum.co.uk/channels/financial-adviser" title="Momentum" target="_blank") 
				img(src="/images/momentum-logo.png", alt="Momentum")
		//- ._tagline #[span With us,] #[span it's personal]
	
	.momentum__content
		p Momentum Global Investment Management have managed multi-asset funds since 1998. The firm has a talented and well resourced fund management team who focus on managing outcome-based investment solutions, delivered through multi-asset portfolios and tailored client solutions.
		p As a boutique asset manager, we have the scale and expertise to deliver leading multi-asset solutions and Model Portfolio Solutions for advisers. Our solutions are structured to provide a sophisticated investment offering that aims to perform strongly in an array of market conditions.

	.momentum__col.-right
		._img
			img(src="/images/momentum__banner-1.jpeg", alt="Momentum| Our model portfolios")
		._content
			h2 Our Model Portfolios
			p The Momentum Managed Portfolios are designed to give investors of all risk profiles access to discretionary investment strategies through model portfolios suitable to them and their investment goals. Our solutions are structured to provide a sophisticated investment offering that aims to perform strongly in an array of market conditions. The Managed range consists of six Managed Portfolios and one Income Portfolio designed to cater for a wide range of risk and return appetites.
			p Learn more about our Model Portfolios by clicking the link below:
			a.momentun__btn(href="https://momentum.co.uk/channels/financial-adviser/uk-adviser/model-portfolios" title="Momentum | Our model portfolios" target="_blank") MANAGED PORTFOLIOS
	
	.momentum__col
		._img
			img(src="/images/momentum__banner-2.jpeg", alt="Momentum| Our model portfolios")
		._content
			h2 Our Multi-Asset Range
			p The Momentum Multi-Asset Fund Range has been designed to offer a range of risk-rated funds targeting either income or growth in the form of targeted inflation plus returns over time horizons of four years or more. The funds are broadly diversified portfolios investing in a wide range of global asset classes such as equities, fixed income, cash, property, and alternative strategies. The funds’ strategic asset allocation is designed with the aim of achieving the real return investment target while remaining within their nominated risk bands. The funds’ tactical asset allocation is actively managed and reflects Momentum’s views on asset classes, regions, and currency at any point in time.
			p Learn more about our Multi-Asset range by clicking the link below:
			a.momentun__btn(href="https://momentum.co.uk/channels/financial-adviser/uk-adviser/model-portfolios" title="Momentum | Our model portfolios" target="_blank") MULTI-ASSET SOLUTIONS

	.momentum__news
		h2 Latest news and literature

		ul._news
			
			li 
				h3 Media Centre
				._img
					img(src="/images/momentum__new-1.jpeg", alt="Momentum | Media Center")
				a.momentun__btn(href="https://momentum.co.uk/media-centre" title="Momentum | Media Center" target="_blank") Click here
			
			li 
				h3 Literature Library
				._img
					img(src="/images/momentum__new-2.jpeg", alt="Momentum | Literature Library")
				a.momentun__btn(href="https://momentum.co.uk/document-library" title="Momentum | Literature Library" target="_blank") Click here
			
			li 
				h3 Global matters
				._img
					img(src="/images/momentum__new-3.jpeg", alt="Momentum | Global matters")
				a.momentun__btn(href="https://momentum.co.uk/global-matters" title="Momentum | Global matters" target="_blank") Click here

			li._brochure
				h3 Brochure
				._img
					img(src="/images/momentum__brochure-1.jpg", alt="Momentum | Momentum Multi-Asset Funds Brochure")
				a.momentun__btn(href="https://momentum.co.uk/media/3118/mgim-multi-asset-brochure-2021_spread.pdf" title="Momentum | Momentum Multi-Asset Funds Brochure" target="_blank") Click here

			li._brochure
				h3 DDQ
				._img
					img(src="/images/momentum__brochure-2.jpg", alt="Momentum | Due Diligence Document")
				a.momentun__btn(href="https://momentum.co.uk/media/3116/adviser-solutions-ddq-april-2021.pdf" title="Momentum | Due Diligence Document" target="_blank") Click here

	.momentum__contacts
		h2 Contact Us

		.momentum__contacts__grid
			._map
				img(src="/images/momentum__map.png", alt="Momentum | Locations")
			
			ul.momentum__contacts__people
				li 
					._name Steve Hunter
					._position Head of Business Development
					._contacts
						a(href="tel:+441519062481") 
							._icon
								img(src="/images/momentum__tel.png", alt="")
							._text +44 (0)151 906 2481
						a(href="mailto:steve.hunter@momentum.co.uk") 
							._icon
								img(src="/images/momentum__email.png", alt="")
							._text steve.hunter@momentum.co.uk
				
				li 
					._name Helen O'Loughlin
					._position Senior Business Development Consultant
					._contacts
						a(href="tel:+441519062470") 
							._icon
								img(src="/images/momentum__tel.png", alt="")
							._text +44 (0)151 906 2470
						a(href="mailto:helen.oloughlin@momentum.co.uk") 
							._icon
								img(src="/images/momentum__email.png", alt="")
							._text helen.oloughlin@momentum.co.uk

				li 
					._name Lucy Dolan
					._position Senior Business Development Consultant
					._contacts
						a(href="tel:+441519062479") 
							._icon
								img(src="/images/momentum__tel.png", alt="")
							._text +44 (0)151 906 2479
						a(href="mailto:lucy.dolan@momentum.co.uk") 
							._icon
								img(src="/images/momentum__email.png", alt="")
							._text lucy.dolan@momentum.co.uk
				
				li 
					._name Michael Agnew
					._position Business Development Consultant
					._contacts
						a(href="tel:+441519062483") 
							._icon
								img(src="/images/momentum__tel.png", alt="")
							._text +44 (0)151 906 2483
						a(href="mailto:michael.agnew@momentum.co.uk") 
							._icon
								img(src="/images/momentum__email.png", alt="")
							._text michael.agnew@momentum.co.uk

	.momentum__disclaimer
		p Your capital is at risk. Before investing you must read the key investor information document (KIID) as it contains important information regarding the funds, including charges, tax and fund specific risk warnings and will form the basis of any investment. The prospectus, KIID and application forms for the VT Momentum Diversified Growth Fund and VT Momentum Diversified Income Fund are available in English from Valu-trac administration services (#[a(href="tel:01343 880344") 01343 880344]). The prospectus, KIID and application forms for the MI Momentum Focus Funds are available in English from Maitland Institutional Fund Services (#[a(href="0845 305 4214") 0845 305 4214]).

		p Momentum Global Investment Management Limited is registered in England and Wales (Company Registration No. 3733094). The registered address is The Rex Building, 62 Queen Street, London, EC4R 1EB. Momentum Global Investment Management Limited is authorised and regulated by the Financial Conduct Authority in the United Kingdom (232357) and is an authorised Financial Services Provider pursuant to the Financial Advisory and Intermediary Services Act 37 of 2002 in South Africa.


	

