link(rel="stylesheet", href="css/index.css")

#seneca
	.seneca__top
		div
			a(href="https://senecaim.com/" title="Seneca Investment Managers Website" target="_blank")
				picture
					source(media="(max-width: 480px)" srcset="/images/seneca-logo.jpg")
					img(src="/images/seneca-logo.jpg" alt="Seneca | Multi-Asset Value Investing")
		div
			a(href="https://momentum.co.uk/" title="momentum" target="_blank")
				picture
					source(media="(max-width: 480px)" srcset="/images/seneca-logo-momentum.png")
					img(src="/images/seneca-logo-momentum.png" alt="Seneca | Multi-Asset Value Investing")

	.seneca__content
		
		.seneca__right
			.seneca__banner.-column
				.seneca__banner-content
					a(href="https://senecaim.com/" title="Seneca Investment Managers Website" target="_blank" class="seneca-logo-link")
						img(src="/images/seneca-logo-white.png", alt="Seneca | Multi-Asset Value Investing")
					p Widen your search for income and growth
					._bottom
						a(href="https://senecaim.com/" title="Seneca Investment Managers Website" target="_blank") www.senecaim.com
						a(href="tel:01519062450" title="Seneca Investment Managers Telephone" target="_blank") 0151 906 2450
				a(href="https://senecaim.com/" title="Seneca Investment Managers Website" target="_blank" class="seneca__banner_link") #[span Seneca]
		
		.seneca__left
			._title Growth at the heart of the deal as companies join forces
			p Seneca IM will become part of Momentum Global Investment Management in Spring 2021.
			p Momentum Global Investment Management Limited has acquired Seneca Investment Managers Limited and this was formalised and approved by the regulator in December 2020.
			p Over the months ahead, both teams will be joining to deliver what we believe will be a truly compelling range of Multi-Asset solutions for advisers, taking the best elements and bringing them together to create an entity with assets under management of almost £5 billion and set to grow.
			p Watch this space for further updates in the Spring.
			p If you would like to know more about Momentum Global Investment Management click the link below.

			.seneca__content-links
				a(href="https://momentum.co.uk/" title="Seneca | Find out more" target="_blank") Find out more
				a(href="https://senecaim.com/register-for-updates/" title="Seneca | Sign up for updates" target="_blank") Sign up for updates



	//- .seneca__books
		.seneca__books__title Literature
		.seneca__books__list
			
			._item
				a(href="https://senecaim.com/professional-investors/literature/" title="Seneca White Paper" target="_blank" class="seneca-brochure-img-link") 
					img(src="/images/seneca-book-1.png", alt="Seneca White Paper" target="_blank")
				a(href="https://senecaim.com/professional-investors/literature/" title="Seneca White Paper" target="_blank" class="seneca-brochure-text-link") Our White Paper
			
			._item
				a(href="https://senecaim.com/content/uploads/2020/01/Seneca-Investment-Managers-Brochure-Version-5.0-2020.pdf" title="Seneca Multi-Asset Value Investing" target="_blank" class="seneca-brochure-img-link")
					img(src="/images/seneca-book-2.png", alt="Seneca Multi-Asset Value Investing" target="_blank")
				a(href="https://senecaim.com/content/uploads/2020/01/Seneca-Investment-Managers-Brochure-Version-5.0-2020.pdf" title="Seneca Multi-Asset Value Investing" target="_blank" class="seneca-brochure-text-link") Our Brochure

			._item
				a(href="https://senecaim.com/professional-investors/literature/" title="Seneca Factsheets" target="_blank")
					img(src="/images/seneca-book-4.png", alt="Seneca Factsheets" target="_blank" class="seneca-brochure-img-link")
				a(href="https://senecaim.com/professional-investors/literature/" title="Seneca Factsheets" target="_blank" class="seneca-brochure-text-link") Our Factsheets



	.seneca__disclaimer
		p About Seneca Investment Managers (a wholly owned subsidiary of Momentum Global Investment Management - MGIM)

		p Seneca Investment Managers, based in Liverpool with a national coverage, operate a Multi-Asset Value approach to investing. Investors in our funds range from institutions such as pension funds and charities, through to financial advisers, discretionary private client managers and personal investors.

		p Seneca Investment Managers has a heritage stretching back to 2002 and prides itself on the ability to identify and invest where there is both quality and unrealised value. MGIM was established in the UK in 1998 and focuses on designing, building and managing outcome-based investment solutions, delivered through multi-asset portfolios and tailored client solutions. The combined businesses received regulatory and legal approval in December 2020 and their shared heritage in Multi-Asset and investment style leads to a highly complementary fit. The combined business plans to launch a range of highly compelling Momentum branded Multi-Asset solutions in the Spring of 2021.

		p Past performance should not be seen as an indication of future performance. The value of investments and any income may fluctuate, and investors may not get back the full amount invested.

		p Seneca Investment Managers Limited (0151 906 2450) is authorised and regulated by the Financial Conduct Authority and is registered in England No. 4325961 with its registered office at 10th Floor, Horton House, Exchange Flags, Liverpool, L2 3YL. FP21 018.
	
	.seneca__bottom
		.seneca__banner.-row
			.seneca__banner-content
				a(href="https://senecaim.com/" title="Seneca Investment Managers Website" target="_blank" class="seneca-logo-link")
					img(src="/images/seneca-logo-white.png", alt="Seneca | Multi-Asset Value Investing")
				p Widen your search for income and growth
				._bottom
					a(href="https://senecaim.com/" title="Seneca Investment Managers Website" target="_blank") www.senecaim.com
					a(href="tel:01519062450" title="Seneca Investment Managers Telephone" target="_blank") 0151 906 2450
			a(href="https://senecaim.com/" title="Seneca Investment Managers Website" target="_blank" class="seneca__banner_link") #[span Seneca]