link(rel="stylesheet", href="css/index.css")

#nc
	._header
		._logo
			a(href="https://www.newcapitalfunds.com/" title="New Capital Logo" target="_blank")
				img(src="/images/nc-logo.png", alt="New Capital Logo")
		._tagline #[span HIGH-CONVICTION] STRATEGIES DESIGNED TO PRODUCE LONG-TERM OUTPERFORMANCE FOR CLIENTS

	._content
		._video
			._video-wrap
				iframe(id="muteplayer" class="embed-responsive-item" src="https://player.vimeo.com/video/217034374?autoplay=1&amp;title=0&amp;byline=0&amp;portrait=0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="")
			a(href="https://marketing.efgam.com/acton/attachment/16717/u-0011/0/-/-/-/-/" title="About us" target="_blank") About us


		._items
			._item
				._icon
					img(src="/images/nc-bg-1.jpg", alt="")
				a(href="https://marketing.efgam.com/acton/attachment/16717/u-0012/0/-/-/-/-/" title="Fund Centre" target="_blank") 
					span Fund Centre
				a(class="_hidden-link" href="https://marketing.efgam.com/acton/attachment/16717/u-0012/0/-/-/-/-/" title="Fund Centre" target="_blank") 
					span Fund Centre
			._item
				._icon
					img(src="/images/nc-bg-2.jpg", alt="")
				a(href="https://marketing.efgam.com/acton/attachment/16717/u-0015/0/-/-/-/-/" title="Research Insights" target="_blank") 
					span Research #[br] Insights
				a(class="_hidden-link" href="https://marketing.efgam.com/acton/attachment/16717/u-0015/0/-/-/-/-/" title="Research Insights" target="_blank")
					span Research Insights
			._item
				._icon
					img(src="/images/nc-bg-3.jpg", alt="")
				a(href="https://marketing.efgam.com/acton/attachment/16717/u-0013/0/-/-/-/-/" title="NewTube" target="_blank") 
					span NewTube
				a(class="_hidden-link" href="https://marketing.efgam.com/acton/attachment/16717/u-0013/0/-/-/-/-/" title="NewTube" target="_blank") 
					span NewTube
			._item
				._icon
					img(src="/images/nc-bg-4.jpg", alt="")
				a(href="https://marketing.efgam.com/acton/attachment/16717/u-0014/0/-/-/-/-/" title="Contact Us" target="_blank") 
					span Contact Us
				a(class="_hidden-link" href="https://marketing.efgam.com/acton/attachment/16717/u-0014/0/-/-/-/-/" title="Contact Us" target="_blank")
					span Contact Us
	._history
		._title LOOK BEYOND THE BENCHMARK
		p We call ourselves a boutique with backing: New Capital is the funds arm of EFG Asset Management (EFGAM), the investment arm of global private banking group EFG International. While we enjoy the benefits of a strong parent, autonomy is crucial to New Capital’s DNA. We have a diversified range of specialist strategies within the equity, fixed income and multi-asset space.
		p The advantages of working with us:

		ul
			li an independent boutique with an #[stong established parent]
			li #[strong truly collaborative]: sharing proprietary ideas and research is integral to the New Capital way
			li #[strong focused expertise], delivering sustainable, long term alpha opportunities
			li #[strong continuously active] across a diversified range of specialist strategies
			li #[strong following our convictions] with active management that is #[strong benchmark aware not benchmark driven]
			li Strategic thinking with #[strong active stock selection]: we have a strong macro framework that sets guidelines for managers and helps shape our range of strategies. But there is no style bias at New Capital and our managers have the flexibility to add alpha.


