link(rel="stylesheet", href="css/banner-may-2019.css")

#prudential__banner
	.prudential__banner__logo
		img(src="/images/prudential-logo-vertical.png" alt="")

	._content
		._text
			p As part of Prudential commitment to adviser support and development they have a range of educational content bought to you here. If you select from the options below you gain access to:
			ul 
				li learning content
				li on line assessment
				li and CPD certificates

			p You can get structured CPD minutes accredited by the Personal Finance Society member CPD scheme and the Chartered Insurance Institute through learning content on Prudential Oracle, in video box sets, through webinars and more.

	//- .prudential__banner__flex
	//- 	.prudential__item
	//- 		.prudential__image
	//- 			img(src="/images/prudential-banner-1.jpg" alt="")
	//- 			h2 Tools and calculators 
	//- 		.prudential__desc
	//- 			p A suite of tools and calculators to help with client tax planning
	//- 			a(href="https://www.pruadviser.co.uk/tools-calculators/?lid=header_tools-and-calculators.html&utm_source=adviser_home&utm_medium=display&utm_campaign=tools_dev_zone&utm_content=ah_tools_dev_zone" target="_blank") View the page
	//- 	.prudential__item
	//- 		.prudential__image
	//- 			img(src="/images/prudential-banner-2.jpg" alt="")
	//- 			h2 Guide your clients through life’s twists and turns 
	//- 		.prudential__desc
	//- 			p Our Life Events hub is full of useful tools and tips to help you support your clients as they plan and navigate life’s key moments
	//- 			a(href="https://www.pruadviser.co.uk/knowledge-literature/business-development/life-events/index.html?utm_source=adviser_home&utm_medium=display&utm_campaign=le_dev_zone&utm_content=ah_le_dev_zone" target="_blank") Find out
	//- 	.prudential__item
	//- 		.prudential__image
	//- 			img(src="/images/prudential-banner-3.jpg" alt="")
	//- 			h2 Oracle: Tax year end opportunities
	//- 		.prudential__desc
	//- 			p Read the latest issue for a series of business development and technical articles
	//- 			a(href="https://www.pruadviser.co.uk/knowledge-literature/professional-development/oracle-publications/" target="_blank") Read more


	._boxes
		._box
			._img
				img(src="/images/prudential-banner-1.jpg" alt="Corporate Investing Video Boxset")
			._text.-border
				._title Corporate Investing Video Boxset
				._p What you need to know about Corporate Investment and the tax implications.
			a(href="https://www.adviserhome.co.uk/cpd/course/corporate-investing-video-boxset/" title="Corporate Investing Video Boxset" target="_blank")
				span Find out more

		._box
			._img
				img(src="/images/prudential-banner-4.jpg" alt="Oracle April 2019")
			._text.-border
				._title Oracle April 2019
				._p This edition focuses on investing and due diligence. 
			a(href="https://www.adviserhome.co.uk/cpd/course/oracle-april-2019/" title="Oracle April 2019" target="_blank")
				span Find out more


		._box
			._img
				img(src="/images/prudential-banner-2.jpg" alt="Inheritance Tax CPD Compilation")
			._text.-border
				._title Inheritance Tax CPD Compilation
				._p If you’re advising clients with a potential Inheritance Tax (IHT) liability and recommending lifetime gifts, it’s important to understand how they’re classified for IHT purposes, how they interact with each other and if any relief will apply on death.  If you need a quick reminder of these areas, please read the following articles 
			a(href="https://www.adviserhome.co.uk/cpd/course/inheritance-tax-cpd-compilation/" title="Inheritance Tax CPD Compilation" target="_blank")
				span Find out more



		._box
			._img
				img(src="/images/prudential-banner-3.jpg" alt="Annual Allowance CPD Compilation")
			._text.-border
				._title Annual Allowance CPD Compilation
				._p With the end of 2018/2019 tax year looming, have your clients maximised their pensions savings? If you need a quick reminder of how the tax relief and Annual Allowance rules work, then read these two articles.
			a(href="https://www.adviserhome.co.uk/cpd/course/annual-allowance-cpd-compilation/" title="Annual Allowance CPD Compilation" target="_blank") 
				span Find out more
