link(rel="stylesheet", href="css/banner.css")

#prudential__banner
	.prudential__banner__logo
		img(src="/cd-content/uploads/images/prudential-logo-vertical.png" alt="")
	.prudential__banner__flex
		.prudential__item
			.prudential__image
				img(src="/cd-content/uploads/images/prudential-banner-1.jpg" alt="")
				h2 Planning Matters 
			.prudential__desc
				p Financial planning brought to life. Download technical case studies
				a(href="http://www.pruadviser.co.uk/content/knowledge/planning-matters-case-studies/index.html?utm_source=adviserhome&utm_campaign=dev_zone&utm_medium=article&utm_content=ah2017_dev_zone_pm_landing" target="_blank") Download
		.prudential__item
			.prudential__image
				img(src="/cd-content/uploads/images/prudential-banner-2.jpg" alt="")
				h2 How tax year end ready are you? 
			.prudential__desc
				p See what support is available to help
				a(href="http://www.pruadviser.co.uk/content/229461/2017-tax-year-end/index.html?utm_source=adviserhome&utm_campaign=dev_zone&utm_medium=article&utm_content=ah2017_dev_zone_tye_microsite" target="_blank") Find out
		.prudential__item
			.prudential__image
				img(src="/cd-content/uploads/images/prudential-banner-3.jpg" alt="")
				h2 Oracle: Tax year end opportunities
			.prudential__desc
				p Read the latest issue for a series of business development and technical articles
				a(href="http://www.pruadviser.co.uk/content/knowledge/oracle_archive/oracle-quarterly/january-2017/index.html?utm_source=adviserhome&utm_campaign=dev_zone&utm_medium=article&utm_content=ah2017_dev_zone_oracle_jan2017" target="_blank") Read more