link(rel="stylesheet", href="css/banner.css")

#prudential__banner
	.prudential__banner__logo
		img(src="/images/prudential-logo-vertical.png" alt="")
	.prudential__banner__flex
		.prudential__item
			.prudential__image
				img(src="/images/prudential-banner-1.jpg" alt="")
				h2 Tools and calculators 
			.prudential__desc
				p A suite of tools and calculators to help with client tax planning
				a(href="https://www.pruadviser.co.uk/tools-calculators/?lid=header_tools-and-calculators.html&utm_source=adviser_home&utm_medium=display&utm_campaign=tools_dev_zone&utm_content=ah_tools_dev_zone" target="_blank") View the page
		.prudential__item
			.prudential__image
				img(src="/images/prudential-banner-2.jpg" alt="")
				h2 Guide your clients through life’s twists and turns 
			.prudential__desc
				p Our Life Events hub is full of useful tools and tips to help you support your clients as they plan and navigate life’s key moments
				a(href="https://www.pruadviser.co.uk/knowledge-literature/business-development/life-events/index.html?utm_source=adviser_home&utm_medium=display&utm_campaign=le_dev_zone&utm_content=ah_le_dev_zone" target="_blank") Find out
		.prudential__item
			.prudential__image
				img(src="/images/prudential-banner-3.jpg" alt="")
				h2 Oracle: Tax year end opportunities
			.prudential__desc
				p Read the latest issue for a series of business development and technical articles
				a(href="https://www.pruadviser.co.uk/knowledge-literature/professional-development/oracle-publications/" target="_blank") Read more