link(rel="stylesheet", href="css/banner.css")

#prudential__banner
	.prudential__banner__logo
		img(src="/images/prudential-logo-vertical.png" alt="")
	.prudential__banner__flex
		.prudential__item
			.prudential__image
				img(src="/images/prudential-banner-1.jpg" alt="")
				h2 Planning Matters 
			.prudential__desc
				p Financial planning brought to life. Download technical case studies
				a(href="https://www.pruadviser.co.uk/knowledge-literature/business-development/case-studies/" target="_blank") Download
		.prudential__item
			.prudential__image
				img(src="/images/prudential-banner-2.jpg" alt="")
				h2 How tax year end ready are you? 
			.prudential__desc
				p See what support is available to help
				a(href="https://www.pruadviser.co.uk/content-pruadviser/229461/2017-tax-year-end/" target="_blank") Find out
		.prudential__item
			.prudential__image
				img(src="/images/prudential-banner-3.jpg" alt="")
				h2 Oracle: Tax year end opportunities
			.prudential__desc
				p Read the latest issue for a series of business development and technical articles
				a(href="https://www.pruadviser.co.uk/knowledge-literature/professional-development/oracle-publications/" target="_blank") Read more