<link href="https://fonts.googleapis.com/css?family=Bitter&display=swap" rel="stylesheet">
link(rel="stylesheet", href="css/index-2020-02-05.css")

#pru
    ._logo
        a(href="https://www.pruadviser.co.uk/knowledge-literature/client-topics/tax-planning/?utm_source=adviserhome&utm_medium=email&utm_campaign=adviserhome_development&utm_content=adviserhome_development_page_feb_2020_tax_planning_hub" title="PruAdviser" target="_blank")
            img(src="/images/prudential-logo-vertical.png" alt="PruAdviser")
    ._banner
        ._content
            ._title Tax Planning hub
            ._text Help your clients identify their allowance and provide them with the best possible outcomes. We’ve a wide range of tools, technical resourced and investment solutions available to male you planning job easier.
            a(href="https://www.pruadviser.co.uk/knowledge-literature/client-topics/tax-planning/?utm_source=adviserhome&utm_medium=email&utm_campaign=adviserhome_development&utm_content=adviserhome_development_page_feb_2020_tax_planning_hub" title="Prudential | Tax Planning hub" target="_blank") Find out more
        ._bottom
            ._triangles
    
    ._oracle
        ._content
            ._col
                ._title Oracle.January
                ._text This edition focuses on Tax Year End opportunities 
                a(href="https://www.pruadviser.co.uk/knowledge-literature/professional-development/oracle-publications/oracle-jan/?utm_source=adviserhome&utm_medium=email&utm_campaign=adviserhome_development&utm_content=adviserhome_development_page_oracle_jan_2020" title="Prudential | Oracle.January" target="_blank") Read more
            ._col
                ._img
                    img(src="/images/pru-oracle-january.jpg", alt="")

    ._webinars
        ._title Trio of Tax Year End Webinars
        ._text Prudential’s Technical team ran a series of Tax Year End webinars covering the following:

        ._list
            
            ._item
                ._img
                    img(src="/images/pru-webinar-1.jpg", alt="")
                ._item_title Tax sometimes is taxing, but there’s welcome ‘reliefs’ from that
                a(href="https://www.pruadviser.co.uk/knowledge-literature/knowledge-library/tax-sometimes-is-taxing/?utm_source=adviserhome&utm_medium=email&utm_campaign=adviserhome_development&utm_content=adviserhome_development_tax_sometimes_is_taxing_webinar" title="Prudential | Tax sometimes is taxing, but there’s welcome ‘reliefs’ from that" target="_blank")
                    span View

            ._item
                ._img
                    img(src="/images/pru-webinar-2.jpg", alt="")
                ._item_title Get your tax year end AA ready  - Pension Annual Allowance that is
                a(href="https://www.pruadviser.co.uk/knowledge-literature/knowledge-library/get-your-tax-year-end-aa-ready/?utm_source=adviserhome&utm_medium=email&utm_campaign=adviserhome_development&utm_content=adviserhome_development_get_your_tax_year_end_aa_ready_webianr" title="Prudential | Get your tax year end AA ready  - Pension Annual Allowance that is " target="_blank")
                    span View
            
            ._item
                ._img
                    img(src="/images/pru-webinar-3.jpg", alt="")
                ._item_title It’s not all about the pension – CGT and IHT at tax year end
                a(href="https://www.pruadviser.co.uk/knowledge-literature/knowledge-library/its-not-all-about-the-pension/?utm_source=adviserhome&utm_medium=email&utm_campaign=adviserhome_development&utm_content=adviserhome_development_its_not_all_about_pensions_webinar" title="Prudential | It’s not all about the pension – CGT and IHT at tax year end" target="_blank")
                    span View

    ._banner.-right
        ._content
            ._title Shining Bright for 15 years
            ._text Prudential have celebrated 15 years of the PruFund Growth Life Fund. A fund that’s endured geo-political uncertainty, imitation, choppy markets and still managed to deliver over the long term.
            a(href="https://www.pruadviser.co.uk/knowledge-literature/prufund-15/?utm_source=adviserhome&utm_medium=email&utm_campaign=adviserhome_development&utm_content=adviserhome_development__prufund_15" title="Prudential | PruFund Growth Life Fund" target="_blank") Find out more
        ._bottom
            ._triangles
    ._about
        ._col
            ._title What are PruFunds
            ._text An established family of multi-asset funds with diversification at its heart. Designed to spread the risk of your client’s investment and aims to grow their money whilst smoothing the investment journey. All our PruFunds are expertly managed by our Treasury and Investment Office (T&IO). One of the largest and most well-resourced in the UK retail market.
            ._text Since the launch of PruFund Growth in 2004, we've evolved the PruFund family, broadening the choice of investment solutions by offering PruFund Cautious and five Risk Managed 'smoothed' PruFunds.
            a(href="https://www.pruadviser.co.uk/knowledge-literature/prufund-15/?utm_source=adviserhome&utm_medium=email&utm_campaign=adviserhome_development&utm_content=adviserhome_development__prufund_15" title="Prudential | PruFund Growth Life Fund" target="_blank") Read more
        ._col
            ._img
            img(src="/images/pru-icon.png", alt="")







