<link href="https://fonts.googleapis.com/css?family=Bitter&display=swap" rel="stylesheet">
link(rel="stylesheet", href="css/index-2021-05-08.css")

#pru
    ._logo
        a(href="https://www.pruadviser.co.uk/" title="PruAdviser" target="_blank")
            img(src="/images/prudential-logo-vertical.png" alt="PruAdviser")
    ._banner
        ._content
            ._title Intergenerational Planning hub
            ._text With average inheritances and IHT receipts rising it means very large tax bills for the estates - often six figures plus! Over the next 20 to 30 years, there's going to be a big wealth transfer down the generations and we've got the solutions and the support to help you help your clients transition that wealth, in a way that suits them.
            a(href="https://www.pruadviser.co.uk/knowledge-literature/client-topics/intergenerational-planning-hub/?utm_source=adviserhome&utm_medium=email&utm_campaign=adviserhome_development&utm_content=adviserhome_development_page_intergenerational_planning_hub" title="Prudential | Intergenerational Planning hub" target="_blank" class="-red") Visit the hub
        //- ._bottom
        //-     ._triangles
    
    //- ._oracle
    //-     ._content
    //-         ._col
    //-             ._title Oracle Plus
    //-             ._text Get the latest insight on a wide range of technical and regulatory topics relating to pensions and retirement, tax, estate planning and more. 
    //-             a(href="https://www.pruadviser.co.uk/knowledge-literature/oracle-plus/?utm_source=adviserhome&utm_medium=email&utm_campaign=adviserhome_development&utm_content=adviserhome_development_page_oracle-plus" title="Prudential | Oracle.January" target="_blank") Read more
    //-         ._col
    //-             ._img
    //-                 img(src="/images/pru-oracle-plus-hero.jpg", alt="")

    ._webinars
        ._title Oracle Live Webinars
        ._text Prudential's webinars have been designed to inform, interest and educate on a wide variety of topics. #[br] #[br] A selection of their webinars offer a CPD structured minutes certificate. To qualify for this, once you’ve watched a webinar, go to the Testing Centre to answer some questions and receive a certificate.

        ._list

            //- ._item
            //-     ._img
            //-         img(src="/images/pru-testing-webinar.jpg", alt="")
            //-     ._item_title Testing Center
            //-     a(href="https://www.pruadviser.co.uk/knowledge-literature/professional-development/testing/?utm_source=adviserhome&utm_medium=email&utm_campaign=adviserhome_development&utm_content=adviserhome_development_testing_center" title="Prudential | Testing center " target="_blank")
            //-         span View
            
            ._item
                ._img
                    img(src="/images/pru-testing-webinar.jpg", alt="")
                ._item_title Oracle Live
                a(href="https://www.pruadviser.co.uk/knowledge-literature/professional-development/oracle-live/?utm_source=adviserhome&utm_medium=email&utm_campaign=adviserhome_development&utm_content=adviserhome_development_oracle_live_page" title="Prudential | Oracle Live" target="_blank")
                    span View

    ._banner.-right
        ._content
            ._title T&IO: How we manage hub
            ._text The facts and figures behind their approach.
            a(href="https://www.pruadviser.co.uk/funds/how-we-manage-money/?utm_source=adviserhome&utm_medium=email&utm_campaign=adviserhome_development&utm_content=adviserhome_development__how_we_manage_hub" title="Prudential | T&IO: How we manage hub" target="_blank") Find out more
        ._bottom
            ._triangles
    ._about
        ._col
            ._title T&IO - the engine behind Prudential's multi asset portfolios
            ._text The M&G Treasury and Investment Office (T&IO) has great strength in depth with a team that includes investment professions with expertise in capital market research, investment strategy design, liability management, derivatives and portfolio management. They are the team behind the UK's largest With- Profits Fund - and many other Prudential funds. 
            a(href="https://www.pruadviser.co.uk/funds/how-we-manage-money/tio-introduction/?utm_source=adviserhome&utm_medium=email&utm_campaign=adviserhome_development&utm_content=adviserhome_development__prufund_15" title="Prudential | T&IO - the engine behind Prudential's multi asset portfolios" target="_blank") Understand more
        ._col
            ._img
            img(src="/images/pru-icon.png", alt="")







