link(rel="stylesheet", href="css/styles.css")

#prudential__page
    img.prudential__logo(alt='', src='/images/prudential-logo-horizontal.jpg')
    .prudential__intro
        p
            | The number of multi-asset funds available is increasing. A recent Investment Association report places it as one of the bestselling sectors during the first half of 2017, with over 590 funds available. Choosing the right manager is vital, but the increasing choice makes it harder.
    h2.prudential__h2
        | Dedicated multi-asset funds website
    p
        | Here you'll find a whole of support material, including questions to ask your multi-asset manager, details of Prudential's multi-asset proposition, market updates, articles and webinar recordings. 
        a(href='https://www.pruadviser.co.uk/content-pruadviser/229461/multi-asset-funds/', target='_blank') Visit our dedicated website now.

    .prudential__section
        .prudential__section--left
            img(alt='', src='/images/pru-image.jpg')
        .prudential__section--right
            h2
                | Our PruFund range of funds
            p
                | Easily access key support we have around our PruFund range of funds.
            ul
                li
                    a.prudential__link--red(href='https://www.pruadviser.co.uk/funds/fund-performance/', target='_blank') Instant access to the latest performance charts of selected funds
                li
                    a.prudential__link--red(href='https://www.pruadviser.co.uk/funds/prufund-egr/', target='_blank') Get the latest Expected Growth Rates
                li
                    a.prudential__link--red(href='https://www.pruadviser.co.uk/knowledge-literature/literature-library/', target='_blank') Download support material from our PruFund core kit

    .prudential__red__section
        img(alt='', src='/images/prudential-banner-section.jpg')
        .prudential__red__section__content
            h2
                | Life Events hub
            p
                | We know it’s important you’re there for your clients. At key milestones they reach and challenges they face. In our Life Events hub we have support for clients who are:
            ul
                li going through a divorce
                li getting married or remarried
                li looking to leave a legacy
                li that have received a windfall
                li are planning for retirement
                li doing some intergenerational planning

            a.prudential__link--blue(href='https://www.pruadviser.co.uk/knowledge-literature/business-development/life-events/index.html?utm_source=adviser_home&utm_medium=display&utm_campaign=le_corp_zone&utm_content=ah_le_corp_zone', target='_blank') View the page

    //- .prudential__section.prudential__section__grey
        .prudential__section--left
            img(alt='', src='/images/prudential-icon-video.png')
        .prudential__section--right
            h2
                | CPD-accredited boxsets
            p
                | The CPD-accredited boxsets on 
                a.prudential__link--red(href='https://www.pruadviser.co.uk/knowledge-literature/tv/', target='_blank') Knowledge TV
                |  are a great way to enhance or re-affirm your technical knowledge at the same time as earning CPD. Topics covered include:
            ul
                li
                    | Pension and death benefits
                li
                    | Trusts and Trustee Taxation
                li
                    | Annual Allowance
                li
                    | OEICs
                li
                    | Introduction to bonds
                li
                    | Corporate investing
            a.prudential__link--blue(href='https://www.pruadviser.co.uk/knowledge-literature/tv/', target='_blank') Visit the page



    .prudential__section
        .prudential__section--left
            img(alt='', src='/images/prudential-icon-calc.png')
        .prudential__section--right
            h2
                | Tools and calculators
            p
                | Explore the full range of 
                a.prudential__link--red(href='https://www.pruadviser.co.uk/tools-calculators/', target='_blank') tools and calculators
                |  there to help you with your advice process when you need them. Take a look at our all new Retirement Modeller or our School and University fees calculator.
            a.prudential__link--blue(href='https://www.pruadviser.co.uk/tools-calculators/', target='_blank') All tools

