link(rel="stylesheet", href="css/styles.css")

.page__clever
	p This is our latest Development Zone - for all advisers thinking about the competing attractions of in house solutions, model portfolios, external DFMs and other ways to best create and manage your client investment solutions.
	p.clever__green__block The important point is that no matter how you organise your investment solutions the accountability rests with the adviser practice. The regulator is ever more concerned to see the due diligence carried out by advisers and this applies equally whether client portfolios are constructed in house or delegated to an external DFM.
	.clever__flex
		.clever__flex--left
			img(src="/images/pdf-1.png")
		.clever__flex--right
			span.clever__flex--title Developing your Centralised Investment Proposition
			p.clever__flex--p This document from Clever Adviser Technology Ltd, in association with two Professors of Finance at Cass Business School, gives a good outline of the issues involved.
			a.clever__flex--link(href="http://www.adviserhome.co.uk/cd-content/uploads/files/Summary%20paper%20-%20CIP%20-%20Joined%20Up%20Investment%20Thinking.pdf" target="_blank") Read
	.clever__flex
		.clever__flex--left &nbsp;
		.clever__flex--right &nbsp;
	.clever__flex
		.clever__flex--left
			img(alt="" src="/images/pdf-4.png")
		.clever__flex--right
			span.clever__flex--title Key considerations - how investors behave?
			p.clever__flex--p Take a look at this brief blog on Behavioural Finance - an excellent non-technical starter piece on this important subject.
			a.clever__flex--link(href="https://www.cleveradviser.com/7-things-human-emotions-have-ruined-throughout-history/" target="_blank") Read
	.clever__book
		span.clever__flex--title Want to hear more - book your demo now
		p.clever__flex--p We work with Clever Adviser Technology Ltd, who have long experience of helping advisers develop sustained investment success for their clients. Their robust approach to creating and managing investment portfolios is supported by two Professors of Finance at Cass Business School. If you are open to ideas on new ways to create portfolios whilst retaining control within your adviser practice, then a brief demo might be a good place to start.
		a(class="clever__flex--button" href="https://www.cleveradviser.com/l/book-a-demo-adviser-home/" target="_blank") Book a demo now

	
	span.clever__flex--title Comments from advisers already using Clever
	.clever__testemonials
		.clever__testimonials__item
			img(src="/images/clever-icon-person.png", alt="")
			.clever__quote 
				p I've never known an investment process to be so popular with clients
		.clever__testimonials__item
			img(src="/images/clever-icon-person.png", alt="")
			.clever__quote
				p We thought we were already ahead of the curve on quality  of proposition and value for money - but Clever Adviser Technology took us to a new level
		.clever__testimonials__item
			img(src="/images/clever-icon-person.png", alt="")
			.clever__quote 
				p Now we use  Clever client retention is not in question - we can focus on broader financial planning, client service and winning new clients
		.clever__testimonials__item
			img(src="/images/clever-icon-person.png", alt="")
			.clever__quote 
				p Clever have helped me transform the investment side of my business
	.clever__after__quote To read more from advisers #[a(href="") go here]



span.clever__flex--title The Clever proposition in four minutes
p.clever__flex--p This consumer orientated film is a simple, compelling way to introduce your clients to the Clever approach to investments. #[a(href="https://vimeo.com/user23335759" target="_blank") Worth a look, now]
p
	iframe(allowfullscreen="" frameborder="0" height="360" mozallowfullscreen="" src="https://player.vimeo.com/video/181010551?title=0&amp;byline=0&amp;portrait=0" webkitallowfullscreen="" width="640")
p #[a(href="https://vimeo.com/181010551") Scribble Art] from #[a(href="https://vimeo.com/user23335759") CleverAdviser] on #[a(href="https://vimeo.com") Vimeo]