link(rel="stylesheet", href="css/styles.css")

.octopus__page

	.octopus__logo
		img(src="/images/octopus--logo.png" alt="Octopus Investments")

	span.octopus__note For professional advisers only. Not to be relied upon by retail investors. 
	
	.octopus__section
		.octopus__section__header
			h2 About Octopus
		.octopus__section__content
			p The best companies and products make your life simpler, not harder. Why should financial services be any different? When Octopus was founded in 2000, we wanted to build an investment company that put its customers first, by solving real life issues. We also wanted to be fully accountable, honest and upfront about how we managed investors' money.
			p Today we manage more than &pound;7.2 billion1 on behalf of tens of thousands of retail investors, institutions and charities. And we've built market-leading positions in tax-efficient investments and smaller company financing. But no matter how big we get, we'll keep doing the simple things well and we'll keep looking after each of our investors, day in, day out.
			p Visit our #[a(href="https://octopusinvestments.com/adviser/" targer="_blank") website] to find out more about our products and ways we can help.

			span.octopus__note2 * Octopus Investments, September 2017

	.octopus__section
		.octopus__section__header
			h2 Find your local BDM
		.octopus__section__content
			p Our Business Development Managers work closely with financial advisers and wealth managers. They'll work with you to find effective solutions for your clients and to help you grow your business. Our field-based BDMs can come and see you in person, discuss your clients' needs and can even join you for client meetings. You'll also be supported by our team of BDMs based in our London office. For the last four years running, advisers have awarded Octopus BDMs five-stars for service at the Financial Adviser Service Awards. So you know you're in good hands.

 
		.octopus__section.octopus__contact
			p Get in touch with your local #[a(href="http://bit.ly/2wgg9Kv" target="_blank") Octopus Business Development Manager] or call #[a(href="tel:08003162067") 0800 316 2067]

	.octopus__section
		.octopus__section__header
			h2 Client tax planning case studies
		.octopus__section__content
			p We've put together some examples of issues we hear about every day. See our full range of #[a(href="http://www.octopusinvestments.com/adviser/adviser-centre/case-studies" target="_blank" title="Case Study") case studies] to see how our tax-planning ideas may help your clients. Nothing should be taken as investment advice or recommendation.

	.octopus__section
		//- .octopus__section__header
		div.octopus_h2 Inheritance tax portfolios
		.octopus__section__content
			p We're the UK's largest manager of investments that qualify for Business Property Relief (BPR)*. If BPR-qualifying shares have been owned for at least two years and are held at the time of death, they can be passed on free from inheritance tax.
			p Check out our #[a(href="https://www.octopusinvestments.com/adviser/our-products/inheritance-tax-solutions" target="_blank") inheritance tax solutions] to learn more about how our investments may be able to help your clients plan for inheritance tax. To get an idea of which of your clients can benefit and by how much, use our #[a(href="https://octopusinvestments.com/adviser/our-products/inheritance-tax-solutions/inheritance-tax-tools/rnrb-calculator/" target="_blank") residence nil-rate band calculator] to estimate how much inheritance tax is likely to be due on a client's estate.
			p Please note that our inheritance tax investments place capital at risk, so your client may not get back the full amount invested. Tax treatment depends on individual circumstances and may change in future. Tax reliefs depend on the portfolio companies maintaining their qualifying status. Shares of unlisted or AIM listed companies could fall or rise in value more than other shares listed on the main market of the London Stock Exchange. They may also be harder to sell.
			p If you're interested in a specific product, you can find more information on the relevant page:

			ul.octopus-ul-links
				li
					img(src="/images/octopus-product-1.jpg", alt="")
					a(href="http://www.octopusinvestments.com/adviser/our-products/inheritance-tax-solutions/octopus-inheritance-tax-service" target="_blank") #[span Octopus Inheritance Tax Service]
				li
					img(src="/images/octopus-product-2.jpg", alt="")
					a(href="https://www.octopusinvestments.com/adviser/our-products/inheritance-tax-solutions/octopus-aim-inheritance-tax-service" target="_blank") #[span Octopus AIM Inheritance Tax Service]
				li
					img(src="/images/octopus-product-3.jpg", alt="")
					a(href="http://www.octopusinvestments.com/adviser/our-products/inheritance-tax-solutions/octopus-aim-inheritance-tax-isa" target="_blank") #[span Octopus AIM Inheritance Tax ISA]

			span.octopus__note2 * Tax Efficient Review, April 2017


	.octopus__section
		//- .octopus__section__header
		div.octopus_h2 Venture Capital Trusts
		.octopus__section__content
			p VCTs offer investors access to some of the UK's most exciting, high-growth businesses, including unquoted companies. And of course, VCTs offer several tax incentives to help compensate investors for the risk they take with their money. This makes them a flexible planning tool that can be used to help a broad range of clients, including landlords, self-employed business owners and anyone bumping up against recent restrictions to pension contributions.
			p Please note that VCT investments put your clients' capital at risk. The value of their investment, and any income from it, can fall as well as rise, and they may not get back the full amount they invest. Tax treatments depend on individual circumstances and may change in the future. Tax reliefs depend on the VCT maintaining its VCT-qualifying status. VCT shares could rise or fall by more than other shares listed on the main market of the London Stock Exchange, and may also be harder to sell.
			p Before deciding whether to invest, your clients should understand the risks and read the product literature carefully.
			p Check out our range of #[a(href="http://www.octopusinvestments.com/adviser/our-products/venture-capital-trusts" target="_blank") venture capital trusts] and get in touch with your local Octopus Business Development Manager to learn more about our products and how they may be able to help your clients.
			ul.octopus-ul-links.octopus-ul-links-2
				li
					img(src="/images/octopus-product-4.jpg", alt="")
					a(href="http://www.octopusinvestments.com/adviser/our-products/venture-capital-trusts/octopus-titan-vct" target="_blank") #[span Octopus Titan VCT]
				li
					img(src="/images/octopus-product-5.jpg", alt="") 
					a(href="http://www.octopusinvestments.com/adviser/our-products/venture-capital-trusts/octopus-aim-vcts" target="_blank") #[span Octopus AIM VCTs]
				li
					img(src="/images/octopus-product-6.jpg", alt="")
					a(href="http://www.octopusinvestments.com/adviser/our-products/venture-capital-trusts/octopus-apollo-vct" target="_blank") #[span Octopus Apollo VCT]

			p This advertisement is not a prospectus and investors should only subscribe for shares on the basis of information contained in the prospectus and Key Information Document, available at #[a(href="https://octopusinvestments.com/" target="_blank") octopusinvestments.com].




	
	.octopus__disclaimer
		p Personal opinions may change and should not be seen as advice or a recommendation. Tax-efficient investments are not suitable for everyone. Any recommendation should be based on a holistic review of your client's financial situation, objectives and needs. We do not offer investment or tax advice. We recommend investors seek professional advice before deciding to invest. Issued by Octopus Investments Limited, which is authorised and regulated by the Financial Conduct Authority. Registered office: 33 Holborn, London, EC1N 2HT. Registered in England and Wales No. 03942880. We record telephone calls. Issued: December 2017. M2-CAM06291.

